.confirm {
  > .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    > div {
      display: flex;
      gap: 16px;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;

  > .title {
    font-size: 16px;
    font-weight: 600;
  }
}
