@use "styles/theme01" as *;

.container {
  :global(.ant-modal-footer) {
    border: none;
  }
}

.title {
  position: relative;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $colorMain;
  text-align: center;
  .note {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: red;
  }
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: flex-start;
  width: fit-content;
  height: 167px;
  margin: auto;
  border: solid 1px $colorBorder01;
  overflow: auto;
  padding: 0 3px;
  .item {
    position: relative;
    width: 140px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    > div {
      height: 100%;
      > span {
        display: block;
        height: 100%;
        margin: 0 4px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        border-bottom: solid 1px $colorBorder01;
        &.noBorder {
          border: none;
        }
      }
    }
  }
}
