.container {
  width: 341px;
  min-height: 496px;
  padding: 20px 25px;
  border: solid 1px theme("colors.border");
  &.legacy {
    width: 400px;
  }
}

.payBox {
  margin-bottom: 20px;
  > div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 14px;
    &:nth-of-type(1) {
      margin-top: 0;
    }
    > span {
      font-weight: 400;
      font-size: 16px;
      &:nth-of-type(1) {
        color: theme("colors.main");
      }
    }
  }
  > .avgDiscount {
    grid-template-columns: 150px auto;
    > div {
      > input {
        width: 150px;
        color: theme("colors.main");
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        border-bottom: solid 1px theme("colors.main");
        &.noBaseLine {
          border-bottom-color: transparent;
        }
      }
      > span {
        display: inline-block;
        color: theme("colors.main");
        font-weight: 400;
        font-size: 16px;
        // width: 15px;
      }
    }
  }
}

.grayHr {
  border-color: theme("colors.border");
  margin: 0;
}

.inputBox01 {
  margin-top: 15px;
  > span {
    font-weight: 400;
    font-size: 16px;
    color: theme("colors.main");
  }
  > label {
    padding: 13px 0 12px 0;
  }
  .datePicker {
    width: 100%;
  }
}

.payMethodContainer {
  margin-top: 20px;
  > span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: theme("colors.main");
    margin-bottom: 12px;
  }
  .btn {
    width: 16px;
  }
}

.inputBox02 {
  display: grid;
  grid-template-columns: 155px auto fit-content(100%);
  margin-top: 7px;
  &.legacy {
    grid-template-columns: min-content 220px auto fit-content(100%);
    .label {
      display: flex;
      margin-left: 6px;
      > input {
        background-color: transparent;
        width: 100%;
        border-bottom: solid 1px black;
      }
    }
  }

  > * {
    margin: auto;
    margin-left: 0;
  }

  > label {
    padding: unset;
    input {
      text-align: center;
      font-size: 16px;
    }
  }

  > span {
    font-weight: 400;
    font-size: 16px;
    &:nth-of-type(1) {
      margin-right: 8px;
    }
    &:nth-of-type(2) {
      margin-left: 6px;
    }
  }
}

.hidden {
  visibility: hidden;
}

.avgDiscount {
  display: inline-flex;
  align-items: center;

  gap: 2px;
}

.input_exchangeRate {
  &:invalid {
    background-color: pink;
  }
}
