.prodTable {
  width: 100%;
  height: 250px;
  overflow: auto;
  border: solid 1px theme("colors.border");
}

.prodComponent {
  width: 100%;
  height: 350px;
  overflow: auto;
  border: solid 1px theme("colors.border");
}
