@use "styles/theme01" as *;

$leftPadding_title: 41px;
$leftPadding_option: 4px;

$leftPadding_div: $leftPadding_title - $leftPadding_option;

.editEmployee {
  padding: 38px 45px;
  // 使用者代號
  .employeeId {
    min-width: 300px;
    width: fit-content;
    padding: 20px $leftPadding_title;
    border: solid 1px $colorBorder01;
    display: flex;
    > * {
      margin: auto;
    }

    .input02 {
      padding-top: 0;
      padding-bottom: 0;
      input {
        color: $colorMain;
      }
    }
    .checkTip {
      margin-left: 10px;
      width: fit-content;
      white-space: nowrap;
      display: flex;
      > * {
        margin: auto;
      }
      > svg {
        height: 20px;
        width: auto;
        margin-right: 5px;
        &.check {
          color: #42ba96;
        }
        &.cross {
          color: red;
        }
      }
      .muiCircular {
        font-size: 10px;
      }
      .alertTip {
        color: red;
      }
    }
  }

  .editEmployeeItem01 {
    margin-top: 27px;
    .form01 {
      display: grid;
      grid-template-columns: 400px 65px 480px;
      gap: 24px 0;
      padding: 29px $leftPadding_div;
      border: solid 1px $colorBorder01;
      > div:nth-last-of-type(1) {
        grid-column: span 3;
      }
    }
  }
  .editEmployeeItem02 {
    margin-top: 27px;
    .form02 {
      padding: 29px $leftPadding_div;
      padding-right: 75px;
      border: solid 1px $colorBorder01;
      .jobsArr {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 75px;
        .selBox {
          flex: none;
          display: inline-block;
          position: relative;
          width: 378px;
          padding: 7px 18px 21px 18px;
          // margin-left: 75px;
          border: solid 1px $colorBorder01;
          &:nth-of-type(1) {
            margin-left: 0;
          }
          .input02 {
            hr {
              border-color: $colorMain;
            }
          }
          .btnBox {
            position: absolute;
            left: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            display: grid;
            grid-gap: 20px;
            > svg {
              cursor: pointer;
            }
          }
        }
      }
      .bottomContainer {
        margin-top: 28px;
        > div {
          display: inline-block;
          &:nth-of-type(1) {
            width: 407px;
            margin-right: 47px;
          }
          &:nth-of-type(2) {
            display: inline-grid;
            grid-template-columns: 256px 256px;
            gap: 0 22px;
            width: fit-content;
            input {
              width: 100%;
            }
          }
        }
      }
    } // form02
  } // editEmployeeItem02

  .inputSel {
    input,
    div:not([class*="placeholder"]) {
      color: $colorMain;
      hr {
        border-color: $colorMain;
      }
    }
  }

  // -------------------------------
  // 垂直分隔線
  .vr {
    width: 1px;
    height: 100%;
    margin: auto;
    background-color: $colorBorder01;
  }

  .subTitle {
    padding: 11px $leftPadding_title;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: $bgc01;
    margin: auto;
  }
}
