@use "styles/theme01" as *;

.employeeList {
  padding: 4px;
  display: grid;
  overflow: hidden;
  .thead {
    background-color: $bgc01;
    display: flex;
    gap: 63px;
    height: 40px;
    padding-left: 45px;
    padding-right: 20px;
  }
  .tbody {
    overflow: auto;
    .row {
      display: flex;
      gap: 63px;
      min-height: 53px;
      padding-left: 45px;
      padding-right: 20px;
      border-top: solid 1px $colorBorder01;
      cursor: pointer;
      .column {
        > span {
          font-size: 16px;
          color: $colorText;
        }
      }
    }
  }
  .column {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    flex: none;
    > span {
      font-weight: 400;
      font-size: 14px;
      color: #979797;
    }

    &.departmentInfo {
      display: flex;
      flex-wrap: wrap;
      margin-top: 13px;
      margin-bottom: 13px;
      justify-content: flex-start;
      gap: 10px 35px;
    }
  }
}
