@use "styles/theme01" as *;

.btn {
  padding: 10px 44px;
  background-color: $bgc01;
  border-color: $colorBorder01;
  height: auto;
  > span {
    color: $colorMain;
    font-weight: 500;
  }
}
// =======================================================================
.alert {
  :global(.ant-modal-confirm-body) {
    :global(.anticon) {
      display: block;
      margin: auto;
      font-size: 60px;
      float: unset;
    }
    :global(.ant-modal-confirm-title) {
      margin: auto;
      text-align: center;
      margin-top: 10px;
      font-weight: 400;
      font-size: 30px;
      color: $colorMain;
    }
    // 為了把優先級壓過去，所以使用跟antd一樣的選擇器
    :global(.anticon) + :global(.ant-modal-confirm-title) + :global(.ant-modal-confirm-content),
    :global(.ant-modal-confirm-title) + :global(.ant-modal-confirm-content) {
      margin: auto;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
    }
  }

  :global(.ant-modal-confirm-body) + :global(.ant-modal-confirm-btns) {
    text-align: center;
    > button {
      @extend .btn;
    }
  }
}
// =======================================================================
.confirm {
  :global(.ant-modal-confirm-body) + :global(.ant-modal-confirm-btns) {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;
    > button:global(.ant-btn) {
      margin-left: 0;
    }
    > :global(.ant-btn-primary) {
      border-color: $colorActive01;
      > span {
        color: $colorActive01;
      }
    }
  }
}

// =======================================================================
// .inputConfirm {
//   :global(.ant-modal-confirm-body-wrapper) {
//     width: fit-content;
//     margin: auto;
//     :global(.ant-modal-confirm-body) {
//       :global(.anticon) {
//         display: none;
//       }
//       :global(.ant-modal-confirm-title) {
//         font-weight: 400;
//         font-size: 18px;
//         margin: auto;
//       }
//     }
//     :global(.ant-modal-confirm-body) + :global(.ant-modal-confirm-btns) {
//       display: flex;
//       gap: 8px;
//       flex-direction: row-reverse;
//       > button {
//         @extend .btn;
//         margin-left: 0;
//         &:global(.ant-btn-primary) {
//           border-color: $colorActive01;
//           > span {
//             color: $colorActive01;
//           }
//         }
//       }
//     }
//   }
//   .content {
//     margin-top: 68px;
//     margin-bottom: 60px;
//     > input {
//       width: 100%;
//       font-weight: 400;
//       font-size: 18px;
//       text-align: center;
//       border-bottom: solid 1px $colorBorder01;
//     }
//   }
// }
// =======================================================================

.loading {
  :global(.ant-modal-content) {
    background-color: unset;
    box-shadow: unset;
  }
  :global(.ant-modal-confirm-body) {
    :global(.anticon) {
      display: block;
      margin: auto;
      font-size: 100px;
      float: unset;
      color: white;
    }
    :global(.ant-modal-confirm-title) {
      margin: auto;
      text-align: center;
      margin-top: 10px;
      font-weight: 400;
      font-size: 30px;
      color: $colorMain;
    }
    // 為了把優先級壓過去，所以使用跟antd一樣的選擇器
    :global(.anticon) + :global(.ant-modal-confirm-title) + :global(.ant-modal-confirm-content),
    :global(.ant-modal-confirm-title) + :global(.ant-modal-confirm-content) {
      margin: auto;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
    }
  }

  :global(.ant-modal-confirm-btns) {
    display: none;
  }
  &.showBtn {
    :global(.ant-modal-confirm-btns) {
      display: block;
      text-align: center;
      > button {
        padding: 10px 44px;
        background-color: $bgc01;
        border-color: $colorBorder01;
        height: auto;
        > span {
          color: $colorMain;
        }
      }
    }
  }
}

.btnBar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}





// :global(){

// }
