@use "styles/theme01" as *;

.inputModal {
  :global(.ant-modal-content) {
    // display: grid;
    // grid-template-rows: auto fit-content(100%);
    // height: 260px;
    padding: 24px 68px;
    padding-top: 19px;
  }
  :global(.ant-modal-body) {
    padding: 0;
    height: fit-content;
    > p {
      width: fit-content;
      margin: auto;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #14256a;
    }
    > div {
      padding-bottom: 6px;
      margin: 68px 0 60px;
      border-bottom: solid 1px $colorBorder01;
      > input {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $colorText;
        outline: none;
      }
    }
  }

  :global(.ant-modal-footer) {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 24px;
    border: none;
    padding: 0;
    > button {
      height: auto;
      padding: 10px 44px;
      margin: 0 !important;
      &:nth-of-type(1) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-color: $colorBorder01;
      }
      &:nth-of-type(2) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background-color: transparent;
        border-color: $colorActive01;

        > span {
          color: $colorActive01;
        }
      }
    }
  }
}
