@use "styles/theme01" as *;

@use "./modal.module";

.container {
  :global(.ant-modal-content) {
    display: grid;
    grid-template-rows: auto fit-content(100%);
    height: 260px;
  }
  :global(.ant-modal-body) {
    display: grid;
    > * {
      margin: auto;
    }
    > p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $colorText;
    }
  }

  :global(.ant-modal-footer) {
    flex-direction: row-reverse;
    > button {
      height: auto;
      padding: 10px 44px;
      margin: 0 !important;
      &:nth-of-type(1) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-color: $colorBorder01;
      }
      &:nth-of-type(2) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background-color: transparent;
        border-color: $colorActive01;
        > span {
          color: $colorActive01;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
