.selectBarWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px 0;
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 700px;
}

.thead {
  @extend .grid;
  position: sticky;
  top: 79px;
  z-index: 1;
  background-color: theme("colors.bgc01");
  .cell {
    border: solid 1px theme("colors.border");
    border-right-width: 0px;
    &:nth-last-of-type(1) {
      border-right-width: 1px;
    }
  }
}

.row {
  @extend .grid;
  border: solid 1px theme("colors.border");
  border-top: 0;
}
.cell {
  padding: 10px;
  text-align: center;
  &.cell_processChain {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.processChain {
  display: inline-flex;
}
