@use "styles/theme01" as *;

.header {
  padding: 18px 28px;
  > h2 {
    display: inline-block;
    margin: 0;
    margin-right: 26px;
    font-weight: 400;
    font-size: 18px;
    color: $colorMain;
  }
  > button {
    padding: 5px 17px;
    font-weight: 400;
    font-size: 16px;
    color: $colorMain;
    border: solid 1px $colorBorder01;
    background-color: $bgc01;
    &.active {
      color: $colorActive01;
      border: solid 1px $colorActive01;
    }
  }
}

.thead {
  padding: 11px 0;
  background-color: $bgc01;
  min-width: 100%;
  width: fit-content;
  white-space: nowrap;
  z-index: 100;
}

.theadCell {
  display: inline-block;
  padding: 2px 3px;
  margin-left: 16px;
  border: solid 1px transparent;
  width: 100%;
  cursor: default;
  > span {
    color: $colorMain;
    font-size: 16px;
  }
  &.allowMove {
    border: solid 1px $colorMain;
    cursor: grab;
  }
  &.isMoving {
    background-color: $chosenBgc01;
  }
  &.textCenter {
    text-align: center;
  }
}

.noListTip {
  display: inline-block;
  margin: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #c1c1c1;
}

.row {
  padding: 11px 0 11px 0;
  width: fit-content;
  white-space: nowrap;
}

.rowIndex {
  display: inline-block;
  width: 20px;
  margin-left: 12px;
  > span {
    font-weight: 400;
    font-size: 16px;
  }
}

.column {
  display: inline-block;
  padding: 2px 3px;
  margin-left: 16px;
  vertical-align: bottom;
  > div,
  > label {
    padding: 0;
    > span {
      font-size: 16px;
    }
  }
  label input,
  div input {
    font-size: 16px;
  }
  .checkbox {
    display: flex;
    padding-bottom: 1px;
  }
  &.textCenter {
    input,div {
      text-align: center;
    }
    .checkbox {
      justify-content: center;
    }
  }
}

.scrollDiv {
  width: 100%;
  overflow: auto;
}
