@use "styles/theme01" as *;

.container {
  display: flex;
  gap: 35px;
  padding: 0 50px;
  margin-top: 120px;
  > div {
    flex: 1;
    > span {
      font-weight: 400;
      font-size: 18px;
      color: $colorMain;
    }
  }
}

.signature {
  margin: 130px 50px 40px;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  .cell {
    > span {
      font-weight: 400;
      font-size: 18px;
      color: theme("colors.main");
    }
    > .input02 {
      padding: 24px 0 14px;
    }
  }
}
