@use "styles/theme01" as *;

.container {
  display: grid;
  // grid-template-columns: 1000px 295px;
  grid-template-columns: 800px 295px;
  gap: 33px;
  justify-content: space-between;
  padding: 0 22px 0 50px;
}

.profile {
  // background-color: #ddd;
}

.topBox {
  .clientState {
    flex: none;
    padding: 4px 10px;
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: $colorBorder01;
    &.haveState {
      background-color: $colorMain;
    }
  }
}

.form02 {
  display: grid;
  grid-template-columns: auto 394px;
  // grid-template-columns: 550px 394px;
  justify-content: space-between;
}

.clientName {
  grid-column: span 2;
  margin-top: 17px;
  margin-bottom: 4px;
  > div {
    position: relative;
    textarea {
      padding-left: 25px;
    }

    display: flex;
    gap: 20px;

    > .btnSelectCustomer {
      // position: absolute;
      // top: 50%;
      // left: 104px;
      // transform: translateY(-50%);
      // padding: 5px 17px;
      // color: $colorMain;
      // font-weight: 400;
      // font-size: 16px;
      // background-color: $bgc01;
      // border: solid 1px $colorBorder01;
    }
    > .btnAddCustomer {
      // position: absolute;
      // top: 50%;
      // left: 250px;
      // transform: translateY(-50%);
      // padding: 5px 17px;
      // color: $colorMain;
      // font-weight: 400;
      // font-size: 16px;
      // background-color: $bgc01;
      // border: solid 1px $colorBorder01;
    }
    > svg {
      position: absolute;
      top: 50%;
      left: 104px;
      transform: translateY(-50%);
    }
  }

  &.disabled {
    > div {
      textarea {
        padding-left: 0px;
      }
    }
  }
}

.time {
  display: grid;
  // grid-template-columns: 72px auto;
  gap: 16px 24px;
  height: fit-content;
  padding: 18px 24px;
  background-color: $bgc01;
  .caption {
    font-size: 18px;
    font-weight: 400;
    color: $colorMain;
  }
}

.time_legacy {
  display: grid;
  gap: 16px;
  height: fit-content;
  padding: 18px 24px;
  background-color: $bgc01;
  span,
  input {
    font-weight: 400;
    font-size: 18px;
    &:nth-of-type(odd) {
      color: $colorMain;
    }
    &:nth-of-type(even) {
      color: $colorText;
    }
  }
}

.input02 {
  > span {
    color: $colorMain;
    font-weight: 400;
    font-size: 18px;
  }
}
