@use "styles/theme01" as *;

.container {
  :global(.ant-modal-content) {
    width: 720px;
    height: 490px;
    padding: 19px 30px;
    padding-top: 19px;
  }
  :global(.ant-modal-body) {
    padding: 0;
    margin-bottom: 19px;
  }
  :global(.ant-modal-footer) {
    padding: 0;
  }
}

.title {
  position: relative;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $colorMain;
  text-align: center;
  .note {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: red;
  }
}

.listContainer {
  height: 350px;
  border: solid 1px $colorBorder01;
  overflow: auto;
  padding: 0 1px;
}
.listItem {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 70px;
  height: 54px;
  padding: 0 46px;
  gap: 60px;
  border-bottom: solid 1px $colorBorder01;
  cursor: pointer;


  &:nth-last-of-type(1) {
    border: none;
  }
  > span {
    margin: auto;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorText;
  }
}
