@use "styles/layout" as *;
@use "styles/theme01" as *;

.subTitle {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: $colorMain;
  background-color: $bgc01;
  padding: 15px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  margin-top: 11px;
  .left {
    position: sticky;
    top: 11px;
    display: grid;
    align-content: flex-start;
    gap: 14px;
    max-height: calc(100vh - 270px);
    padding: 0 9px;
    overflow-y: scroll;
  }
  .right {
    margin-left: 10px;
    margin-right: 22px;
  }
}

.sel {
  > * {
    margin: auto;
    margin-left: 0;
  }
}

.selSingleValue {
  text-align: center;
}
.selSingleValue_custom {
  img {
    // width: 60px;
    height: 54px;
  }
}

.selOption_custom {
  img {
    // width: 60px;
    height: 54px;
  }
}

.productForm {
  display: grid;
  gap: 25px;
  > div {
    padding: 30px;
    border: solid 1px theme("colors.border");
  }

  .formGrid {
    display: grid;
    gap: 60px;
  }
}
