NEXT_PUBLIC_API_BASE_URL=''
NEXT_PUBLIC_SANJEOU_EMAIL=''
NEXT_PUBLIC_API_NETCORE_URL=''

NEXT_PUBLIC_NAV_DEV_PERMISSIONS=[]



# 取得門軌圖片範例
# `${process.env.NEXT_PUBLIC_API_BASE_URL}/products/assets/door-track/${guideRail.guideRail}`

# 取得檔案範例
# `${process.env.NEXT_PUBLIC_API_BASE_URL}/file/download/${item.id}`