

# beta
NEXT_PUBLIC_API_BASE_URL=https://foo.com.tw
# 另一個伺服器的api
NEXT_PUBLIC_API_NETCORE_URL=https://foo.com.tw


NEXT_PUBLIC_NAV_DEV_PERMISSIONS=''

NEXT_PUBLIC_NAV_DEV_DEVACCOUNT='[{"name":"foo","account":"foo","password":"foo"}]'


NEXT_PUBLIC_API_BASE_FARM_URL=https://foo.com.tw
NEXT_PUBLIC_API_BASE_SYS_URL=https://foo.com.tw

# dev | demo | prod
NEXT_PUBLLIC_NODE_ENV=""





# 取得門軌圖片範例
# `${process.env.NEXT_PUBLIC_API_BASE_URL}/products/assets/door-track/${guideRail.guideRail}`

# 取得檔案範例
# `${process.env.NEXT_PUBLIC_API_BASE_URL}/file/download/${item.id}`