@use "styles/theme01" as *;

.top {
    @extend .grid;

    .address {
        grid-column: span 1;
    }

}

.grid {
    display: grid;
    grid-template-columns: 500px;
    justify-content: space-between;
    gap: 35px;
}

.container {
    display: flex;
    overflow-y: hidden;
    // height: 712px;
}

.left {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid #c1c1c1;
    overflow-y: auto;
    // height: 712px;
    // margin-right: 15px;
}

.searchbar {
    position: -webkit-sticky; // 為兼容性增加前綴
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: auto;
    margin: 5px 20px;
    height: 41px;

    div {
        border-bottom: 1px solid gray;
        text-align: right;
        display: flex;
        align-items: center;

        input {
            height: 32px;
            font-size: 16px;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
        }

        img {
            width: 30px;
            height: 20px;
        }
    }
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    // height: 712px;
}



.content {
    width: 100%;
    overflow-y: auto;
    top: 0;
}

.head_head1 {
    display: grid;
    grid-template-columns: 500px 400px 500px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    //   margin-left: 20px;
    //   margin-right: 20px;
    // padding-bottom: 5px;
    // border-bottom: 1px solid rgb(214, 214, 214);

    div {
        margin-right: 20px;
    }
}

.head_content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    margin-right: 20px;
    padding-right: 20px;
    // padding-bottom: 2px;
}

.head_content2 {
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;

    div {
        margin-right: 20px;
    }
}

.head_content3 {
    display: grid;
    grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;

    div {
        margin-right: 20px;
    }

    // background-color: gray;
}

.head_foot1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.head_foot2 {
    display: grid;
    grid-template-columns: 30px 100px 350px 350px;
    // gap: 15px;
    width: auto;
    //   margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;
    //   margin-bottom: 5px;
    //   border-top: 1px solid #c1c1c1;
}


.body_content1 {
    display: grid;
    grid-template-columns: 830px;
    gap: 0px;
    width: auto;
    // margin-left: 20px;
    // margin-right: 20px;
    overflow-x: hidden;
    max-height: 350px; // 最大高度設定為300px
}

.tableContainer {
    max-height: calc(300px - 40px); // 減去標題列的高度
    overflow-y: auto; // 內容超出時顯示垂直滾動條
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


.body_foot1 {
    display: grid;
    grid-template-columns: 300px 300px 1fr ; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 10px;
    // margin-left: 20px;
    // margin-right: 20px;
    // padding-right: 20px;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #ccc;
    // background-color: gray;
    // margin-bottom: 10px;
    
}

.body_foot2 {
    display: grid;
    grid-template-columns: 1fr ; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 10px;
    // margin-left: 20px;
    // margin-right: 20px;
    // padding-right: 20px;
    // background-color: gray;
    
}

// tabbody
.tabbody {
    display: grid;
    grid-template-columns: 650px 1fr ; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 10px;
    // margin-left: 20px;
    // margin-right: 20px;
    // padding-right: 20px;
    // background-color: gray;
    
}


.addBtn {
    position: sticky;
    left: 0;
    z-index: 1;
    text-align: center;
    border: none;
    background-color: white;

}



.count_table {
    font-size: 16px;
    color: #1b2d5a;
    text-align: right;

    tr {
        td {
            // border: 1px solid gray;
            text-align: right;
            width: 80px;
        }
    }
}

.foot_head1 {
    display: grid;
    grid-template-columns: 390px 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    // margin-bottom: 5px;
    // border-top:1px solid #c1c1c1;
    div {
        margin-right: 20px;
    }
}

.foot_head2 {
    display: grid;
    grid-template-columns: 700px 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;

    div {
        margin-right: 20px;
    }
}

.foot_content1 {
    display: grid;
    grid-template-columns: 1fr; // 左右兩邊比例，可以調整
    gap: 0px;
    width: auto;
    // margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
    // border-top:1px solid rgb(168, 168, 168);
    overflow-x: hidden;
    // background-color: gray;
}

.mytitle {
    padding-top: 5px;
    font-size: 16px;
    color: #1b2d5a;
    text-align: left;
}


div.panelHeader13 {
    padding-left: 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 30px 150px 300px 80px 80px 60px 80px 80px 250px 60px;
        gap: 5px;
    }
}



.greenbutton {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #86bd07;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #86bd07;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #86bd07;
        background-color: rgb(0, 105, 23, 0.267);
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #86bd07;
    }
}

.minibtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.miniredbtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #ea1833;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}

.minidisabledbtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        background-repeat: no-repeat;
        background-position: center right 10px;
        /* 調整圖標位置 */
        cursor: not-allowed;
        /* 添加這行使滑鼠顯示禁止符號 */
    }
}

.minitabbtn {
    height: 58px;
    // width: 36px;
    // padding: 0px 40px;
    // border: solid 1px #c1c1c1;
    // border-bottom: 0px;
    // border-bottom: 0px;
    background-color: #f5f5f5;
    // padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 400;
    font-size: 18px;
    // color: #14256a;
    color: #14256a;
    // transform: translateY(2px);
    width: 124px;

    // &:hover {
    //     border: solid 1px #c1c1c1;
    //     border-bottom: 0px;
    //     color: #14256a;
    //     background-color: #c1c1c17c
    // }
    

    // &:focus {
    //     color: #14256a;
    //     // background-color: $bgc01;
    //     border: solid 1px #c1c1c1;
    //     border-bottom: 0px;

    // }
}


// 按鈕
.greenbutton {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #2e9619;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #2e9619;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #2e9619;
        background-color: #2e96192c;
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #2e9619;
    }
}

.bluebutton {
    height: 28.28px;
    // padding: 0px 40px;
    // border: solid 1px gray;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    // padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #14256a;
        background-color: #14256a1b
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #14256a;
    }
}

.tabbutton {
    height: 40px;
    // padding: 0px 40px;
    // border: solid 1px #14256a;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    // padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    // color: #14256a;
    color: gray;
    transform: translateY(2px);

    &:hover {
        //   border: solid 1px #14256a;
        background-color: #14256a1b
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #14256a1b;
        color: #14256a;
    }
}

.redbtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #ea1833;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}

.graybtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c121
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.disabledbtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        background-repeat: no-repeat;
        background-position: center right 10px;
        /* 調整圖標位置 */
        cursor: not-allowed;
        /* 添加這行使滑鼠顯示禁止符號 */
    }

}



.squarebtn {
    height: 39px;
    width: 39px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.modal_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//#region 進貨單明細
div.panelHeader14 {
    padding-left: 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 30px 150px 300px 300px 40px 40px 40px 60px 70px 30px 250px;
        gap: 5px;
    }
}

//#endregion

.modal_head_head1 {
    display: grid;
    grid-template-columns: 390px 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;  


}

.modal_head_content1 {
    display: grid;
    grid-template-columns: 350px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 10px;
    }

}

.modal_head_content2 {
    display: grid;
    grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    // div {
    //     margin-right: 10px;
    //   }
}

.modal_head_content3 {
    display: grid;
    grid-template-columns: 800px 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    // div {
    //     margin-right: 10px;
    //   }
}

.modal_head_content4 {
    display: grid;
    grid-template-columns: 350px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    // margin-right: 20px;

    // div {
    //     margin-right: 10px;
    //   }
}

.modal_head_content5 {
    display: grid;
    grid-template-columns: 800px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    // div {
    //     margin-right: 10px;
    //   }
}

.modal_head_content6 {
    display: grid;
    grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 10px;
    }
}

.squarebtn {
    height: 39px;
    width: 39px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

//#region 審核
div.panelHeader21 {
    border-bottom: solid 1px $colorBorder01;
    
    .row01,
    .row02 {
        padding-left: 20px;
        // padding-top:10px;
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 20px 80px 80px 500px;
        gap: 5px;
        // border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .selectedRow {
        background-color: #ecf1ff;
        /* 當前選擇項目的背景顏色 */
    }
}

.squarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 1rem;
    color: #14256a;
    transform: translateY(2px);
  
    &:hover {
      border: solid 1px #c1c1c1;
      background-color: #c1c1c17c
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }
  
  .redsquarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 1rem;
    color: #14256a;
    transform: translateY(2px);
  
    &:hover {
      border: solid 1px #c1c1c1;
      background-color: #c1c1c17c
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }
  
  .disablesquarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 1rem;
    color: #5b5a5ad6;
    transform: translateY(2px);
  
    &:hover {
      background-repeat: no-repeat;
      background-position: center right 10px;
      /* 調整圖標位置 */
      cursor: not-allowed;
      /* 添加這行使滑鼠顯示禁止符號 */
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }


  .longsquarebtn {
    height: 39px;
    width: 139px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

div.panelHeader22 {
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        padding-left: 20px;

        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 60px 80px 60px 150px 150px 300px;
        gap: 15px;
        // border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .selectedRow {
        background-color: #ecf1ff;
        /* 當前選擇項目的背景顏色 */
    }
}