@use "styles/theme01" as *;

.department {
  padding-top: 3px;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  > * {
    height: fit-content;
  }
}

.modalConfirm {
  :global(.ant-modal-confirm-content) {
    padding-top: 20px;
  }
}
