@use "styles/theme01" as *;

.top {
  @extend .grid;

  .address {
    grid-column: span 1;
  }

}

.grid {
  display: grid;
  grid-template-columns: 500px;
  justify-content: space-between;
  gap: 35px;
}

.container {
  display: flex;
  overflow-y: hidden;
  // height: 712px;
}

.left {
  flex: 80px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid #c1c1c1;
  overflow-y: auto;
  // height: 712px;
  margin-right: 15px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #c1c1c1;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  // height: 712px;
}

.content {
  width: 100%;
  overflow-y: auto;
  top: 0;
  padding-bottom: 20px;
}

.left_tite_main {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.searchform {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.searchbar {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: auto;
  margin: 5px 20px;
  height: 41px;
  // background-color: orange;

  div {
    border-bottom: 1px solid gray;
    text-align: right;
    display: flex;
    align-items: center;

    input {
      height: 32px;
      font-size: 16px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    img {
      width: 30px;
      height: 20px;
    }
  }
}

.addbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 60px 30px 150px 415px 415px 65px 50px 300px 65px 70px;
  // gap: 15px;
  width: auto;
  // margin: 5px 20px;
  // height: 41px;
  padding: 10px 20px;

  div {
    // border-bottom: 1px solid gray;
    text-align: right;
    display: flex;
    align-items: center;
    // width: 150px;

    input {
      // height: 32px;
      font-size: 16px;
      width: 100%;
      // border:1px solid #c1c1c1;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    img {
      width: 30px;
      height: 20px;
    }
  }
}

.head_head1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(214, 214, 214);

  div {
    margin-right: 20px;
  }

  // background-color: gray;
}

.head_content0 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  gap: 20px;
  width: auto;
  // margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 2px;
  }

  // background-color: gray;
}

.head_content1 {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr;
  ; // 左右兩邊比例，可以調整
  // gap: 20px;
  width: auto;
  // margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 2px;
  }

  // background-color: gray;
}

.head_content2 {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  // gap: 15px;
  width: auto;
  // margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  // background-color: gray;
  // border-top: 1px solid rgba(128, 128, 128, 0.2);
  div {
    margin-right: 20px;
  }
}

.addBtn {
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: center;
  border: none;
  background-color: white;

}

.head_content3 {
  display: grid;
  grid-template-columns: 100px 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  // background-color: gray;
}

.head_foot1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.head_foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-top: 1px solid rgb(214, 214, 214);
}

.body_content1 {
  display: grid;
  grid-template-columns: 1fr; // 左右兩邊比例，可以調整
  gap: 0px;
  width: auto;
  // margin-top: 4px;
  // margin-left: 20px;
  // margin-right: 20px;
  // border:1px solid rgb(168, 168, 168);
  overflow-x: hidden;
  // background-color: gray;
  max-height: 350px;
}

.body_foot1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  // background-color: gray;
}



// grid
//物料明細
div.panelHeader19 {

  padding-left: 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 145px 300px 300px 40px 30px;
    gap: 5px;
  }
}

//新增請購單明細
div.panelHeader20 {
  // padding-left: 15px;
  padding: 10px 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 60px 30px 150px 415px 415px 100px 50px 150px 150px 450px // gap: 5px;
      // gap: 5px;
  }
}


// 按鈕
.greenbutton {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #86bd07;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #86bd07;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #86bd07;
    background-color: rgb(0, 105, 23, 0.267);
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #86bd07;
  }
}

.bluebutton {
  height: 28.28px;
  // padding: 0px 40px;
  // border: solid 1px gray;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  // padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #14256a;
    background-color: #14256a1b
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #14256a;
  }
}

.tabbutton {
  height: 40px;
  // padding: 0px 40px;
  // border: solid 1px #14256a;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  // padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  // color: #14256a;
  color: gray;
  transform: translateY(2px);

  &:hover {
    //   border: solid 1px #14256a;
    background-color: #14256a1b
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #14256a1b;
    color: #14256a;
  }
}

.redbtn {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #ea1833;
  background-color: $bgc01;
  padding: 4px 22px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ea1833;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #ea1833;
    background-color: #ea18341d
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #ea1833;
  }
}

.graybtn {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 4px 22px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #5b5a5ad6;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c121
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

.minibtn {
  height: 28.28px;
  // width: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c121
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}





.modal_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.customContainer {
  display: flex;
  align-items: center;
}

.customLabel {
  font-size: 18px;
  color: #14256a;
  vertical-align: top;
  margin-right: 8px; // 調整 label 和 textarea 之間的距離
  white-space: nowrap; // 確保文字不換行
}

.customInput {
  font-size: 18px;
  border-bottom: 1px solid #14256a;
  height: 30px;
  width: 100%;
  resize: none; // 禁用自由調整高度的功能
  margin-left: 70px;

}

.squarebtn {
  height: 50px;
  width: 50px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c17c
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

.redsquarebtn {
  height: 50px;
  width: 50px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c17c
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

.disablesquarebtn {
  height: 50px;
  width: 50px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #5b5a5ad6;
  transform: translateY(2px);

  &:hover {
    background-repeat: no-repeat;
    background-position: center right 10px;
    /* 調整圖標位置 */
    cursor: not-allowed;
    /* 添加這行使滑鼠顯示禁止符號 */
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}


.modal_head_head1 {
  display: grid;
  grid-template-columns: 390px 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  // margin-top: 5px;
  margin-left: 10px;
  // margin-right: 20px;  


}

.modal_head_content1 {
  display: grid;
  grid-template-columns: 390px 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  // margin-top: 5px;
  // margin-left: 20px;
  // margin-right: 20px;


}

.modal_search_bar {
  display: grid;
  grid-template-columns: 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  // border-bottom: 1px solid rgb(214, 214, 214);
  // padding-right:10px;
}

//#region 請購單
div.panelHeader15 {

  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    padding-left: 20px;

    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 30px 100px 80px 50px 200px;
    gap: 15px;
    // border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .selectedRow {
    background-color: #ecf1ff;
    /* 當前選擇項目的背景顏色 */
  }
}

//#endregion
.head_body {
  display: grid;
  grid-template-columns: 75% 1fr;
  // gap: 15px;
  // width: auto;
  // margin-top: 5px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 20px;
  // margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

//#region 物料明細
.thead20 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 415px 415px 100px 50px 150px 150px 450px 65px;
  // gap: 5px;
  height: 40px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 18px;
    // color: #979797;
    color: #14256a;
  }
}

//#endregion


.longsquarebtn {
  height: 39px;
  width: 139px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c17c
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

.longredsquarebtn {
  height: 39px;
  width: 139px;
  // padding: 0px 40px;
  border: solid 1px #ea1833;
  background-color: $bgc01;
  padding: 0px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ea1833;
  ;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #ea1833;
    background-color: #ea18341d
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #ea1833;
  }
}

.shortsquarebtn {
  display: inline-flex; // 確保內容水平垂直居中
  align-items: center;
  justify-content: center;
  height: 43.16px;
  min-width: 78px; // 避免過短導致內容擠壓
  padding: 0 12px; // 適量的左右間距
  border: solid 1px #c1c1c1;
  background-color: $bgc01;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  text-align: center;
  white-space: nowrap; // 防止文字換行
  box-sizing: border-box; // 包括 padding 在內計算寬高
  transform: translateY(0px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c17c;
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}



.shortredsquarebtn {
  display: inline-flex; // 使內容水平垂直居中
  align-items: center;
  justify-content: center;
  height: 43.16px;
  min-width: 78px; // 使用 min-width 以適應不同文字長度
  padding: 0 12px; // 控制左右間距
  border: solid 1px #ea1833;
  background-color: $bgc01;
  font-weight: 500;
  font-size: 16px;
  color: #ea1833;
  text-align: center;
  white-space: nowrap; // 防止文字換行
  box-sizing: border-box; // 確保寬高包括 padding
  transform: translateY(0px);

  &:hover {
    border: solid 1px #ea1833;
    background-color: #ea18341d;
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #ea1833;
  }
}


//#region 廠商
.thead21 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 100px 300px 400px  30px;
  // gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 18px;
    // color: #979797;
    color: #14256a;
  }
}

div.panelHeader21 {
  // padding-left: 20px;
  padding: 10px 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 18px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns:100px 300px 400px  30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .selectedRow {
    background-color: #ecf1ff;
    /* 當前選擇項目的背景顏色 */
  }
}

//#endregion




//#region 物料明細(請購帶入)
.thead22 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 150px 415px 415px 100px 100px 100px 50px 150px 150px 450px 65px;
  // gap: 5px;
  height: 40px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 18px;
    // color: #979797;
    color: #14256a;
  }
}

//#endregion

//物料明細(請購帶入)
div.panelHeader22 {
  // padding-left: 15px;
  padding: 10px 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 60px 30px 150px 150px 415px 415px 100px 100px 100px 50px 150px 150px 450px // gap: 5px;
  }
}


// 測試
