@use "styles/theme01" as *;


.thead {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 250px 200px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}


.thead2 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 80px 50px 50px 100px 100px 50px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

.thead3 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 150px 150px 300px 50px 100px;
  gap: 15px;
  height: 40px;
  padding: 30px;
  padding-top: 10px;
  background-color: $bgc01;


  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}


// .thead4 {
//   display: grid;
//   grid-template-columns: 300px 300px ;
//   gap: 15px;
//   height: 40px;
//   padding: 0 30px;
//   // padding-top:10px;
//   background-color: $bgc01;
//   width:1000px;


//   >* {
//     margin: auto;
//     margin-left: 0;

//     &:nth-last-of-type(1) {
//       margin-left: auto;
//     }
//   }

//   >span {
//     font-weight: 400;
//     font-size: 14px;
//     color: #979797;
//     width:500px;
//   }
// }

.thead4 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 200px 200px 300px 100px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  width: 1100px;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    width: 500px;
  }
}

.thead5 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  width: 500px;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    width: 500px;
  }
}

.thead6 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 120px 80px 80px 100px 50px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//pickingLIst
.thead7 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 50px 200px 100px 150px 50px 150px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//pickingLIst2
.thead8 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 50px 200px 80px 100px 150px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//入庫單
.thead9 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 100px 100px 60px 60px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#region 採購單
.thead10 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 100px 100px 50px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 採購單明細
.thead11 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 300px 50px 50px 40px 60px 80px 60px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 進貨單
.thead12 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 100px 60px 60px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 採購單明細
.thead13 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 80px 80px 60px 80px 80px 70px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 進貨單明細
.thead14 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 300px 40px 40px 40px 60px 70px 60px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 請購單
.thead15 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 100px 50px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 請購單明細
.thead16 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 300px 50px 40px 40px 60px 60px 200px 40px ;
  // gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion
//#region 請購單明細2
.thead21 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 80px 60px 80px 80px 200px 60px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 詢價單明細
.thead17 {
  // position: -webkit-sticky; // 為兼容性增加前綴
  // position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 50px 200px 100px 100px 50px 100px 120px 100px;
  gap: 15px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 詢價單明細
.thead18 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 50px 100px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 物料明細
.thead19 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 145px 300px 300px 30px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion
//#region 物料明細
.thead20 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 415px 415px 65px 85px 300px 50px;
  // gap: 5px;
  height: 30px;
  padding: 0 15px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

// thead22
//#region 詢價管理廠商帶入清單
.thead22 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 145px 300px 300px 30px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 詢價單明細
.thead23 {
  // position: -webkit-sticky; // 為兼容性增加前綴
  // position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 250px 80px 100px 50px 100px 200px 50px;
  gap: 15px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 採購單明細
.thead24 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 80px 80px 60px 80px 80px 70px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 入庫單明細
.thead25 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 300px 40px 40px 40px 60px 60px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion

//#region 物料倉庫儲位清單
.thead26 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns:  50px 80px 80px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
//#endregion
