@use "styles/theme01" as *;


.thead {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 250px 200px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}


.thead2 {
  display: grid;
  grid-template-columns: 200px 200px 150px 100px 150px 100px 200px 200px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

.thead3 {
  display: grid;
  grid-template-columns: 200px 100px 150px 350px 100px 100px 100px 100px ;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  padding-top:10px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}