@use "styles/theme01" as *;


.thead {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 250px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}


.thead2 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 80px 50px 50px 100px 100px 50px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

.thead3 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 80px 150px 250px 300px 30px 30px;
  gap: 15px;
  height: 40px;
  padding: 30px;
  padding-top: 10px;
  background-color: $bgc01;


  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}


// .thead4 {
//   display: grid;
//   grid-template-columns: 300px 300px ;
//   gap: 15px;
//   height: 40px;
//   padding: 0 30px;
//   // padding-top:10px;
//   background-color: $bgc01;
//   width:1000px;


//   >* {
//     margin: auto;
//     margin-left: 0;

//     &:nth-last-of-type(1) {
//       margin-left: auto;
//     }
//   }

//   >span {
//     font-weight: 400;
//     font-size: 14px;
//     color: #979797;
//     width:500px;
//   }
// }

.thead4 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 200px 200px 300px 100px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  width: 1100px;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    width: 500px;
  }
}

.thead5 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  width: 500px;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    width: 500px;
  }
}

.thead6 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 120px 80px 80px 100px 50px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//pickingLIst
.thead7 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 50px 200px 100px 150px 50px 150px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//pickingLIst2
.thead8 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 50px 200px 80px 100px 150px 100px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//入庫單
.thead9 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 80px 100px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#region 採購單
.thead10 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 80px 100px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 採購單明細
.thead11 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 415px 415px 100px 100px 40px 30px 100px 150px 250px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 進貨單
.thead12 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 100px 80px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 採購單明細
.thead13 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 300px 80px 100px 40px 100px 150px 250px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 進貨單明細
.thead14 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 415px 415px 100px 100px 40px 100px 150px 250px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 請購單
.thead15 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 100px 80px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 請購單明細
.thead16 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 415px 415px 80px 40px 40px 100px 150px 250px 300px 30px;
  // gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    // &:nth-last-of-type(1) {
    //   margin-left: auto;
    // }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion
//#region 請購單明細2
.thead21 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 300px 80px 40px 100px 150px 200px 450px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 詢價單明細
.thead17 {
  // position: -webkit-sticky; // 為兼容性增加前綴
  // position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 220px 100px 30px 30px 80px 100px 260px 40px;
  gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 詢價單明細
.thead18 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 50px 100px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 物料明細
.thead19 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 145px 300px 300px 30px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion
//#region 物料明細
.thead20 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 415px 415px 65px 50px 300px 65px 100px;
  // gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

// thead22
//#region 詢價管理廠商帶入清單
.thead22 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 145px 300px 300px 30px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 詢價單明細
.thead23 {
  // position: -webkit-sticky; // 為兼容性增加前綴
  // position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 220px 100px 30px 30px 80px 100px 50px 180px 40px 40px;
  gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 採購單明細
.thead24 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 300px 80px 80px 40px 100px 150px 250px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 入庫單明細
.thead25 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 415px 415px 100px 100px 40px 80px 250px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 物料倉庫儲位清單
.thead26 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 40px 80px 150px 30px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region productList 物料明細
.thead27 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 300px 400px 100px 100px 30px 50px 100px 100px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 新增領料單明細
.thead28 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 415px 415px 65px 65px 40px 80px 300px 100px;
  // gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region productList 審核明細
.thead29 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 20px 150px 150px 150px 700px 50px;
  gap: 5px;
  height: 30px;
  padding: 0 30px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 審核流程狀態明細
.thead30 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 80px 60px 150px 150px 300px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region flowList 審核流程清單
.thead31 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 800px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region flowList 審核流程清單
.thead32 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 60px 100px 140px 140px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion
//#region 物料明細
.thead33 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 410px 410px 100px 40px 200px 200px 70px;
  // gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion
//#region 採購單
.thead34 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 100px 100px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion
//#region 
// .thead33 {
//   position: -webkit-sticky; // 為兼容性增加前綴
//   position: sticky;
//   top: 0;
//   z-index: 1000; // 確保元素位於其他內容的上層
//   display: grid;
//   grid-template-columns: 30px 150px 415px 415px 65px 50px 50px 100px 100px 200px 70px;
//   // gap: 5px;
//   height: 30px;
//   padding: 0 15px;
//   background-color: $bgc01;

//   >* {
//     margin: auto;
//     margin-left: 0;

//     &:nth-last-of-type(1) {
//       margin-left: auto;
//     }
//   }

//   >span {
//     font-weight: 400;
//     font-size: 16px;
//     color: #979797;
//   }
// }
//#endregion
//#region 詢價單明細
.thead35 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  // width: 1415px;
  grid-template-columns: 20px 130px 390px 390px 80px 50px 50px 80px 80px 50px 200px 30px;
  gap: 15px;
  height: 40px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 審核明細
.thead36 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 150px 150px 150px 150px 450px;
  // gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion


//#region 物料明細
.thead37 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 415px 415px 65px 50px 250px 100px 60px 250px 100px 60px 250px 100px 60px 200px 70px;
  // gap: 5px;
  height: 30px;
  padding: 0px 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion


//#region productList 物料明細
.thead38 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 60px 30px 150px 410px 410px 100px 100px 30px 50px 100px 100px 30px;
  gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

//#endregion

//#region 新增進貨單用的採購單清單
.thead39 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 40px 30px 130px 300px 100px 150px 100px 100px 250px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 32px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}


//#endregion

//#region 進貨明細
.thead40 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 150px 150px 150px 150px;
  // gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}



//#endregion
//#region 進貨明細
.thead41 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 150px 415px 415px 100px 100px 100px 150px 250px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion

//#region 進貨明細的採購單
.thead42 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 30px 150px 300px 100px 250px 30px;
  gap: 15px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}

//#endregion
//#region 入庫明細
.thead43 {
  position: -webkit-sticky; // 為兼容性增加前綴
  position: sticky;
  top: 0;
  z-index: 1000; // 確保元素位於其他內容的上層
  display: grid;
  grid-template-columns: 30px 150px 150px 150px 150px 150px;
  // gap: 5px;
  height: 30px;
  padding: 0 20px;
  background-color: $bgc01;

  >* {
    margin: auto;
    margin-left: 0;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }

  >span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
  }
}



//#endregion