@use "styles/theme01" as *;

.card {
}

.top {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: $bgc01;
  > * {
    display: inline-block;
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $colorMain;
  }
  .addBtn {
    border: none;
  }
}

.main {
  display: flex;
  gap: 20px 34px;
  flex-wrap: wrap;
  padding: 35px;
  border: solid 1px $colorBorder01;
  > * {
    flex: 0 0 auto;
  }

  .tag {
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    gap: 12px;
    align-items: center;
    width: fit-content;
    .content {
      width: fit-content;
      padding: 22px 33px;
      border: solid 1px $colorBorder01;
      border-left: solid 2px $colorActive01;
      >.contentSpan {
        font-weight: 400;
        font-size: 18px;
      }
    }

    > svg {
      cursor: pointer;
    }
  }

  .noDataTip {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
