@use "styles/theme01" as *;

.container {
  :global(.ant-modal-content) {
    // display: grid;
    // grid-template-rows: auto fit-content(100%);
    width: 620px;
    height: 490px;
    padding: 19px 30px;
    padding-top: 19px;
  }
  :global(.ant-modal-body) {
    padding: 0;
    margin-bottom: 19px;
  }
  :global(.ant-modal-footer) {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 24px;
    border: none;
    padding: 0;
    > button {
      height: auto;
      padding: 10px 44px;
      margin: 0 !important;
      background-color: $bgc01;
      &:nth-of-type(1) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-color: $colorBorder01;
      }
      &:nth-of-type(2) {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-color: $colorActive01;
        > span {
          color: $colorActive01;
        }
      }
    }
  }
}

.title {
  position: relative;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $colorMain;
  text-align: center;
  .note {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: red;
  }
}

.listContainer {
  width: 560px;
  height: 350px;
  border: solid 1px $colorBorder01;
  overflow: auto;
  padding: 0 1px;
}
.listItem {
  display: grid;
  grid-template-columns: 40px 50px 65px 55px;
  height: 54px;
  padding: 0 46px;
  gap: 60px;
  border-bottom: solid 1px $colorBorder01;
  cursor: pointer;
  &:hover {
    background-color: $bgc01;
  }
  &.selected {
    background-color: #ecf1ff;
  }
  &:nth-last-of-type(1) {
    border: none;
  }
  > span {
    margin: auto;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorText;
  }
}
