.lab01 {
  :global(.rbc-month-view) {
    height: fit-content;
  }
  :global(.rbc-month-row) {
    display: inline-table !important;
    height: fit-content;
    min-height: 150px;

    :global(.rbc-today) {
      background-color: unset !important;
    }

    :global(.ant-badge-status-dot) {   
      width:8px;
      height:8px;
     }


    // :global(.rbc-row) {    }
  }

  // :global(.rbc-event) {
  //   background-color: unset;
  // }
  // :global(.rbc-event:focus) {
  //   outline: unset;
  // }
}
