@use "styles/theme01" as *;

@mixin cell {
  width: auto;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border: 1px solid $colorBorder01;
  border-width: 0 1px 1px 0;
  &.isHoliday {
    background-color: #fee;
    > span {
      color: $colorActive01;
    }
  }
} //cell

.table {
  margin: 3px;
  white-space: nowrap;
  > * {
    display: inline-block;
    vertical-align: top;
  }

  .side {
    .head {
      width: 66px;
      height: 70px;
      text-align: center;
      line-height: 70px;
      background-color: $bgc01;
      border: 1px solid $colorBorder01;
      border-width: 0 1px 1px 0;
    }
    .cell {
      @include cell;
    }
  }

  .main {
    white-space: nowrap;
    .item {
      width: 190px;
      display: inline-block;
      .head {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        background-color: $bgc01;
        > div {
          &.cell {
            @include cell;
          }
          &:nth-of-type(1) {
            grid-column: span 4;
            height: 38px;
            line-height: 38px;
          }
        }
      } // head
      .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &.isHoliday {
          background-color: #fee;
          > span {
            color: $colorActive01;
          }
        }
        > .cell {
          @include cell;
        }
      }
    } // item
  } // main
}

.myBadge {
  display: inline-grid;
  :global(.ant-badge-status-dot) {
    width: 10px;
    height: 10px;
    top: unset;
  }
}
