@use "styles/theme01" as *;

.table {
  .thead {
    grid-template-columns: repeat(4, fit-content(100%)) auto repeat(3, fit-content(100%));
  }
  .tbody {
    .row {
      grid-template-columns: repeat(4, fit-content(100%)) auto repeat(3, fit-content(100%));
      height: fit-content;
      > div {
        display: grid;
        gap: 5px;
        // place-content: center;
        align-items: center;
        padding: 20px;
        > span {
          text-align: center;
        }
        .textareaBox {
          height: fit-content;
          width: 100%;
          font-size: 0px;
          > textarea {
            text-align: left;
            display: block;
            width: 100%;
            font-weight: 400;
            font-size: 18px;
            resize: none;
            background-color: transparent;
          }
        } // textareaBox
      }
    }
  }
}
