@use "styles/theme01" as *;

.container {
  padding: 4px;
}

.panel {
  :global(.ant-collapse-header) {
    display: block !important;
    padding: 0 !important;
    background-color: #fff;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
  }

  // :global(.){
  // }
}

// ===============================================================

.thead {
  display: grid;
  grid-template-columns: 100px auto 85px 105px 85px 65px 28px 85px 20px;
  gap: 22px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  > * {
    margin: auto;
    margin-left: 0;
    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }
  > span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}

div.panelHeader {
  padding: 17px 30px;
  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .row01 {
    display: grid;
    grid-template-columns: 100px auto 85px 105px 85px 65px 28px 85px 20px;
    gap: 22px;
    margin-bottom: 16px;
  }
  .row02 {
    display: grid;
    grid-template-columns: 100px 65px auto 20px;
    gap: 22px;
    .place {
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      > span {
        margin-left: 5px;
      }
    }
  }
}

div.panelBody {
  .detailRow {
    display: grid;
    grid-template-columns: 100px auto 65px 28px 85px 20px;
    gap: 22px;
    padding: 8px 30px;
    > span {
      font-weight: 400;
      font-size: 16px;
    }
  }
}
