@use "styles/theme01" as *;

.container {
  :global(.ant-collapse) {
    border: none;
  }
}

.panel {
  :global(.ant-collapse-header) {
    display: block !important;
    padding: 0 !important;
    background-color: #fff;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
  }
}

// ===============================================================

div.panelBody {
  .wrapper {
    padding: 8px 30px;
    .detailRow {
      display: grid;
      grid-template-columns: 110px auto 65px 28px 85px 20px;
      gap: 15px;
      margin-bottom: 10px;
      > span {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}
