@use "styles/theme01" as *;

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    right: 0;
    // z-index: 1000;
    // height: 712px;
}

.content {
    width: 100%;
    overflow-y: auto;
    top: 0;
}

.body_content1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: auto;
    // margin-left: 20px;
    margin-right: 20px;
    // overflow-x: hidden;
    max-height: 500px; // 最大高度設定為300px
}

//#region 薪資維護
.thead1 {
    position: -webkit-sticky; /* 為兼容性增加前綴 */
    position: sticky;
    top: 0;
    z-index: 1000; /* 確保元素位於其他內容的上層 */
    display: grid;
    grid-template-columns: repeat(31, 100px); /* 設定列的寬度，使用 repeat 使得每一列大小一致 */
    gap: 5px;
    height: 40px;
    padding: 10px 20px;
    background-color: $bgc01; /* 設定背景顏色 */
}

.thead1 span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
    // padding: 0 10px; /* 添加內邊距來讓文字不會緊貼邊緣 */
}

.thead1 span:nth-child(1),
.thead1 span:nth-child(2),
.thead1 span:nth-child(3) {
    position: sticky;
    background-color: $bgc01; /* 固定欄位的背景顏色 */
    z-index: 1001; /* 確保固定欄位在最上層 */
    // padding: 0 10px; /* 添加內邊距 */
    
}

.thead1 span:nth-child(1) {
    left: 20px;
    /* 第一欄固定 */
    background-color: $bgc01;
    // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
    // background-color: orange;
    // width: 100%;
}

.thead1 span:nth-child(2) {
    left: 125px;
    /* 第二欄固定 */
    background-color: $bgc01;
    // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
}

.thead1 span:nth-child(3) {
    left: 230px;
    /* 第三欄固定 */
    background-color: $bgc01;
    border-right: solid 1px #ddd; /* 加邊框區分欄位 */
}
  
//#endregion

div.panelHeader1 {
    padding: 10px 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: repeat(31, 100px); /* 設定25欄，這樣每欄寬度一致 */
        gap: 5px;
        position: relative;  /* 確保 sticky 定位可以參照這個容器 */
    }

    /* 設置前三欄為 sticky */
    .row01 span:nth-child(1),
    .row01 span:nth-child(2),
    .row01 span:nth-child(3) {
        position: sticky;
        background-color: white; /* 固定欄位的背景顏色 */
        z-index: 1001; /* 確保這些欄位在其他欄位上層 */
        // padding: 0 10px; /* 增加內邊距，根據需要調整 */
        
    }

    .row01 span:nth-child(1) {
        left: 20px;
        /* 第一欄固定 */
    }

    .row01 span:nth-child(2) {
        left: 125px;
        /* 第二欄固定 */
    }

    .row01 span:nth-child(3) {
        left: 230px;
        /* 第三欄固定 */
        border-right: solid 1px #ddd; /* 加邊框區分欄位 */
        // padding:0px;
    }
}