.table {
  position: relative;

  display: block;

  width: 600px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  border: solid 1px theme("colors.border");
  border-top: 0;
  border-bottom: 0;
}

.thead {
  position: sticky;
  top: 40px;
  width: 100%;
  border-top: solid 1px theme("colors.border");
  // 莫名其妙的偏移了1px，發現可能是因為margin:auto，也可能是因為父元素的width
  // 根本原因不知道，最後決定症狀治療就算了
  transform: translateX(1px);

  &:before {
    content: "";
    position: absolute;
    // 自身border的1px
    bottom: calc(100% + 1px);

    // 父元素border的2px
    width: calc(100% + 2px);
    left: -1px;

    display: block;
    height: 40px;

    background-color: white;
  }
}
