.slider {
  // margin: auto;
  width: 1100px;
}

.tab {
  > div {
    text-align: center;
    cursor: pointer;
  }
}

.arrow {
  &.fad {
    path {
      fill: theme("colors.border");
    }
  }
}

.theme_default {
  .tab {
    > div {
      min-width: 160px;
      border-radius: 100px;
      // height: 40px;
      padding: 10px;
      margin: 0 12px;
      span {
        // line-height: 0;
        font-size: 16px;
        font-weight: 600;
        color: theme("colors.border");
        white-space: nowrap;
      }
      &.active {
        background-color: theme("colors.main");
        span {
          color: theme("colors.white");
        }
      }
    }
  }
}

.theme_dashed {
  .tab {
    > div {
      min-width: 130px;
      padding: 15px;
      margin: 0 7px;
      border-radius: 10px;
      border: dashed 1px theme("colors.border");
      span {
        font-size: 16px;
        font-weight: 400;
        color: theme("colors.border");
        white-space: nowrap;
      }
      &.active {
        border-color: theme("colors.main");
        span {
          color: theme("colors.main");
        }
      }
    }
  }
}
