.topBar {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 59px;

  .tab {
    width: fit-content;
    padding: 15px 28px;
    font-size: 18px;
    font-weight: 500;
    color: theme("colors.main");
    border: solid 1px theme("colors.border");
    border-bottom: 0;
  }
}
