.main {
  border-right: solid 1px theme("colors.border");
  width: fit-content;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
}

.row {
  padding: 0 20px;
  &:hover {
    background-color: theme("colors.hoverBgc");
  }
  &.new {
    position: sticky;
    top: 50px;
    z-index: 1;
    background-color: theme("colors.chosenBgc");
  }
}
