.table {
  border: solid 2px black;
  height: 1000px;
  .row {
    border-bottom: solid 1px black;
    gap: 0;
    .cell.plus {
      padding: 0 3px;
      font-size: 14px;
      justify-content: flex-start;
      border-right: solid 1px black;
    }
    &:nth-last-of-type(1) {
      border-bottom-width: 2px;
    }
  }
}
