@use "styles/pdf" as *;

$fontTitle: 40px;
$fontText: 25px;

.antdModalWrapper {
  @extend .antdModalWrapper;
  :global(.ant-modal-body) {
    // background-color: gray;
    padding: 0;
  }
}

.panelBar {
  background-color: #ddd;
  padding: 10px;
  > button {
    display: block;
    margin: auto;
    margin-right: 0;
  }
}

.container {
  @extend .standardPdf_horizontal;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  // * {
  //   font-size: $fontText;
  // }
}

.infoTable {
  border: 2px solid black;
  td:not(.report) {
    border: 1px solid black;
    padding: 1px, 4px;
  }
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  justify-content: space-between;
}
