@use "styles/theme01" as *;

.body {
  width: 635px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 144px;
}
// 圖片盒子
.logoBox {
  position: relative;
  width: 300px;
  height: 300px;
  border: solid 1px $colorBorder01;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  display: grid;
  .logo {
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    &.emptyLogo {
      width: unset;
      height: unset;
      // object-fit: unset;
    }
  }
  .panel {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    > * {
      display: block;
      margin: auto;
      width: fit-content;
    }
    > span {
      font-size: 12px;
      font-weight: 500;
    }

    .btn {
      margin-top: 6px;
      padding: 7px 15px;
      border: solid 1px $colorBorder01;
      background-color: $bgc01;
      cursor: pointer;
      span {
        font-size: 14px;
        font-weight: 500;
      }
      input {
        display: none;
      }
      &.red {
        span {
          color: #ea1833;
        }
      }
    }
  }
}

.formContainer {
  margin-top: 8px;
  width: 100%;
  .inputSel {
    input {
      color: $colorMain;
    }
  }
  .selectInput {
    border-color: $colorBorder01;
    textarea {
      color: $colorMain;
    }
    > span {
      margin-right: 44px;
      color: $colorText;
    }
    div:global([class*="ValueContainer"]) {
      div:global([class*="singleValue"]) {
        color: $colorMain;
      }
    }
    &.editable {
      border-color: $colorMain;
    }
    &[class*="isFocus"] {
      border-color: $colorActive01;
    }
  }
} // formContainer
