.btn {
  border-radius: theme("border.radius.normal");
  border: solid 1px theme("colors.border02");
  font-size: 14px;
  font-weight: 500;
}

.a {
  @extend .btn;
  padding: 10px 16px;
  background-color: theme("colors.bgc01");
}

.b {
  @extend .btn;
  padding: 16px 32px;
}
