.row {
  display: grid;
  grid-template-columns: 60px 59px 48px 120px;
  gap: 25px;
  align-items: flex-end;
  height: 66px;
  padding: 11px 0 11px 0;
  > * {
    margin: auto;
    margin-bottom: 0;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }

  .inputBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    input {
      width: 100%;
      border: solid 1px theme("colors.border");
      height: 25.14px;
      // line-height: 25.14px;
      text-align: center;
    }
    span {
    }
  }

  span,
  input {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
  }
}
