.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 60px 59px 48px 120px;
  gap: 25px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #e7e7e7;
  border-bottom: solid 5px white;
  > * {
    margin: auto;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}
