@use "styles/theme01" as *;


.container {
  :global(.ant-modal-content) {
    width: 800px;
    height: fit-content;
    padding: 19px 30px;
    padding-top: 19px;
  }
}
.listContainer {
  height: 350px;
  padding: 0 1px;
}
.listItem {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 70px;
  height: 54px;
  padding: 0 46px;
  gap: 60px;
  border-bottom: solid 1px $colorBorder01;
  cursor: pointer;

  &:nth-last-of-type(1) {
    border: none;
  }
  > span {
    margin: auto;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorText;
  }
}
