@use "styles/theme01" as *;

.container {
  :global(.ant-modal-content) {
    width: 619px;
    height: fit-content;
    padding: 19px 30px;
    padding-top: 19px;
  }
  // @screen laptop {
  //   :global(.ant-modal-content) {
  //     width: 80vw;
  //     height: 80vh;
  //   }
  // }
}

.listContainer {
  height: 350px;
  // padding: 0 3px;
  .divider {
    height: 5px;
    background-color: gray;
  }

  .row {
    position: relative;
    display: grid;
    grid-template-columns: 90px 90px 100px 90px auto;
    gap: 15px;
    padding: 15px 20px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 3px;
      width: calc(100% - 6px);
      border-bottom: solid 1px theme("colors.border");
    }
    &.thead {
      background-color: theme("colors.bgc01");
      color: theme("colors.main");
      cursor: auto;
      &::after {
        display: none;
      }
    }
    &:nth-last-of-type(1) {
      &::after {
        display: none;
      }
    }
    &.except {
      background-color: #ddd;
      cursor: auto;
    }
  }
}

.selectBar {
  margin-top: 16px;
  z-index: 9999;
}

// .rowWrapper {
//   &:nth-last-of-type(1) {
//     border: none;
//   }
// }
// .row {
//   display: grid;
//   grid-template-columns: 100px 1fr 1fr 70px;
//   height: 54px;
//   padding: 0 46px;
//   gap: 60px;
//   border-bottom: solid 1px $colorBorder01;
//   cursor: pointer;

//   > span {
//     margin: auto;
//     margin-left: 0;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;
//     color: $colorText;
//   }

//   &.except {
//     background-color: #ddd;
//     cursor: auto;
//   }

//   @screen laptop {
//     grid-template-columns: 100px 100px 70px;
//     gap: 0px 60px;
//     height: 70px;
//     padding: 10px 12px;
//     > span {
//       font-size: 14px;
//       line-height: unset;
//     }
//     .idNumber {
//       grid-column: span 3;
//     }
//   }
// }
