@use "styles/theme01" as *;

.addButton {
  padding: 10px 44px;
  color: $colorMain;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: solid 1px $colorBorder01;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  > img {
    margin-right: 5px;
  }
}
