@use "styles/theme01" as *;
@use "styles/layout" as *;

.mainContainer {
  position: relative;
  > .main {
    padding: 38px 45px;
    display: grid;
    gap: 21px;
  }
}

.departHeader {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 11px 41px;
  background-color: $bgc01;
  > * {
    display: inline-block;
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $colorMain;
  }
}

.cardContainer {
  padding: 14px 35px;
  padding-bottom: 24px;
  border: solid 1px $colorBorder01;
  > span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.customCard {
  display: flex;
  gap: 20px;
  width: fit-content;
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.card {
  position: relative;
  display: inline-grid;
  grid-template-columns: 120px fit-content(100%) 118px;
  gap: 20px;
  width: fit-content;
  padding: 22px 33px;
  margin: 14px 80px 0px 0px;
  border: solid 1px $colorBorder01;
  border-left: solid 2px $colorActive01;
  &:nth-of-type(n + 4) {
    margin-top: 40px;
  }
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  > svg {
    position: absolute;
    top: 50%;
    left: calc(100% + 12px);
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.addBtn {
  border: none;
}
