@use "styles/theme01" as *;

.body {
  position: relative;
  display: grid;
  gap: 15px;
  padding: 15px;
  .card {
    display: grid;
    grid-template-columns: min-content auto;
    height: 300px;
    .left {
      display: grid;
      place-content: center;
      padding: 14px;
      background-color: $bgc01;
      > span {
        line-height: 22px;
        font-size: 18px;
        font-weight: 400;
        color: $colorMain;
      }
    }
    .right {
      border: solid 1px $colorBorder01;
      padding: 3px;
      overflow: auto;
      .addBtn {
        padding:16px;
        padding-left: 0;
        margin-left: 46px;
        background-color: transparent;
        border: 0;
      }
      .row {
        display: grid;
        grid-template-columns: 112px 100px 120px auto 18px;
        gap: 40px;
        padding: 17px;
        padding-left: 46px;
        > div > span {
          font-size: 16px;
          font-weight: 400;
        }
        .removeBtn {
          width: 18px;
          height: 24px;
          stroke: $colorMain;
          fill:transparent
        }
      }
    }
  }
}
