@use "styles/theme01" as *;
@use "styles/layout" as *;

.quotation {
  padding-top: 36px;
  padding-bottom: 32px;
}

.titleHr {
  width: calc(100% - 6px);
  padding: 16px 0 14px 0;
  margin: auto;
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  color: $colorMain;
  text-align: center;
  background-color: $bgc01;
}

.redWrapper {
  width: calc(100% - 34px);
  padding: 0 3px;
  margin: auto;
  margin-top: 11px;
  border: solid 1px #ea1833;
  > hr {
    width: 100%;
    margin: auto;
    border-color: red;
  }
}
