@use 'styles/theme01' as *;
.container {
  // display: grid;
  // grid-template-columns: repeat(5, auto);
  display: flex;
  justify-content: center;
  grid-gap: 40px;
  height: fit-content;
  margin: auto;
  margin-bottom: 0;
  margin-left: 27px;
  > * {
    margin: auto;
  }
}

.link {
  position: relative;
  padding-bottom: 15px;
  border-bottom: solid 4px transparent;
  &.active {
    border-color: $colorActive01;
  }
  > * {
    vertical-align: middle;
  }
  > span {
    font-size: 14px;
    &:nth-of-type(1) {
      margin-left: 8px;
      font-weight: 600;
      color: $colorMain;
    }
    &:nth-of-type(2) {
      font-weight: 400;
      color: $colorSub;
    }
    @media (max-width: 1280px) {
      font-size: 14px;
    }
  }
  :global(.ant-scroll-number-only-unit) {
    color: white;
  }

  .badge {
    color: white;
    position: absolute;
    // top: -15px;
    // right: -15px;
    top: -5px;
    right: 0px;
    transform: translate(50%, -50%);
    .reviewQty {
      background-color: red;
      color: white;
      border-radius: 999px; // 兩邊圓
      padding: 0px 5px; // 左右多一點
      font-size: 12px;
    }
  }
}
