.customTable :global(.ant-table th),
.customTable :global(.ant-table td) {
  box-sizing: border-box;
}
.customTable :global(.ant-table) {
  // height: 304px !important;
  min-height: 96px !important;
  // max-height: 304px !important;
  overflow: auto !important; // 讓表格可以滾動
  border-radius: 6px 6px 0px 0px !important;
}
.customTable :global(.ant-table-thead > tr > .ant-table-cell) {
  color: black !important;
}

.customTable :global(.ant-table-thead > tr > th) {
  background: #e8e8e8 !important;
  border-bottom: 1px solid #616161 !important;
  height: 48px !important;
  padding: 0px 16px !important;
  border-inline-end: none !important;
}
//去除垂直的線
.customTable :global(.ant-table-thead > tr > th:last-child) {
  border-right: none !important;
  border-start-end-radius: 6px !important;
}
.customTable :global(.ant-table-thead > tr > th:first-child) {
  border-start-start-radius: 6px !important;
}

.customTable :global(.ant-table-container) {
  border: 1px solid #616161 !important;
  overflow: hidden;
  position: relative;
  border-start-start-radius: 6px !important;
  border-start-end-radius: 6px !important;
  border-end-start-radius: 6px !important;
  border-end-end-radius: 6px !important;
}

.customTable :global(.ant-table-tbody > tr > td) {
  border-bottom: 1px solid #616161;
}
.customTable :global(.ant-table-tbody > tr > td) {
  padding: 8px 16px !important;
}
.customTable :global(.ant-table-tbody > tr) {
  line-height: 23px !important;
}

//去除垂直的線
.customTable :global(.ant-table-content > table > tbody > tr > td) {
  border-inline-end: none !important;
}
.customTable :global(.ant-table-content > table > tbody > tr > td:first-child) {
  border-left: none !important;
}
.customTable :global(.ant-table-content > table > tbody > tr > td:last-child) {
  border-right: none !important;
}
.customTable :global(.ant-table-tbody > tr:last-child > td) {
  border-bottom: none !important;
}

//去除::before的線
.customTable :global(.ant-table-thead > tr > th::before) {
  display: none !important;
}

//搜尋欄
.customSearchInput :global(.ant-input-affix-wrapper) {
  border: none !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  width: 250px !important;
}

.customSearchInput :global(.ant-input-search-button .anticon-search) {
  color: #616161 !important; // 你想要的顏色
  font-size: 24px;
}

// .customSearchInput :global(.ant-input-affix-wrapper:focus-within) {
//   border-color: #616161 !important;
// }

.customSearchInput :global(.ant-input-search-button) {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: 1px solid #616161 !important;
  // color: #1d4ed8 !important;
  height: 38px !important;
}
.customSearchInput :global(.ant-input-group) {
  border-radius: 8px !important;
  border: 1px solid #616161 !important;
  color: #1d4ed8 !important;
  height: 40px !important;
}
.customSearchInput :global(.ant-input) {
  height: 30px; // 與 affix wrapper 高度一致
  line-height: 40px; // 讓文字垂直置中
  padding: 0 11px; // 保持左右間距
  display: flex;
  align-items: center; // 保險起見加這個
  font-size: 14px !important;
}

//Modal
.customModal {
  :global {
    .ant-modal-footer {
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      gap: 8px;
    }
    .cancelbutton {
      width: 60px;
      height: 40px;
      background-color: #f5f5f5;
      border-color: #616161;
      border-radius: 6px;
    }
    .blueButtonNew {
      width: 80px;
      height: 40px;
      color: #ffffff;
      border: 1px solid #14256a;
      background-color: #14256a;
      font-size: 16px;
      line-height: 19px;
      padding: 10px 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem; // 8px
      font-weight: 500;
      margin-left: 0.75rem; // 12px

      svg {
        color: #ffffff !important;
      }
      // hover 狀態
      &:hover {
        background-color: #14256a !important;
        color: #ffffff;

        svg {
          color: #ffffff !important;
        }
      }

      // active 狀態
      &:active {
        background-color: #0f1b52;
        color: #ffff;
      }
    }
    .ant-modal-close {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #616161;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      padding: 0;
      background-color: white;
      transition: all 0.2s ease;

      // &:hover {
      //   border-color: #1890ff;
      // }
    }
    .ant-modal-content {
      border-radius: 6px;
    }
  }
}

//checkBox

.checkboxGrid {
  display: flex;
  grid-template-columns: repeat(7, 1fr);
  gap: 24px;
}

.checkboxWrapper {
  display: flex;
  // gap: 8px;
  cursor: pointer;
  position: relative;
  user-select: none;

  input[type='checkbox'] {
    display: none;
  }

  .customCheckmark {
    width: 20px;
    height: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    background-color: white;
    position: relative;
    transition: all 0.2s;
    // margin-left: 34px;
  }
  &:hover .customCheckmark {
    border-color: #388e3c;
  }

  input[type='checkbox']:checked + .customCheckmark {
    background-color: #2acc7e;
    border-color: #388e3c;
  }

  input[type='checkbox']:checked + .customCheckmark::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

//Table的checkBox
.checkboxWrapperTable {
  display: flex;
  gap: 8px;
  cursor: pointer;
  position: relative;
  user-select: none;
  justify-content: center;

  input[type='checkbox'] {
    display: none;
  }

  .customCheckmarkTable {
    width: 20px;
    height: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    background-color: white;
    position: relative;
    transition: all 0.2s;
  }
  &:hover .customCheckmarkTable {
    border-color: #388e3c;
  }

  input[type='checkbox']:checked + .customCheckmarkTable {
    background-color: #2acc7e;
    border-color: #388e3c;
  }

  input[type='checkbox']:checked + .customCheckmarkTable::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

//pagination

.customTable :global(.ant-table-pagination-right) {
  justify-content: center !important;
}

//滾動條樣式
.customScrollbar::-webkit-scrollbar {
  width: 4px;
  background: white;
}

.customScrollbar::-webkit-scrollbar-track {
  background: white;
  margin: 6px;
}

/* 預設：不顯示 thumb */
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s;
}

/* 滑鼠移到容器上時：顯示 thumb */
.customScrollbar:hover::-webkit-scrollbar-thumb {
  background-color: black;
}

//antd datePicker

.customDatePicker {
  :global {
    // 選取的整段背景色（包含起始與結束中間）
    .ant-picker-cell-in-view.ant-picker-cell-in-range {
      // background-color: black; // 可替換成你想要的背景色
    }

    // 起始日與結束日的樣式
    .ant-picker-cell-in-view.ant-picker-cell-range-start,
    .ant-picker-cell-in-view.ant-picker-cell-range-end {
      // background-color: #228be6 !important; // 深色強調色
      color: white !important;
      border-radius: 0 !important;
    }

    // 內部文字顏色
    .ant-picker-cell-in-range > .ant-picker-cell-inner,
    .ant-picker-cell-range-start > .ant-picker-cell-inner,
    .ant-picker-cell-range-end > .ant-picker-cell-inner {
      // color: #212121 !important;
    }
    .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled)::before {
      // background-color: #1677ff !important; // 你要改的顏色
      border: none !important;
      content: '' !important;
      display: block !important;
    }

    // 起始與結尾照原樣也可調
    .ant-picker-cell-in-view.ant-picker-cell-range-start::before,
    .ant-picker-cell-in-view.ant-picker-cell-range-end::before {
      // background-color: #1677ff !important;
    }
  }
}


