.deductionDetail {
  overflow: hidden;
}

.table {
  position: relative;
  border: solid 1px theme("colors.border");
  width: fit-content;
  max-width: 100%;
  max-height: 600px;
  overflow: auto;
  transition: 0.3s;
  &.copy {
    position: absolute;
    visibility: hidden;
    left: 9999px;
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: solid 1px theme("colors.border");
  padding: 10px 0;
  font-size: 18px;
  width: fit-content;
  background-color: white;

  > div {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: inherit;

    &:nth-of-type(1) {
      position: sticky;
      left: 0;
      z-index: 1;
    }
  }

  // &:nth-last-of-type(1) {
  //   position: sticky;
  //   bottom: 0;
  //   z-index: 1;
  //   border: none;
  // }
}

.thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: theme("colors.bgc01");
  > div {
    font-weight: 700;
  }
}
