.container {
  display: grid;
  grid-template-columns: 1000px fit-content(100%);
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  justify-content: space-between;
  // padding: 20px;
  padding-top: 20px;
  > hr {
    margin: 0px 0;
    border-color: theme("colors.border");
  }
}

.right {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: theme("colors.bgc01");
}
