.totalCalc {
  width: 575px;
  border: solid 1px theme("colors.border");
}

.caption {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: theme("colors.bgc01");
}

.row {
  display: grid;
  // grid-template-columns: 80px 100px auto;
  grid-template-columns: 80px 200px auto;
  align-items: center;
  padding: 10px 20px;
  justify-items: center;
  > * {
    font-size: 16px;
  }

  > *:nth-last-child(1) {
    justify-self: flex-end;
  }
  > *:nth-last-child(2) {
    justify-self: center;
  }
}

.latestCell {
  position: relative;
  display: flex;
  align-items: center;
  .parentheses {
    position: absolute;
    right: -10px;
  }
}

svg.active {
  color: red;
}

.percentPanel {
  display: flex;
  gap: 20px;
  padding: 5px 10px;

  .inputSelWrapper {
    align-self: center;
  }

  .btnBar {
    display: flex;
    gap: 10px;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
