@use "styles/theme01" as *;

.label {
  position: relative;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;

  gap: 20px;
  width: 100%;

  > * {
    margin-left: 0;
  }
  .caption {
    font-weight: 500;
    font-size: 20px;
    color: $colorText;
    align-self: flex-start;
    > span {
      display: block;
      color: inherit;
    }
    &.colorMain {
      color: $colorMain;
    }
  }

  .hr {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-color: $colorMain;
    &.isMust {
      border-color: $colorActive01;
    }
    &:global(.isFocus) {
      border-color: $colorActive01;
    }
    &:global(.invisible) {
      visibility: hidden;
    }
  }

  .mustTip {
    position: absolute;
    right: calc(100% + 7px);
    top: 50%;
    transform: translateY(-50%);

    width: 13px;
    height: 16px;
    > img {
      width: 13px;
      height: 16px;
    }
  }
} //label

.inputBox {
  height: fit-content;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  > input {
    display: block;
    width: 100%;
    background: transparent;
    &::placeholder {
      color: $colorBorder01;
    }
  }
} // inputBox

.textareaBox {
  height: fit-content;
  width: 100%;
  font-size: 0px;
  > textarea {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    resize: none;
    background-color: transparent;
    &::placeholder {
      color: $colorBorder01;
    }
  }
} // textareaBox

.datePickerBox {
  .timePicker {
    padding: 0;
    input {
      font-weight: 400;
      font-size: 18px;
      width: 100%;
      resize: none;
      &::placeholder {
        color: $colorBorder01;
      }
    }
  }
} // datePickerBox

.timePickerBox {
  .timePicker {
    padding: 0;
    input {
      font-weight: 400;
      font-size: 18px;
      width: 100%;
      resize: none;
      &::placeholder {
        color: $colorBorder01;
      }
    }
  }
} // datePickerBox
.timePickerPopupt {
  :global(.ant-picker-footer) {
    button {
      background-color: $bgc01;
      border: solid 1px $colorBorder01;
    }
  }
}

// =================================================================
// Select
// select的選單元件會portal到#__next
// 所以不能用巢狀文法
.selectBox {
  height: fit-content;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  // color: $colorText;
  // color: pink;
}

// ------------
// classNames
.selContainer {
}

div.selControl {
  min-height: auto;
  cursor: pointer;
}

.selMenu {
  min-width: fit-content;
  background-color: #fff;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
}

.selMenuList {
  min-width: fit-content;
  // padding: 0 12px;
  background-color: #fff;
}
.selMenuPortal.plus {
  z-index: 3;
}

div.selOption {
  position: relative;
  padding: 10px 17px;
  padding-bottom: 11px; //配合::after的height
  color: $colorText;
  font-weight: 400;
  font-size: 18px;
  // border-bottom: solid 1px $colorBorder01;
  white-space: nowrap;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 34px); // 扣掉的px為.selOption左右paddin的和
    height: 1px;
    background-color: $colorBorder01;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &:nth-last-of-type(1) {
    padding-bottom: 10px; //配合::after的height
    &::after {
      display: none;
    }
  }
  &:hover {
    // color: $colorMain;
    background-color: $bgc01;
  }
  &.isSelected {
    color: $colorActive01;
    > span {
      color: $colorActive01;
    }
  }
}

.selValueContainer {
  color: $colorText;
  font-weight: 400;
  font-size: 18px;
}

.selPlaceholder {
  color: $colorBorder01;
}

.selSingleValue {
  color: $colorText;
  font-weight: 400;
  font-size: 18px;
}

// ===========================
.fontSize12px,
div.fontSize12px {
  font-size: 12px;
}
.fontSize14px,
div.fontSize14px {
  font-size: 14px;
}
.fontSize16px,
div.fontSize16px {
  font-size: 16px;
}
.fontSize18px,
div.fontSize18px {
  font-size: 18px;
}
.fontSize20px,
div.fontSize20px {
  font-size: 20px;
}

// =================================================================

.checkBar {
  display: flex;
  gap: 35px;
  justify-content: right;
  > * {
    flex: none;
    width: fit-content;
  }

  .wrapper {
    text-align: right;
    cursor: pointer;
    > span {
      font-size: 18px;
      color: $colorMain;
      margin-right: 7px;
    }
    .antdCheck {
      transform: translateY(-1px);
      :global(.ant-checkbox) {
        :global(.ant-checkbox-inner) {
          // width: 15px;
          // height: 15px;
          border-color: $colorBorder01;
        }
      }
      :global(.ant-checkbox-checked) {
        :global(.ant-checkbox-inner) {
          background-color: $colorMain;
        }
      }
    }
  }
}

// =================================================================

.timePicker_mui_wrapper {
  height: fit-content;
  width: 100%;
  .timePicker_mui {
    width: 100%;

    &:global(.MuiFormControl-root) {
      display: block;
    }
    :global(.MuiInputBase-root) {
      padding: 0;
      display: block;
      line-height: inherit;
    }

    input {
      padding: 0;
      font-size: 18px;
      font-weight: 400;
      font-family: "Noto Sans TC", sans-serif;
      height: auto;
      line-height: inherit;
    }

    fieldset {
      // border: none;
      // padding: 0;
      display: none;
    }

    :global(.MuiInputAdornment-root) {
      display: none;
    }
  }
}
