// .container {
//   :global(.ant-modal-content) {
//     width: unset;
//     height: fit-content;
//     padding: 19px 30px;
//     padding-top: 19px;
//   }
//   @screen laptop {
//     :global(.ant-modal-content) {
//       width: 80vw;
//       height: 80vh;
//     }
//   }
// }

.container {
  :global(.ant-modal-content) {
    :global(.ant-modal-body) {
      padding: 0;
    }
  }
  // hr {
  //   border-style: dashed;
  //   border-color: black;
  // }
}
.body {
  padding: 20px;
  display: grid;
  gap: 20px;

  :global([class^="inputSel_plus"]) {
    z-index: 3;
  }
}

// =====================================================

// .row {
//   display: flex;
//   height: 54px;
//   padding: 0 46px;
//   gap: 60px;
//   border-bottom: solid 1px theme("colors.border");
//   cursor: pointer;

//   > div {
//     flex: 0 0 1;
//     // margin: auto;
//     margin-left: 0;
//     > span {
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 19px;
//       color: theme("colors.text");
//     }
//   }

//   &.except {
//     background-color: #ddd;
//     cursor: auto;
//   }

//   @screen laptop {
//     gap: 0px 60px;
//     height: 70px;
//     padding: 10px 12px;
//     > div {
//       > span {
//         font-size: 14px;
//         line-height: unset;
//       }
//     }
//   }
// }
