.table {
  width: 100%;
  border: solid 1px theme("colors.border");
  height: 580px;
  overflow: auto;
}

.row {
  padding-right: 10px;

  &:first-child {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  > *:nth-child(1) {
    position: sticky;
    left: 0;
    padding-left: 10px;
  }
}

.cell.cell.cell {
  justify-content: flex-start;
  white-space: wrap;
  word-break: break-word;
  align-items: flex-end;
}
