$invoicePadding: 10px 20px;
$gridWidth_itemName: 80px;
$gridTemplateColumns_left: $gridWidth_itemName 150px 50px 100px;
$gridTemplateColumns_center: 130px 130px;
$gridTemplateColumns_center_row: 130px 130px $gridWidth_itemName;
$fontSize: 16px;
$fontWeight: 500;
$rowGap: 10px;
// $invoiceHeight: 853px; // 沒時間處裡Left的高度問題了，直接設固定高度
$invoiceHeight: fit-content;
$tfootHeight: 680px; // left沒有Tfoot，所以直接放一個div然後設高度。tfoot也設一樣的高度
$deleteBarHeight: 36px;
// $tfootHeight: fit-content; // left沒有Tfoot，所以直接放一個div然後設高度。tfoot也設一樣的高度

.invoiceTable {
  // width: fit-content;
  // max-width: 100%;
  // overflow: auto;
}

.topBar {
  display: flex;
  align-items: center;

  .tab {
    width: fit-content;
    padding: 15px 28px;
    font-size: 18px;
    font-weight: 500;
    color: theme("colors.main");
    border: solid 1px theme("colors.border");
    border-bottom: 0;
  }
}

.table {
  position: relative;
  display: flex;
  width: fit-content;
  max-width: 100%;
  max-height: 550px;
  overflow: auto;
  border: solid 1px theme("colors.border");
}

.thead {
  position: sticky;
  top: 0;
  background-color: theme("colors.bgc01");
  height: 100px;
  z-index: 1;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
  }
}

.tbody {
}

.invoice {
  height: $invoiceHeight;
  &.new {
    background-color: theme("colors.hoverBgc");
    input {
      background-color: theme("colors.hoverBgc");
    }
  }

  &:not(:nth-last-of-type(1)) {
    border-right: solid 1px theme("colors.border");
  }

  .thead {
    padding: $invoicePadding;
    border-bottom: solid 1px theme("colors.border");
    .row {
      > span {
        color: theme("colors.main");
        font-weight: 500;
      }
    }
  }
  .tbody {
    padding: $invoicePadding;
    border-bottom: solid 1px theme("colors.border");
  }
  .tfoot {
    padding: $invoicePadding;
  }
}

.row {
  display: grid;
  gap: $rowGap;
  justify-items: center;
  padding: 2px 0;
  // height: 30px;
  // min-height: 30px; // 設了這個
  // height: fit-content;
  font-size: $fontSize;
  // border: solid 1px black;
}

.left {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
  align-self: stretch;
  .row {
    grid-template-columns: $gridTemplateColumns_left;
    > span {
      border-bottom: solid 1px transparent;
    }
  }
}

.center {
  .row {
    // grid-template-columns: $gridTemplateColumns_center;
    grid-template-columns: $gridTemplateColumns_center_row;
    width: 272px;
    overflow: hidden;
    align-items: flex-start;
    > span {
      border-bottom: solid 1px transparent;
    }
    > input {
      width: 100%;
      text-align: center;
      // border-bottom: solid 1px theme("colors.border");
      border-bottom: solid 1px theme("colors.sub");
      &.readyOnly {
        border-color: transparent;
      }
      &:nth-child(2n) {
        text-align: right;
      }
    }
  }
}

.totals {
  display: grid;
  grid-template-columns: $gridTemplateColumns_center;
  justify-items: flex-end;
  gap: $rowGap;
  width: fit-content;
  margin: auto;
  margin-right: 0;
  margin-top: 20px;
  font-size: $fontSize;
  font-weight: $fontWeight;

  > span:nth-child(3) {
    transform: translateX(8px);
  }
}

.tfoot {
  display: grid;
  gap: $rowGap;
  // font-size: $fontSize;
  font-weight: $fontWeight;
  height: $tfootHeight;
  .row {
    justify-items: flex-end;
  }
}

.deleteBar {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: $deleteBarHeight;
  margin-top: 30px;
  margin-bottom: 20px;
}

.checkBar {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.allowancePanel {
  display: flex;
  align-items: center;
  .allowanceBtnBar {
    display: inline-flex;
    gap: 10px;
    margin-right: 10px;
    .active {
      color: red;
    }
  }
}

.totalInfoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.invoiceNumberSpinWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkIcon {
  height: 15px;
  width: auto;
  margin-right: 5px;
  &.check {
    color: #42ba96;
  }
  &.cross {
    color: red;
  }
}

.inputInsideRadio {
  display: flex;
  gap: 5px;
  // input {
  //   background-color: pink !important;
  //   width: 30px;
  // }
}
