@use "styles/theme01" as *;

.card {
  width: 186px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 4px;
  background-color: #e5e5e5;
  cursor: pointer;
  &.active {
    background-color: #fee;
  }

  .leftRight {
    display: grid;
    grid-template-columns: auto 80px;
    justify-content: space-between;
    gap: 5px;
    .left {
      display: grid;
      justify-content: space-between;
      gap: 12px;
      > span {
        font-size: 12px;
        font-weight: 400;
        color: black;
        word-break: break-all;
        &:nth-child(2) {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .right {
    }
  }
  .list {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    > div {
      display: grid;
      grid-template-columns: auto 30px 30px 20px;
      gap: 5px;
      > span {
        white-space: pre-wrap;
        word-break: break-all;
      }
      > button {
        background-color: white;
        height: fit-content;
      }
    }
    > .active {
      background-color: #ffeeee;
    }
    > .original {
      background-color: cornflowerblue;
      > span {
        color: white;
      }
      > svg {
        color: white;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
