.body {
  padding: 20px;
}

.caption {
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
