$gap: 14px;
// $leftWidth: 928px;
$leftWidth: 595px;

.tableContainer {
  border: solid 1px theme("colors.border");
}

.orderTable {
  border: solid 4px white;
  overflow: auto;
  max-height: 500px;
}

.row {
  --bgcWhite: white;
  --bgcGray: theme("colors.bgc01");

  position: relative;
  display: flex;
  gap: calc($gap - 4px);
  width: max-content;
  padding: 11px 0px;
  background-color: var(--bgcGray);
  border-right-width: 22px;
  border-color: var(--bgcGray);

  > div,
  > form {
    display: inline-flex;
    gap: $gap;
    font-size: 14px;
  }

  > .side {
    background-color: var(--bgcGray);
    border-left-width: 22px;
    border-color: var(--bgcGray);
  }

  > .left {
    transition: 0.3s;
    width: $leftWidth;
    overflow: hidden;
    &.notShow {
      width: 0;
    }
    > div {
      flex: none;
    }
  }

  > .rightPanel {
    display: grid;
    gap: 16px;
  }

  &.thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--bgcGray);
    border-color: var(--bgcGray);
    > .side {
      background-color: var(--bgcGray);
      border-color: var(--bgcGray);
    }
  }

  &.headRow {
    background-color: var(--bgcWhite);
    border-color: var(--bgcWhite);

    > .side {
      background-color: var(--bgcWhite);
      border-color: var(--bgcWhite);
    }
  }

  &.prodRow {
    position: sticky;
    top: 46px;
    z-index: 2;
    min-height: 70px;
    box-shadow:
      0px -2px 2px rgba(0, 0, 0, 0.1),
      0px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.side {
  position: sticky;
  left: 0;
  z-index: 1;
}

.divider {
  position: relative;
  display: block;
  align-self: stretch;
  padding: 2px 0px;
  margin-left: 6px;
  margin-right: 6px;
  width: 1px;
  background-color: theme("colors.border");
}

.btnBar {
  display: flex;
  align-items: center;
  gap: 22px;
  svg {
    width: 16px;
    height: 16px;
  }
  .active {
    path:nth-of-type(1) {
      fill: red;
    }
    path:nth-of-type(2) {
      stroke: red;
    }
  }
}

.panel {
  display: flex;
  gap: $gap;
  align-items: center;
  font-size: 16px;
  .accessorie {
    white-space: pre-wrap;
  }
}

.hidden {
  display: none;
}

.hidden.plus {
  display: none;
}

.cell {
  // white-space: nowrap;
  word-break: break-all;
}

.showLeftBtnCell {
  max-height: 24px;
  display: flex;
  align-items: center;
  > span {
    display: flex;
    align-items: center;
  }
  .showLeftBtn {
    --foo: 22px;
    color: theme("colors.danger");
    svg {
      height: var(--foo);
      width: var(--foo);
    }
  }
}
