@use "styles/theme01" as *;

$cellgap: 16px;

.orderTable {
  border: solid 1px $colorBorder01;
  padding: 4px;
  // padding-left: 0;
  padding-top: 0;
  overflow: auto;
  .thead {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    width: fit-content;
    white-space: nowrap;
    background-color: $bgc01;
    padding: 11px;
    padding-left: 22px;
    padding-right: 33px;
    border-top: solid 4px white;

    .theadItem {
      display: inline-flex;
      padding: 2px 3px;
      margin-left: $cellgap;
      border: solid 1px transparent;
      cursor: default;

      &:nth-of-type(1) {
        // display: inline-flex;
        display: inline-block;
        position: sticky;
        z-index: 1;
        left: -5px;
        background-color: $bgc01;
        > span:nth-of-type(1) {
          display: inline-block;
          width: 30px;
        }
      }
      &.textCenter {
        > * {
          margin: auto;
        }
      }
      > span {
        color: $colorMain;
        font-size: 16px;
      }
    }
  }

  .tableList {
    max-height: 410px;
    // max-height: 810px;
    width: fit-content;
    .row {
      // border: solid 1px black;
      position: relative;
      display: flex;
      align-items: flex-start;
      width: fit-content;
      white-space: nowrap;
      padding: 11px;
      padding-left: 22px;
      padding-right: 33px;
      &.bgcSub {
        background-color: $bgc01;
        .column {
          &:nth-of-type(1) {
            background-color: $bgc01;
          }
          &:nth-of-type(2) {
            background-color: $bgc01;
          }
        }
      }
      .ribbon {
        position: absolute;
        left: 0;
        top: 1px;
        width: 3px;
        height: calc(100% - 2px);
        background-color: $colorMain;
      }
    }
    .column {
      position: relative;
      padding: 2px 3px;
      margin-left: $cellgap;
      display: inline-flex;
      align-items: center;

      &:nth-of-type(1) {
        // min-height: 28px;
        position: sticky;
        left: -5px;
        z-index: 1;
        background-color: white;
        > span:nth-of-type(1) {
          width: 30px;
        }
      }

      &.textCenter {
        > span {
          margin: auto;
        }
      }

      > span {
        display: inline-block;
        font-size: 16px;
        word-break: break-all;
        white-space: pre-wrap;
      }
      input {
        font-size: 16px;
      }
      .input03 {
        padding: 0;

        .datepicker {
          input {
            color: theme("colors.text");
          }
        }
      }

      &.subGroup {
        display: grid;
        gap: 20px;

        > div {
          height: 27px;
        }
        .btnPanel {
          display: flex;
          align-items: center;
          gap: 22px;
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    } // column
  }

  .indexCell {
    width: 20px;
    > span {
      margin: auto;
      font-weight: 400;
      font-size: 16px;
      color: $colorMain;
    }
  }

  .pilar {
    position: relative;
    display: block;
    align-self: stretch;
    padding: 2px 0px;
    margin-left: 10px;
    margin-right: 6px;
    width: 1px;
    background-color: theme("colors.border");
  }
}

.hidden {
  visibility: hidden;
}

.svgActive {
  path:nth-of-type(1) {
    fill: red;
  }
  path:nth-of-type(2) {
    stroke: red;
  }
}
