@use "styles/theme01" as *;
@use "../local.module" as *;
@use "./localLayout.module" as *;

.selBox {
  display: inline-block;
  position: relative;
  width: 378px;
  padding: 24px 18px 21px 18px;
  margin-left: 75px;
  border: solid 1px $colorBorder01;
  &:nth-of-type(1) {
    margin-left: 0;
  }
  > svg {
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.label {
  grid-template-columns: fit-content(100%) auto;
  gap: 40px;
}

.select {
  display: grid;
  grid-template-columns: auto fit-content(100%);
  gap: 23px;
  width: 100%;
  > * {
    margin: auto;
    margin-left: 0;
  }
}

.inputContainer {
  margin-top: 28px;
  > div {
    display: inline-block;
    &:nth-of-type(1) {
      width: 407px;
      margin-right:47px;
    }
    &:nth-of-type(2) {
      display: inline-grid;
      grid-template-columns: 256px 256px;
      gap: 0 22px;
      width: fit-content;
      input {
        width: 100%;
      }
    }
  }
}
