.reviewChain {
  display: flex;
  gap: 14px;
  margin-top: 19px;
  > .step {
    padding: 6px 16px 6px 13px;
    background-color: theme("colors.bgc01");
    width: fit-content;
    border-radius: 17px;
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    > .spot {
      width: 6px;
      height: 6px;
      margin-right: 10px;
      background-color: theme("colors.border");
      border-radius: 50%;
    }
    > span {
      font-size: 16px;
      font-weight: 400;
      color: theme("colors.border");
    }

    &.pass {
      .spot {
        background-color: greenyellow;
      }
      span {
        color: theme("colors.main");
      }
    }
    &.notPass {
      .spot {
        background-color: #ea1833;
      }
      span {
        color: theme("colors.main");
      }
    }
  }
}
