@use "styles/theme01" as *;


.thead {
  display: grid;
  grid-template-columns: 110px auto 200px 150px 85px 65px 28px 85px 20px;
  gap: 15px;
  height: 40px;
  padding: 0 30px;
  background-color: $bgc01;
  > * {
    margin: auto;
    margin-left: 0;
    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }
  > span {
    font-weight: 400;
    font-size: 14px;
    color: #979797;
  }
}
