@use "styles/theme01" as *;

.top {
  @extend .grid;

  .address {
    grid-column: span 1;
  }

}

.grid {
  display: grid;
  grid-template-columns: 500px;
  justify-content: space-between;
  gap: 35px;
}

.container {
  display: flex;
  overflow-y: hidden;
  height: 712px;
}

.left {
  width: 620px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid #c1c1c1;
  overflow-y: auto;
  height: 712px;
  // margin-right: 15px;
}


.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #c1c1c1;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 712px;
}


.content {
  width: 100%;
  overflow-y: auto;
  top: 0;
}

// head_head1
.head_head1 {
  display: grid;
  grid-template-columns: 300px 300px 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_head2 {
  display: grid;
  grid-template-columns: 300px 300px 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_content1 {
  display: grid;
  grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  // border-top: 1px solid gray;
  padding-top: 5px;

  div {
    margin-right: 20px;
  }
}

.head_content2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_content2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // gap: 15px;
  // width: 100%;
  width:auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_content3 {
  display: grid;
  grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_content4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.head_content5 {
  display: grid;
  grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    margin-right: 20px;
  }
}

.addBtn {
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: center;
  border: none;
  background-color: white;

}

.head_foot1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.head_foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 15px;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-top: 1px solid gray;
}

.content_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;

  // background-color: gray;
}

.content_main_content {
  display: grid;
  grid-template-columns: 1fr; // 左右兩邊比例，可以調整
  gap: 15px;
  width: auto;
  // margin-top: 4px;
  margin-left: 20px;
  margin-right: 20px;

  // background-color: gray;
}

.body_content1 {
  display: grid;
  grid-template-columns: 1fr; // 左右兩邊比例，可以調整
  gap: 0px;
  width: auto;
  // margin-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
  // border-top:1px solid rgb(168, 168, 168);
  overflow-x: hidden;
  // background-color: gray;
}

.body_foot1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  // background-color: gray;
}

.foot_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
  // gap: 15px;
  width: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  // background-color: gray;
}

.count_table {
  font-size: 16px;
  color: #1b2d5a;
  text-align: right;

  tr {
    td {
      // border: 1px solid gray;
      text-align: right;
      width: 80px;
    }
  }
}

.mytitle {

  font-size: 16px;
  color: #1b2d5a;
  text-align: left;
}


div.panelHeader13 {
  padding-left: 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 30px 150px 300px 80px 80px 60px 80px 80px 60px;
    gap: 5px;
  }
}



.greenbutton {
  height: 28px;
  // padding: 0px 40px;
  border: solid 1px #00BB00;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 0px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #00BB00;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #00BB00;
    background-color: #00bb0018
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #00BB00;
  }
}


//#region 詢價單明細
div.panelHeader18 {

  padding-left: 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 30px 150px 300px 50px 100px;
    gap: 5px;
  }
}

//#endregion



//#region 詢價單明細
div.panelHeader23 {
  padding-left: 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns:  30px 250px 80px 100px 50px 100px 200px 50px;
    gap: 15px;
  }
}

/* 自定義 checkbox 外觀 */
.quotereqdetail_checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  /* 隱藏原生 checkbox */
  cursor: pointer;

  /* 模擬 checkbox 外框 */
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #14256a;
    background-color: white;
    border-radius: 3px;
  }

  /* 模擬 checkbox 打勾樣式 */
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 14px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: 4px solid #14256a;
    /* 打勾的顏色 */
    border-right: 4px solid #14256a;
    /* 打勾的顏色 */
    opacity: 0;
    /* 初始不顯示 */
  }

  /* 控制 checkbox 打勾的顯示狀態 */
  &:checked:after {
    opacity: 1;
    /* 顯示打勾 */
  }

  /* 點擊後 checkbox 的背景色 */
  &:hover:before {
    background-color: #f0f0f0;
  }
}

.bluebutton {
  height: 28.28px;
  // padding: 0px 40px;
  border: solid 1px #14256a;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  // padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #14256a;
    background-color: #14256a1b
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #14256a;
  }
}




//#endregion


//物料明細
div.panelHeader21 {

  padding-left: 20px;
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
    span {
      font-weight: 400;
      font-size: 16px;
    }

    .clientName,
    .country {
      color: $colorMain;
    }
  }

  .row01 {
    display: grid;
    grid-template-columns: 200px 350px 150px 100px 30px;
    gap: 5px;
  }
}


// 按鈕
.greenbutton {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #2e9619;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #2e9619;
  transform: translateY(2px);

  &:hover {
      border: solid 1px #2e9619;
      background-color: #2e96192c;
  }

  &:focus {
      background-color: $bgc01;
      border: solid 1px #2e9619;
  }
}

.bluebutton {
  height: 28.28px;
  // padding: 0px 40px;
  // border: solid 1px gray;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  // padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #14256a;
    background-color: #14256a1b
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #14256a;
  }
}

.tabbutton {
  height: 40px;
  // padding: 0px 40px;
  // border: solid 1px #14256a;
  background-color: $bgc01;
  padding-left: 22px;
  padding-right: 22px;
  // padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  // color: #14256a;
  color: gray;
  transform: translateY(2px);

  &:hover {
    //   border: solid 1px #14256a;
    background-color: #14256a1b
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #14256a1b;
    color: #14256a;
  }
}

.redbtn {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #ea1833;
  background-color: $bgc01;
  padding: 4px 22px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ea1833;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #ea1833;
    background-color: #ea18341d
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #ea1833;
  }
}

.graybtn {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 4px 22px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #5b5a5ad6;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c121
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

.disabledbtn {
  height: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 4px 22px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #5b5a5ad6;
  transform: translateY(2px);

  &:hover {
    background-repeat: no-repeat;
    background-position: center right 10px; /* 調整圖標位置 */
    cursor: not-allowed; /* 添加這行使滑鼠顯示禁止符號 */
  }

}

.minibtn {
  height: 36px;
  // width: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 4px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);

  &:hover {
    border: solid 1px #c1c1c1;
    background-color: #c1c1c17c
  }

  &:focus {
    background-color: $bgc01;
    border: solid 1px #c1c1c1;
  }
}

// 隱藏popout
.modal_search_bar {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  div {
    text-align: right;
    display: flex;
    align-items: center;

    input {
      font-size: 16px;
      width: 100%;
      border-bottom: 1px solid #c1c1c1;
      margin-right: 8px;
    }

    select {
      border-bottom: 1px solid gray;
      outline: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.modal_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minidisabledbtn {
  height: 36px;
  // width: 36px;
  // padding: 0px 40px;
  border: solid 1px #c1c1c1;
  ;
  background-color: $bgc01;
  padding: 4px 8px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #5b5a5ad6;
  transform: translateY(2px);

  &:hover {
      background-repeat: no-repeat;
      background-position: center right 10px;
      /* 調整圖標位置 */
      cursor: not-allowed;
      /* 添加這行使滑鼠顯示禁止符號 */
  }
}