@use "styles/pdf.scss" as *;

.container {
  // width: $pdfWidth;
  // height: $pdfHeight;
  // background-color: pink;
  // overflow: hidden;
}

.group {
  display: flex;
  width: 100%;
  font-size: 18px;

  &:hover {
    background-color: theme("colors.hoverBgc");
  }

  &.thead {
    background-color: theme("colors.bgc01");
    .cell {
      justify-content: center;
      font-weight: 500;
      border-right-color: transparent;
    }
  }

  &:nth-last-of-type(1) {
    > .cell {
      border-bottom: 0;
    }
    > .rowWrapper .row:nth-last-of-type(1) .cell {
      border-bottom: 0;
    }
  }
}

.rowWrapper {
  width: auto;
  flex: 1;

  .row {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    background-color: #fff;

    &:hover {
      background-color: theme("colors.hoverBgc");
    }

    .cell:nth-last-of-type(1) {
      border-right: 0;
    }
  }
}

.cell {
  padding: 10px;
  border: solid 1px theme("colors.border");
  border-width: 0 1px 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  // padding:0;
  padding-top:5px;
  padding-bottom:5px;

  &.itemName {
    width: 200px;
  }
  &.subItemName {
    width: 180px;
    // & + .rowWrapper .category {
    //   justify-content: center;
    // }
  }
  &.category {
    justify-content: flex-start;
    flex: 1;
  }

  &.inputLabel {
    width: 120px;
  }
  &.input {
    @extend .inputLabel;
    input {
      width: 100%;
      border-bottom: solid 1px transparent;
      text-align: center;
      background-color: transparent;
      &.Ok {
        color: theme("colors.success");
      }
    }
    &.abled > input {
      border-color: theme("colors.sub");
    }
  }
}

.inputGroup_3 {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.itemNameWrapper {
  position: relative;
  .addIcon {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
}

.table {
  border: solid 1px theme("colors.border");
  // *{
  //   font-size: 18px;
  // }
  .group,
  .row {
    &:not(.thead):hover {
      background-color: unset;
    }
  }
}
