@use "styles/pdf" as *;

$fontTitle: 40px;
$fontText: 25px;

.antdModalWrapper {
  @extend .antdModalWrapper;
}

.panelBar {
  > button {
    display: block;
    margin: auto;
    margin-right: 0;
  }
}

.container {
  @extend .standardPdf;
  padding-top: 30px;
  * {
    font-size: $fontText;
  }
}

.title {
  margin-bottom: 20px;
  font-size: $fontTitle;
  text-align: center;
}

.infoBar {
  display: grid;
  grid-template-columns: 200px auto 200px;
  span {
    font-size: $fontText;
  }
}

.table {
  border: solid 1px black;
  border-width: 1px 0 0 1px;

  .row {
    display: grid;
    grid-template-columns: 180px auto 200px 200px;
    justify-items: center;
    align-items: center;

    .cellWrapper_1 {
      display: grid;
      width: 100%;
      height: 100%;
    }

    .masterC2Wrapper_2 {
      display: grid;
      grid-template-columns: 120px auto;
      width: 100%;
      height: 100%;
      > div:nth-of-type(1) {
        justify-content: center;
      }
    }

    // 每個小格子
    .cell {
      display: grid;
      width: 100%;
      height: 100%;
      padding: 2px 5px;
      border: solid 1px black;
      border-width: 0 1px 1px 0;
      min-height: 44.51px;
      > * {
        margin: auto;
      }
      &.type {
        > * {
          margin-left: 0;
        }
      }
      &.bigC2 {
        grid-column: span 3;
        height: 100px;
        > * {
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  } // row
}

.signature {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: flex-end;
}
