$fontSize_basic: 30px;
$fontSize_title: 50px;
$fontSize_row: 25px;
$fontSize_other: 20px;

$color: theme("colors.text");

$itemName: 100px;
$size: 200px;
$doorModelName: 150px;
$material: 100px;
$thickness: 100px;
$surface: 100px;
$doorTrack: 100px;
$closeType: 145px;
$horsePower: 100px;
$qty: 100px;
$note: auto;

$infoLeftWidth: calc($itemName + $size + $doorModelName + $material + $thickness + $surface);

.a4Wrapper {
  border: solid 1px $color;
  margin-bottom: 50px;
}

.a4Container {
  display: grid;
  grid-template-rows: fit-content(100%) auto fit-content(100%);
  // width: 1400px;
  // height: 2000px;
  // A4比例
  aspect-ratio: 210/297;

  padding: 0 20px;
  // padding-top: 80px;

  font-size: $fontSize_basic;
  overflow: hidden;
}

.header {
  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: solid 7px $color;
    > p:nth-of-type(2) {
      margin-right: 100px;
      font-size: $fontSize_title;
    }
  }

  .title {
    font-size: $fontSize_title;
    text-align: center;
    letter-spacing: 30px;
  }
}

.info {
  display: grid;
  grid-template-columns: $infoLeftWidth auto;
  > div {
    display: grid;
    grid-template-columns: max-content auto;
    padding: 10px;
    border: solid 1px black;
    border-bottom-width: 0px;

    &:nth-last-of-type(even) {
      border-right-width: 0px;
    }
  }
}

// ==============================================================================

.row {
  display: grid;
  grid-template-columns:
    $itemName
    $size
    $doorModelName
    $material
    $thickness
    $surface
    $doorTrack
    $closeType
    $horsePower
    $qty
    $note;

  width: 100%;
  font-size: $fontSize_row;

  &:nth-last-of-type(1) {
    border-bottom: solid 1px black;
  }

  > div {
    padding: 10px;
    border: solid 1px black;
    border-right-width: 0px;
    text-align: center;
    border-bottom: 0px;

    img {
      max-height: 61.28px;
    }

    &:nth-last-of-type(1) {
      border-right-width: 1px;
    }
  }
}

.thead {
  @extend .row;

  &:nth-last-of-type(1) {
    border-bottom: 0;
  }

  > div {
    padding: 20px 10px;
  }
}

// ==============================================================================

.note {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
  padding: 10px;
  font-size: $fontSize_other;
  border: solid 1px theme("colors.text");
  border-bottom: 0;
}

.other {
  display: grid;
  grid-template-columns: auto 150px 200px;
  font-size: $fontSize_other;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  > div {
    border: solid 1px black;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
  }
  .note {
    grid-row: 4 span;
    text-align: start;
  }
}

.signature {
  padding: 0 5px;
  margin-top: 10px;
  font-size: $fontSize_other;
  display: grid;
  grid-template-columns: 1fr 1fr 250px 250px;
  line-height: 25px;
}

.sizeHidden {
  width: 0;
  height: 0;
  border: 0;
  overflow: hidden;
}
