.container {
  margin: 52px 64px 81px 30px;
}

.controlBar {
  display: flex;
  gap: 31px;

  .preUploadBtn {
    display: flex;
    align-items: center;
    width: 359px;
    height: 40px;
    padding: 0 11px;
    border: solid 1px theme("colors.border");
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      border-color: #40a9ff;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      &.placeholder {
        color: #bfbfbf;
      }
    }
  }

  .btn_uploadImg {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.antdSelect.plus {
  :global(.ant-select-selector) {
    height: 40px;
    border-color: theme("colors.border");
  }
  :global(.ant-select-selection-search) {
    font-size: 16px;
    font-weight: 500;
  }
  :global(.ant-select-selection-item),
  :global(.ant-select-selection-placeholder) {
    font-size: 16px;
    font-weight: 500;
    line-height: unset;
    display: flex;
    align-items: center;
  }
}

.antdCollapse {
  margin-top: 24px;
  .panel {
    :global(.ant-collapse-header) {
      :global(.ant-collapse-expand-icon) {
        > span {
          transform: translateY(-3px);
        }
      }
      :global(.ant-collapse-header-text) {
        color: theme("colors.main");
        opacity: 0.85;
      }
    }
    :global(.ant-collapse-content-box) {
      padding: 47px 30px;
    }
  }
}

.draggerContainer {
  :global(.ant-upload-list) {
    display: none;
  }
}

.antdDragger.plus {
  height: 309px;
  border-radius: 16px;
  border: 2px dashed var(--Grayscale-Text, #4a4a68);
  background: rgba(255, 255, 255, 0.1);

  :global(.ant-upload-btn) {
    .dragTip {
      display: grid;
      justify-content: center;
      > div {
        display: grid;
        justify-content: center;
      }
    }
  }
}

.antdImage {
  max-height: 500px;
}
