@use "styles/theme01" as *;

.profile {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 40px 50px;

  .leftBlock {
    width: 900px;
    .leftUpBlock {
      margin-top: 24px;
      display: grid;
      gap: 20px;
    }
    > hr {
      margin: 20px 0;
    }
    .leftDownBlock {
      display: grid;
      // grid-template-columns: auto 300px;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      gap: 20px;
      > .input02:nth-last-of-type(1) {
        grid-column: span 2;
      }
      > label:nth-last-of-type(1) {
        grid-column: span 2;
      }
    }

    .leftBelowBlock {
      margin-top: 30px;
      .caption {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        > span {
          font-size: 20px;
        }
        > svg {
          height: 20px;
          margin-left: 5px;
        }
      }
      .grid {
        display: grid;
        // grid-template-columns: auto 300px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;

        .wrapper {
          display: grid;
          grid-template-columns: auto 30px;
          align-items: center;
          > svg {
            height: 20px;
          }
        }
      }
    }
  }
  .rightBlock {
    display: grid;
    gap: 16px;
    width: 350px;
    height: fit-content;
    padding: 20px 24px;
    background-color: $bgc01;
  }

  .input02 {
    padding: 0;
    > span {
      color: $colorMain;
      font-weight: 400;
      font-size: 18px;
    }
  }
  .inputCaption {
    font-weight: 400;
    font-size: 18px;
  }
}
// ==========================================================
.workProject {
  > .title {
    margin: 0 3px;
    height: 52px;
    line-height: 52px;
    background-color: $bgc01;
    text-align: center;
    > span {
      font-weight: 400;
      font-size: 18px;
      color: $colorMain;
    }
  }
}

.projectPatternBtnBox {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  .inputSelBox {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;

    .inputSel {
      cursor: pointer;
      width: unset;
    }
  }

  .statusBar {
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      font-size: 18px;
    }

    .label {
      display: flex;
      gap: 5px;
      cursor: pointer;
    }
    // .status {
    //   > div {
    //     // width: 7px;
    //     // height: 7px;
    //   }
    //   > span {
    //     // font-size: 14px;
    //   }
    // }
  }
}

.hidden {
  visibility: hidden;
}
