@use "styles/theme01" as *;
//#region 工單對應
.thead1 {
    position: -webkit-sticky; // 為兼容性增加前綴
    position: sticky;
    top: 0;
    z-index: 1000; // 確保元素位於其他內容的上層
    display: grid;
    grid-template-columns: 100px 300px 400px  30px;
    // gap: 5px;
    height: 40px;
    padding: 0px 20px;
    background-color: $bgc01;

    >* {
        margin: auto;
        margin-left: 0;

        &:nth-last-of-type(1) {
            margin-left: auto;
        }
    }

    >span {
        font-weight: 400;
        font-size: 18px;
        // color: #979797;
        color: #14256a;
    }
}

div.panelHeader1 {
    // padding-left: 20px;
    padding: 10px 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 18px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns:100px 300px 400px  30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    
      .selectedRow {
        background-color: #ecf1ff;
        /* 當前選擇項目的背景顏色 */
      }
}

//#endregion