@use "styles/layout" as *;
@use "styles/theme01" as *;



.listOfDeliveryOrders {
  padding: 3px 3px 0 3px;
  .thead,
  .row {
    display: grid;
    grid-template-columns: 80px 110px auto 95px 95px;
    gap: 22px;
    align-content: center;
    cursor: pointer;
    > div {
      span {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .thead {
    padding: 11px 28px;
    background-color: $bgc01;
    > div {
      span {
        color: $colorMain;
      }
    }
  }
  .row {
    padding: 18px 28px;
    border-bottom: solid 1px $colorBorder01;
    &:nth-last-of-type(1) {
      border-color: transparent;
    }
  }
}


