@use "../template.module.scss";

.t03 {
  @extend .basic;
}

.titleA {
  font-size: 30px;
  font-weight: bold;
}

.sectionA {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;
  width: 800px;
}

.sectionB {
  display: grid;
  gap: 15px;
  width: 800px;
  margin-top: 15px;
}

.row {
  // background-color: pink;
  > * {
    // pointer-events: none;
    // cursor: auto !important;
  }
}
