@use 'styles/theme01' as *;

.wrapper {
  display: grid;
  grid-template-rows: auto 30px;
  gap: 10px;
  height: 100%;
  overflow: hidden;
  background-color: $bgc01;
  @screen laptop {
    display: none;
  }
}

.sideNav {
  padding: 14px 12px;
  padding-bottom: 0;
  display: grid;
  // grid-gap: 30px;
  align-content: start;
  height: 100%;
  overflow: auto;
}

.collapse {
  // 標題 (ex 基本資料建立)
  [class='ant-collapse-header'] {
    width: 100% !important; /* 和 collapse-item 一樣寬 */
    box-sizing: border-box; /* 計算 padding */
    padding: 0 !important; /* 移掉 antd 預設 padding */
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 6px 6px 6px 6px;
  }
  // 標題的文字
  [class='ant-collapse-header-text'] {
    font-weight: 400;
    font-size: 18px;
    color: #14256a;
  }
  // 標題的箭頭
  [class='ant-collapse-expand-icon'] {
    // position: absolute;
    // left: calc(100% + 7px);
    // top: 50%;
    // transform: translateY(-50%);
    // display: none ;
    // > * {
    //   margin: auto;
    // }
  }

  [class='ant-collapse-content-box'] {
    padding: 0 0 0 0 !important;
    // > ul {
    //   padding: 0px 9px;
    //   padding-right: 0;
    //   margin: 0;
    //   // margin-top: 28px;
    //   > li {
    //     height: 48px;
    //     padding-left: 20px;
    //     padding-top: 14px;
    //     padding-bottom: 14px;
    //     font-weight: 600;
    //     font-size: 16px;
    //     // margin-top: 16px;
    //     border-left: solid 1px transparent;
    //     &.active {
    //       // border-left: solid 1px #ea1833;
    //       background-color: #dbeafe;
    //       > a {
    //         // color: #14256a;
    //       }
    //     }
    //     > a {
    //       font-weight: 400;
    //       font-size: 16px;
    //       // color: #404040;
    //     }
    //     &:nth-of-type(1) {
    //       // margin-top: 0px;
    //     }
    //   }
    // }
  }
}

.option {
  display: block;
  // margin: auto;
  // margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #14256a;
  &.active {
    font-weight: 600;
    color: $colorActive01;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 1px;
      position: absolute;
      left: -9px;
      top: 0;
      border-left: solid 1px $colorActive01;
    }
  }
  &:hover {
    color: #14256a !important;
  }
}

.headerContent {
  flex: 1; /* 撐滿可用空間 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px; /* 保持內距 */
  border-radius: 6px;
  height: 48px;
  > span {
    font-size: 16px;
  }
}

.customArrow {
  font-size: 14px;
  color: #616161;
}

.level2 {
  // 有子層的第二層 (Collapse)
  padding-left: 16px;
  .ant-collapse-header {
    font-size: 14px;
    color: #212121;
  }
}

.level2Leaf {
  // 沒子層的第二層 (li)
  padding-left: 32px;
  font-size: 16px;
  color: #212121;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #edf1f7;
    color: #69b1ff;
  }
  transition-duration: 0.1s;
}

.menuItem.level3 {
  height: 40px;
  padding-left: 32px;
  border-radius: 6px;

  display: flex;
  align-items: center; // 垂直置中
  &:hover {
    background-color: #edf1f7;
    color: #69b1ff;
  }
  > a {
    font-size: 14px;
    flex: 1; // 讓 a 撐滿寬度（可點整條）
    display: flex; // 再讓文字也置中
    align-items: center;
  }
}

.activeFirst {
  background-color: #14256a; // 如果有底色的話
  color: #fff; // 讓文字變白色

  // 也要記得把內部的 span、svg 顏色一起改
  span {
    color: #fff;
  }

  svg {
    fill: #fff;
    color: #fff;
  }
}

.activeSecond {
  background-color: #dbeafe; // 淺灰
  color: #14256a;
  span {
    color: #14256a;
  }
  svg {
    fill: #14256a;
    color: #14256a;
  }
}

.activeThird {
  background-color: #E9ECF5; // 淺藍
  > a {
    color: #14256a;
  }
}

.iconCircle {
  width: 14px;
  height: 14px;
}
