.table {
  position: relative;
  > *:nth-last-of-type(2) {
    border-bottom: 0;
  }
  > div {
    gap: 0;
  }
}

.thead {
  position: sticky;
  top: 0;
}

.bottom {
  position: sticky;
  bottom: 0;
  border-top: solid 1px theme("colors.border");
}

.totalCell {
  background-color: theme("colors.bgc01");
  &:nth-last-of-type(2) {
    border-right: 1px solid theme("colors.border");
    border-left: 1px solid theme("colors.border");
  }
}
