.table {
  position: relative;
  > *:nth-last-of-type(2) {
    border-bottom: 0;
  }
  > div {
    gap: 0;
    // padding: 0 10px;
  }
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bottom {
  position: sticky;
  bottom: 0;
  border-top: solid 1px theme("colors.border");
  > div {
    background-color: theme("colors.bgc01");
    &:nth-last-of-type(1) {
      background-color: inherit;
    }
    &:nth-last-of-type(2) {
      border-right: solid 1px theme("colors.border");
      border-left: solid 1px theme("colors.border");
    }
  }
}
