@use "styles/theme01" as *;

.container {
  display: none;
  width: 100vw;
  max-width: 640px;
  height: 60px;
  padding: 0 24px;
  margin: auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border: solid 1px $colorBorder01;
  .iconMenu {
    margin: auto;
    cursor: pointer;
  }
  @screen laptop {
    display: grid;
  }
}

.menu {
  :global(.ant-drawer-body) {
    padding: 0;

    .info {
      padding: 22px 30px;
      display: flex;
      gap: 12px;
      > div {
        display: inline-block;
        > p {
          margin: 0;
          color: $colorMain;
          font-size: 16px;
          &:nth-of-type(1) {
            font-weight: 600;
          }
          &:nth-of-type(2) {
            font-weight: 500;
          }
        }
      }
    }

    .panel {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      height: 50px;
      border: solid 1px $colorBorder01;
      border-width: 1px 0;
      background-color: $bgc01;
      > * {
        margin: auto;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        color: $colorMain;
      }
      .center {
        width: 1px;
        height: 30px;
        background-color: red;
      }
    }

    .navWrapper {
      background-color: unset;
      > :global(.ant-collapse-item) {
        background-color: unset;

        > :global(.ant-collapse-header) {
          position: relative;
          width: fit-content;
          padding: 0;
          width: 100%;
          :global(.ant-collapse-expand-icon) {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            display: grid;
            > * {
              margin: auto;
            }
          }
        }
        > :global(.ant-collapse-content) {
          :global(.ant-collapse-content-box) {
            padding: 0;
          }
        }

        &:global(.ant-collapse-item-active) {
          background-color: $bgc01;
          > :global(.ant-collapse-header) {
            &::before {
              content: "";
              width: 3px;
              height: calc(100% - 3px);
              position: absolute;
              top: 3px;
              left: 8px;
              background-color: red;
            }
          }
          > :global(.ant-collapse-content) {
            position: relative;
            &::before {
              content: "";
              width: 3px;
              height: calc(100% - 3px);
              position: absolute;
              bottom: 3px;
              left: 8px;
              background-color: red;
            }
          }
        }
      }

      .panelHeader {
        display: flex;
        align-items: center;
        padding: 20px 38px;
        > img {
          margin-right: 10px;
        }
        > span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    } // navWrapper

    .nav {
      background-color: unset;
      > :global(.ant-collapse-item) {
        background-color: unset;

        > :global(.ant-collapse-header) {
          position: relative;
          width: fit-content;
          padding: 0;
          padding-left: 71px;
          width: 100%;

          :global(.ant-collapse-header-text) {
            font-size: 18px;
            font-weight: 400;
            color: $colorMain;
          }

          :global(.ant-collapse-expand-icon) {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            display: grid;
            > * {
              margin: auto;
            }
          }
        }
        > :global(.ant-collapse-content) {
          padding-left: 71px;
          padding-bottom: 15px;
          :global(.ant-collapse-content-box) {
            padding: 0;
          }
          .li {
            padding: 12px 0;
            > a {
              font-size: 18px;
              font-weight: 400;
              color: black;
            }
            &.active {
              > a {
                color: red;
              }
            }
          }
        }
      }

      .panelHeader {
        display: flex;
        align-items: center;
        padding: 20px 38px;
        > img {
          margin-right: 10px;
        }
        > span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  } //..ant-drawer-body
} // .menu

// .collapse {
//   // 標題 (ex 基本資料建立)
//   [class="ant-collapse-header"] {
//     position: relative;
//     width: fit-content;
//     padding: 0 !important;
//   }
//   // 標題的文字
//   [class="ant-collapse-header-text"] {
//     font-weight: 400;
//     font-size: 18px;
//     color: #14256a;
//   }
//   // 標題的箭頭
//   [class="ant-collapse-expand-icon"] {
//     position: absolute;
//     left: calc(100% + 7px);
//     top: 50%;
//     transform: translateY(-50%);
//     display: grid;
//     > * {
//       margin: auto;
//     }
//   }

//   [class="ant-collapse-content-box"] {
//     padding: 0 0 9px 0 !important;
//     > ul {
//       padding: 0px 9px;
//       padding-right: 0;
//       margin: 0;
//       margin-top: 28px;
//       > li {
//         padding-left: 9px;
//         font-weight: 600;
//         font-size: 18px;
//         margin-top: 16px;
//         border-left: solid 1px transparent;
//         &.active {
//           border-left: solid 1px #ea1833;
//           > a {
//             color: #ea1833;
//             font-weight: 600;
//           }
//         }
//         > a {
//           font-weight: 400;
//           font-size: 18px;
//           color: #404040;
//         }
//         &:nth-of-type(1) {
//           margin-top: 0px;
//         }
//       }
//     }
//   }
// }
