@use "styles/theme01" as *;

.row {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 0 22px;
}

.table {
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
  padding: 3px;
}

.thead {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $bgc01;
  > div > span {
    color: #979797;
    font-size: 14px;
    font-weight: 400;
  }
}

.tbodyWrapper {
  position: relative;
  height: 100%;
  margin-top: 2px;
  overflow: auto;
  .editRow_add {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .tbody {
    span {
      font-size: 16px;
      font-weight: 400;
    }
    .rowTitle {
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bgc01;
    }
    .item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  } // tbody
} // tbodyWrapper

.editRow {
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    cursor: pointer;
  }
}

.inputSel_textarea {
  textarea {
    font-size: 16px;
  }
}
