.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: fit-content;
  border-bottom: solid 1px theme("colors.border");
  background-color: white;
  font-size: 16px;

  &.fullWidth {
    width: 100%;
  }

  &.thead {
    background-color: theme("colors.bgc01");
  }

  > * {
    background-color: inherit;
  }
  input {
    background-color: transparent;
  }

  &.style01 {
    padding: 0 10px;
  }
}

.cell {
  border-color: theme("colors.border");

  &:not(.unset) {
    padding: 10px 0;
    white-space: pre-wrap;
    // > input {
    //   width: 100%;
    //   border-bottom: solid 1px transparent;
    //   text-align: center;
    // }
    > span {
      // display: inline-block;
      // border-bottom: solid 1px transparent;
      // white-space: pre-wrap;
      // text-align: center;
      white-space: pre-wrap;
    }
  }

  &.flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.block {
    display: block;
    text-align: center;
  }

  &.gray {
    background-color: theme("colors.bgc01");
  }
  &.white {
    background-color: white;
  }
}
