.table {
  width: theme("width.table");
  &.haveBorder {
    border: solid 1px theme("colors.border");
    border-top: 0;
  }
}

.thead {
  .row {
    border-top: solid 1px theme("colors.border");
    background-color: theme("colors.bgc01");
  }
  .cell {
    border: none;
    // background-color: theme("colors.bgc01");
    > span {
      color: theme("colors.main");
    }
  }
}
.tbody {
  .rowWrapper:nth-last-of-type(1) {
    .row {
      border: none;
    }
  }
}

.row {
  display: flex;
  border-bottom: solid 1px theme("colors.border");
  &.clickable {
    cursor: pointer;
  }
  > * {
    flex: none;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid 1px theme("colors.border");
  &:nth-last-of-type(1) {
    border: none;
  }
  > span {
    font-size: 16px;
    white-space: pre-wrap;
  }
}

// =================================================================

.cellInput {
  padding: 0 20px;
  .input {
    width: 100%;
    background-color: transparent;
    text-align: center;
    border-bottom: solid 1px transparent;
    &.enabled {
      border-color: theme("colors.sub");
    }
  }
}

.cellSelect {
  padding: 0 20px;
  .antdSelect {
    width: 100%;
    border-bottom: solid 1px transparent;
    span {
      font-size: 16px;
    }
    &.enabled {
      border-color: theme("colors.sub");
    }
  }
}
