.card {
  width: 260px;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 0;
  border-radius: 4px;
  background-color: #e5e5e5;

  > .info {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #e5e5e5;

    display: grid;
    grid-template-columns: auto 80px;
    justify-content: space-between;
    gap: 5px;
    border-top: solid 10px #e5e5e5;

    .left {
      display: grid;
      justify-content: space-between;
      gap: 6px;
      > span {
        font-size: 12px;
        font-weight: 400;
        color: black;
        word-break: break-all;
        &:nth-child(2) {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .btn {
        height: fit-content;
        padding: 2px 3px;
        border: solid 1px theme("colors.main");
        font-size: 12px;
      }
    }
    .right {
      margin: auto;
      margin-right: 0;
      margin-top: 0;
      width: fit-content;
      > div:nth-of-type(1) {
        display: flex;

        .doorIcon {
          width: 66px;
          height: 81px;
          // 44/54;
        }

        .height {
          position: relative;
          width: 9px;
          margin-right: 2px;
          border: solid 1px red;
          border-width: 1px 0;
          background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
          background-size: 1px 100%;
          background-position: center;
          background-repeat: no-repeat;
          > div {
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
          }
        }
      }
      > div:nth-of-type(2) {
        .width {
          position: relative;
          width: calc(100% - 11px);
          height: 9px;
          margin: auto;
          margin-right: 0;
          margin-top: 2px;
          border: solid 1px red;
          border-width: 0px 1px;
          background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
          background-size: 100% 1px;
          background-position: center;
          background-repeat: no-repeat;
          > div {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .worksheetList {
    background-color: white;
    .worksheetWrapper {
      border-bottom: solid 1px theme("colors.border");
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }
    .worksheet {
      padding: 5px 8px;
      cursor: pointer;
      span,
      p {
        white-space: pre-wrap;
        word-break: break-all;
      }

      .info {
        display: grid;
        grid-template-columns: 80px 1fr 20px;
        gap: 5px;
      }

      .statusLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 6px;
        span {
          color: theme("colors.main");
        }
      }
    }

    // > .original {
    //   background-color: cornflowerblue;
    //   > span {
    //     color: white;
    //   }
    //   > svg {
    //     color: white;
    //   }
    // }
  }
}

.hidden {
  visibility: hidden;
}
