@use "styles/theme01" as *;

.list {
  display: inline-block;
  vertical-align: top;
  .cell {
    min-height: 53.14px;
    padding: 14px 7px;
    padding-bottom: 11px;
    border: solid 1px #e4e4e4;
    background-color: $bgc01;
    > .inputBox {
      position: relative;
      display: block;
      border-bottom: solid 1px $colorBorder01;
      text-align: center;
      input {
        min-width: 110px;
        width: 100%;
        margin: auto;
        padding: 0 10px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
      }
      > svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    // ----
    &.empty {
      display: grid;
      cursor: pointer;
      &:hover {
        background-color: #e1e1e1;
      }
      > img {
        margin: auto;
      }
    }
    &.delete {
      background-color: #ff5555;
    }
  }

  .row {
    display: flex;
    gap: 4px;
    .columns {
      display: grid;
      gap: 4px;
      > .cell.head {
        position: relative;
        padding-bottom: 8px;
        border-color: transparent;
        margin-bottom: 2px;
        > p {
          margin: auto;
          margin-top: 3px;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          color: $colorMain;
        }
        &::after {
          content: "";
          position: absolute;
          left: calc(100% + 1px);
          top: -1px;
          height: calc(100% + 2px);
          width: 4px;
          background-color: $bgc01;
        }
      }
      &:nth-last-of-type(1) {
        > .cell.head {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.caption {
  display: inline-block;
  vertical-align: top;
  display: inline-grid;
  gap: 4px;
  width: 106px;

  .cell {
    min-height: 53.14px;
    padding: 14px 7px;
    padding-bottom: 11px;
    border: solid 1px transparent;
    display: grid;
    > * {
      margin: auto;
    }
    &.head {
      height: 78.28px;
      margin-bottom: 2px;
    }
  }
}
