@use "styles/theme01" as *;

.list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
  .cell {
    position: relative;
    min-height: 53.14px;
    padding: 14px 7px;
    padding-bottom: 11px;
    border: solid 1px #e4e4e4;
    background-color: $bgc01;

    > .inputBox {
      position: relative;
      display: block;
      border-bottom: solid 1px $colorBorder01;
      text-align: center;
      z-index: 2;
      input {
        min-width: 110px;
        width: 100%;
        margin: auto;
        padding: 0 10px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
      }
      > svg,
      :global(.anticon) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    > .focusBg {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      z-index: 1;
    }

    // ----
    &.empty {
      display: grid;
      cursor: pointer;
      &:hover {
        background-color: #e1e1e1;
      }
      > img {
        margin: auto;
      }
    }
    &.delete {
      background-color: #faa;
      .inputBox {
        border-color: black;
        > svg,
        :global(.anticon) {
          color: black;
        }
      }
    }
    &.isFocus {
      border: solid 1px $colorActive01;
      .focusBg {
        opacity: 1;
      }
    }
  }

  .row {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 4px;
    .columns {
      display: grid;
      gap: 4px;
      > .cell.head {
        position: relative;
        padding-bottom: 8px;
        border-color: transparent;
        margin-bottom: 2px;
        > p {
          position: relative;
          margin: auto;
          margin-top: 3px;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          color: $colorMain;
          z-index: 2;
        }
        &.isFocus {
          border: solid 1px $colorActive01;
        }
      }
    }
  }

  .rowBg {
    width: 100%;
    height: 78.28px;
    background-color: $bgc01;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .iconCross01 {
    color: $colorBorder01;
  }
} // list

.caption {
  display: inline-block;
  vertical-align: top;
  display: inline-grid;
  gap: 4px;
  width: 106px;

  .cell {
    min-height: 53.14px;
    padding: 14px 7px;
    padding-bottom: 11px;
    border: solid 1px transparent;
    display: grid;
    > * {
      margin: auto;
    }
    &.head {
      height: 78.28px;
      margin-bottom: 2px;
    }
  }
}
