.editDeduction {
  padding-bottom: 20px;
}

.table {
  height: 500px;
  border: solid 1px theme("colors.border");
  overflow: auto;
}

.row {
  display: grid;
  grid-template-columns: 30px 200px 200px;
  gap: 30px;
  padding: 20px 20px;
  border-bottom: solid 1px theme("colors.border");
  justify-items: flex-start;
  // &:nth-last-of-type(1) {
  //   border-bottom: none;
  // }
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: theme("colors.bgc01");
  font-size: 20px;
}

.btnBar {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.btn_svg {
  width: 25px;
  height: 25px;
}
