@use "styles/theme01" as *;

.pageHeaderFlex01 {
  display: flex;
  width: 100%;
  min-height: 58px;
  border: solid 1px $colorBorder01;
  background-color: $bgc01;
  border-bottom-color: transparent;

  overflow: auto;

  > button,
  > div,
  > a,
  .fakeA {
    // flex: auto;
    display: inline-flex;
    flex: none;
    position: relative;

    > span {
      padding: 0 20px;
      font-weight: 400;
      font-size: 18px;
      margin: auto;
    }
    > .bottomBar {
      position: absolute;
      // bottom: -2px;
      bottom: 0px;
      width: 100%;
      border-width: 0 0 2px 0;
      border-color: transparent;
      z-index: 1;
    }

    &.active {
      background-color: $chosenBgc01;
      > .bottomBar {
        border-color: $colorActive01;
      }
    }
  }
  > div {
    padding: 0px 48px;
    cursor: auto;
    > .bottomBar {
      border-color: $colorActive01;
    }
  }
}
