@use "styles/theme01" as *;

.container {
  padding-left: 4px;
}

.panel {
  :global(.ant-collapse-header) {
    display: block !important;
    padding: 0 !important;
    background-color: #fff;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
  }

  // :global(.){
  // }
}
