.antdPanel.plus {
  :global(.ant-collapse-header) {
    padding: 0;
  }

  :global(.ant-collapse-content) {
    :global(.ant-collapse-content-box) {
      padding: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.tableContainer {
  border: solid 1px theme("colors.border");
}

.topPanel {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  > div:nth-of-type(1) {
    color: theme("colors.main");
    font-size: 20px;
  }
}

.table {
  overflow: auto;
  border: solid 3px transparent;
  border-width: 0 3px;
  max-height: 500px;
}

.basicRow {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  // align-items: center;
  align-items: flex-end;
  width: fit-content;
  height: 60px;
  > * {
    margin-right: 16px;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}

.row {
  @extend .basicRow;
  /* gap: 16px; */
  // padding-left: 22px;
  > * {
    &:nth-of-type(1) {
      margin-right: 0;
    }
  }
}

.sidePanel {
  position: sticky;
  left: 0px;
  flex: none;
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;

  border-right: solid 16px;
  border-left: solid 22px;

  /* next.js的Image有設置max-width:100%，不知為何這會造成跑版 */
  img {
    max-width: unset;
  }
}

.thead {
  @extend .row;

  position: sticky;
  top: 0;
  height: 45px;

  background-color: theme("colors.bgc01");
  border-bottom: solid 5px white;
  z-index: 1;
  .sidePanel {
    > * {
      visibility: hidden;
    }
    background-color: theme("colors.bgc01");
    border-color: theme("colors.bgc01");
  }
}

.bodyRow {
  @extend .row;
  background-color: #fff;
  .sidePanel {
    background-color: #fff;
    border-color: #fff;
  }

  &:hover {
    --bgc: theme("colors.hoverBgc");
    background-color: var(--bgc);
    .sidePanel {
      background-color: var(--bgc);
      border-color: var(--bgc);
    }
  }

  &.active {
    --bgc: theme("colors.chosenBgc");
    // position: sticky;
    // top: 45px;
    // z-index: 1;
    background-color: var(--bgc);
    .sidePanel {
      background-color: var(--bgc);
      border-color: var(--bgc);
    }
  }
}

.cell {
  padding: 0 5px;
}

.rightCell {
  @extend .cell;
}
// .rightCell_thead {
//   @extend .rightcell;
// }

.bottomBtnRow {
  position: sticky;
  left: 0px;
  bottom: 0;
  width: 100%;
  text-align: start;
  background-color: #fff;
  border-left: solid 22px #fff;
  .bottomBtn.plus {
    padding: 10px 20px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 500;
    color: theme("colors.main");
  }
}

.rightPanel {
  @extend .basicRow;
  position: sticky;
  right: 0;

  // display: flex;
  // flex-wrap: nowrap;
  // align-items: center;
  // gap: 5px;

  // height: 100%;
  background-color: #ddd;
  border-left: solid 5px white;
}
