@use "styles/theme01" as *;

.header {
  padding: 18px 28px;
  > h2 {
    display: inline-block;
    margin: 0;
    margin-right: 26px;
    font-weight: 400;
    font-size: 18px;
    color: $colorMain;
  }
  > button {
    padding: 5px 17px;
    font-weight: 400;
    font-size: 16px;
    color: $colorMain;
    border: solid 1px $colorBorder01;
    background-color: $bgc01;
    &.active {
      color: $colorActive01;
      border: solid 1px $colorActive01;
    }
  }
}

.thead {
  padding: 11px 0;
  background-color: $bgc01;
}

.theadCell {
  display: inline-block;
  padding: 2px 3px;
  margin-left: 16px;
  border: solid 1px transparent;
  cursor: default;
  > span {
    color: $colorMain;
  }
  &.allowMove {
    border: solid 1px $colorMain;
    cursor: grab;
  }
  &.isMoving {
    background-color: $chosenBgc01;
  }
  &.textCenter {
    text-align: center;
  }
}
