@use "styles/theme01" as *;

.container {
  width: calc(100% - (17px * 2));
  padding: 0 4px;
  margin: auto;
  margin-top: 17px;
  border: solid 1px $colorBorder01;
}

.listContainer {
  width: 100%;
  overflow: auto;
}

.addBtn {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
}
