@use "styles/theme01" as *;

.container {
  padding: 0 49px;
  margin-top: 50px;
}



.layer01 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.range {
}

// .total {
//   width: 341px;
//   height: 496px;
//   padding: 23px 25px 20p;
//   background-color: #ddd;
// }

