@use "styles/theme01" as *;

.container {
  // background-color: #ddd;
}

.row {
  padding: 11px 0 11px 0;
  white-space: nowrap;
  width:fit-content;
}
.buttonBox {
  display: inline-grid;
  grid-template-columns: repeat(3, 20px);
  gap: 16px;
  width: 124px;
  padding-left: 22px;
}

.column {
  display: inline-block;
  margin-left: 16px;
  vertical-align: bottom;
  > div,
  > label {
    padding: 0;
  }
  input {
    font-size: 16px !important;
  }
  &.textCenter {
    input {
      text-align: center;
    }
  }
}
