@use "styles/theme01" as *;

.container {
  // background-color: #ddd;
}

.row {
  // border: solid 1px black;
}

.column {
  display: inline-block;
  margin-left: 16px;
  &:nth-of-type(1) {
    margin-left: 124px;
  }
  input {
    font-size: 16px !important;
  }
}
