.attachmentContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 80px auto;
  gap: 20px;
  .caption {
    > span {
      color: theme("colors.main");
      font-size: 18px;
      font-weight: 400;
    }
  }
  .imgList {
    display: grid;
    gap: 20px;
  }
}

.btn_attachment.plus {
  padding: 0;
  > label {
    cursor: pointer;
    padding: 11px 44px;
  }
}
