.container {
  // width: 1440px;
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  margin: auto;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 221px auto;
  overflow: hidden;
  height: 100%;
  @screen laptop {
    grid-template-columns: auto;
  }
}
.main {
  height: 100%;
  padding: 32px;
  overflow: scroll;
  @screen laptop {
    padding: 0px 5px;
  }
}
.logo {
  width: 70px;
}
