.container {
  // width: 1440px;
  margin: auto;
  height:100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 221px auto;
  // > div {
  //   height: 100%;
  // }
}
.main {
  // background-color: #aaa;
}

.logo {
  width: 70px;
}
