.main {
  margin: 3px;
}

.threeYear {
  border-bottom: solid 1px red;
  .tbody {
    display: flex;
    gap: 50px;
    padding: 20px 30px 50px 20px;
    .tbodyCell {
      display: flex;
      gap: 7px;
      button,
      a {
        width: 100px;
        height: 40px;
        padding: 0;
        display: grid;
        > * {
          margin: auto;
        }
      }
    }
  }
}

.thead {
  display: flex;
  gap: 50px;
  padding: 11px 30px;
  background-color: theme("colors.bgc01");
  span {
    color: theme("colors.sub");
    font-size: 16px;
    font-weight: 700;
  }
  > * {
    flex: none;
  }
}

.row {
  .thead {
    gap: 60px;
  }
  .tbody {
    display: flex;
    gap: 60px;
    padding: 20px 30px;
    button,
    a {
      width: 100px;
      height: 40px;
      padding: 0;
      display: grid;
      > * {
        margin: auto;
      }
    }
  }
}
