@use "styles/theme01" as *;
@use "styles/layout" as *;

.quotation {
  padding-top: 36px;
  padding-bottom: 32px;
}

.switchBar {
  display: flex;
  width: calc(100% - 6px);
  margin: auto;
  margin-top: 35px;
  text-align: center;
  background-color: $bgc01;

  font-weight: 400;
  font-size: 18px;
  color: $colorMain;
  > div {
    flex: 1 1;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    &.active {
      background-color: $chosenBgc01;
      border-color: $colorActive01;
    }
  }
}

.redWrapper {
  width: calc(100% - 34px);
  padding: 0 3px;
  margin: auto;
  margin-top: 11px;
  border: solid 1px #ea1833;
  > hr {
    width: 100%;
    margin: auto;
    border-color: red;
  }
}
// ===============================================

.noQuotation {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  > * {
    margin: auto;
  }
  > span {
    font-size: 50px;
  }
  > button {
    background-color: #ddd;
    padding: 10px;
    margin-top: 30px;
    font-size: 30px;
  }
}
// ===============================================
// OldQuotationProduction

.oldQuotationProduction {
  width: calc(100% - 34px);
  border: solid 1px $colorMain;
  margin: auto;
  margin-top: 16px;
  :global(.ant-collapse-item) :global(.ant-collapse-header) {
    padding: unset;
    display: block;
    background-color: #fff;
    cursor: auto;
  }
  :global(.ant-collapse-content-box) {
    padding: unset;
    overflow: auto;
  }
  :global(.ant-collapse-item) {
    border: none;
  }

  .OqpHeader {
    position: relative;
    background-color: #ffeeee;
    text-align: center;
    padding: 11px 0;
    border-bottom: solid 1px $colorMain;
    transition: 0.3s;
    &.active {
      border-color: #ffeeee;
    }
    > span {
      font-weight: 400;
      font-size: 16px;
      color: $colorMain;
    }
    > .panelButton {
      padding: 5px 20px 5px 28px;
      margin: auto;
      background-color: $bgc01;
      border: solid 1px $colorBorder01;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      > * {
        vertical-align: middle;
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }

  .quotationProduction {
    width: 100%;
    margin: 0;
    border: none;
  }
} // oldQuotationProduction

// ===============================================

.quotationState {
  position: relative;
  background-color: $bgc01;
  border: solid 1px $colorBorder01;
  > * {
    padding: 10px 20px;
    display: inline-block;
  }
  .sel {
    width: fit-content;
    cursor: pointer;
    > * {
      display: inline-block;
      padding: 0;
    }
    .select03 {
      width: 60px;
      hr {
        display: none;
      }
      [class$="MenuList"] {
        background-color: pink !important;
      }
    }
    &.isFocus {
      > span {
        color: red;
      }
      .select03 div {
        color: red;
      }
    }
  }
  .history {
    width: fit-content;
    border-left: solid 1px $colorBorder01;
    cursor: pointer;
  }
  .historyList {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    padding: 0 20px;
    z-index: 1;
    background-color: white;
    border: solid 1px $colorBorder01;
    > .item {
      display: grid;
      grid-template-columns: 85px 100px;
      justify-content: space-between;
      padding: 10px 0;
      span {
        font-weight: 500;
        font-size: 16px;
      }
      > div:nth-of-type(1) {
        span {
          color: $colorMain;
        }
      }
      > div:nth-of-type(2) {
        display: grid;
        gap: 7px;
        > span:nth-of-type(1) {
          color: $colorMain;
        }
      }
    }
    hr:nth-last-of-type(1) {
      display: none;
    }
    &.isShow {
      display: block;
    }
  }
}

// ===============================================

.editButton {
  > span {
    width: 64px;
  }
}
