@use "styles/theme01" as *;

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    // height: 712px;
}

.content {
    width: 100%;
    overflow-y: auto;
    top: 0;
}

.head_head1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(214, 214, 214);

    div {
        margin-right: 2px;
    }

    // background-color: gray;
}

.head_body {
    display: grid;
    grid-template-columns: 75% 1fr;
    // gap: 15px;
    // width: auto;
    // margin-top: 5px;
    // margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

.head_content1 {
    display: grid;
    grid-template-columns: 597px 1fr 1fr; // 左右兩邊比例，可以調整
    gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  
    div {
      margin-right: 2px;
    }
  }

  .head_content2 {
    display: grid;
    grid-template-columns: 597px 1fr 1fr;
    gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  
    div {
      margin-right: 2px;
    }
  }

  .body_content1 {
    display: grid;
    grid-template-columns: 1fr; // 左右兩邊比例，可以調整
    gap: 0px;
    width: auto;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    // border-top:1px solid rgb(168, 168, 168);
    overflow-x: hidden;
    // background-color: gray;
  }

//#region 按鈕
.squarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 400;
    font-size: 0.9rem;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.disablesquarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 400;
    font-size: 0.9rem;
    color: #5b5a5ad6;
    transform: translateY(2px);
  
    &:hover {
      background-repeat: no-repeat;
      background-position: center right 10px;
      /* 調整圖標位置 */
      cursor: not-allowed;
      /* 添加這行使滑鼠顯示禁止符號 */
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }

//#endregion



//#region 未進貨採購單
div.panelHeader21 {
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        padding: 0 20px;

        span {
            font-weight: 400;
            font-size: 18px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns:30px 130px 200px 100px 150px 100px 100px 250px 30px;
        gap: 15px;
        // border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }

    .selectedRow {
        background-color: #ecf1ff;
        /* 當前選擇項目的背景顏色 */
    }
}

//#region 未進貨採購單明細

.detailTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  margin-left: 50px;
}

.detailTable th{
  padding: 0px 8px;
  text-align: left;
  color:#979797;
  font-weight: 400;
  
}

.detailTable td {
  // border-bottom: 1px solid #c1c1c1;
  // border-left: 1px solid #c1c1c1;
  padding: 0px 8px;
  text-align: left;
  font-size: 16px;
}

.detailTable th {
  background-color: #f2f2f2;
}


// div.panelHeader14 {
//   // padding-left: 20px;
//   border-bottom: solid 1px $colorBorder01;

//   .row01,
//   .row02 {
//     span {
      
//       font-weight: 400;
//       font-size: 16px;
//     }

//     .clientName,
//     .country {
//       color: $colorMain;
//     }
//   }

//   .row01 {
//     display: grid;
//     grid-template-columns:30px 30px 150px 415px 415px 100px 100px 40px 100px 150px 250px;
//     gap: 5px;
//   }
// }

// //#endregion




// 功能
//#region 收折
.customCollapse {
    border: none; // 移除邊框
    background: transparent; // 移除背景
    box-shadow: none; // 移除陰影
    padding:0;
    margin:0;
}

.customCollapse .ant-collapse-header {
  background: transparent; // 移除背景
    padding: 0;
    border: none;;
}

.customCollapse .ant-collapse-content {
    padding: 0;
    border: none;
}
//#endregion

//#region 頁籤
.head_tab {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: auto;
  // margin-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
  div {
    margin-right: 2px;
  }
}

//#endregion



// #元件
// 頁籤按鈕
.detailminitabbtn {
  height: 30px;
  border-bottom: 0px;
  background-color: #f5f5f5;
  padding: 0px 8px;
  font-weight: 400;
  font-size: 16px;
  color: #14256a;
  transform: translateY(2px);
  width: 100px;
}

