@use "styles/theme01" as *;

.table {
  height: 100%;
  overflow: auto;

  .thead {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    gap: 22px;
    padding: 11px 22px;
    // 17px是滾動條的寬度
    padding-right: calc(22px + 17px);
    background-color: $bgc01;
    > .column {
      font-weight: 400;
      font-size: 16px;
      &.textCenter {
        text-align: center;
      }
      > span {
        color: $colorMain;
      }
    }
  }
  .tbody {
    .row {
      display: flex;
      gap: 22px;
      padding: 11px 22px;
      .column {
        font-weight: 400;
        font-size: 16px;
        &.textCenter {
          text-align: center;
        }
        .icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
