@use "styles/theme01" as *;

.bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  > div {
    // flex: 1 1 100%;
    flex: none;
    width: fit-content;
    padding: 8px 22px 6px 22px;
    background-color: $bgc01;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $colorActive01;
      background-color: #fee;
    }
  }
}
