@use "styles/theme01" as *;

.container {
  width: calc(100% - (17px * 2));
  padding: 0 4px;
  margin: auto;
  margin-top: 17px;
  border: solid 1px $colorBorder01;
  .addBtn {
    width: fit-content;
    text-align: left;
    background-color: transparent;
    border: none;
  }
}

.main {
  width: 100%;
  overflow: auto;
  max-height: 463px;
  .left {
    .thead {
      position: sticky;
      top: 0;
      display: flex;
      width: 100%;
      padding-left: 20px;
    }
  }
  .row {
    display: flex;
    width: 100%;
    padding-left: 20px;
    place-items: center;
  }
  .btnBox {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    width: 45px;
    > * {
      flex: none;
    }
    span {
      font-weight: 400;
      font-size: 16px;
    }
  }
}
