$topBlockHeight: 50px;

.main {
  // padding: 0 20px;
  // padding-bottom: 50px;
}

.tableWrapper {
  position: relative;
  // &::before {
  //   content: "";
  //   display: block;
  //   position: sticky;
  //   z-index: 2;
  //   top: 0px;
  //   width: 100%;
  //   height: $topBlockHeight;
  //   background-color: white;
  // }
}

.table {
  // border: solid 1px theme("colors.border");

  border-top: 0;
  border-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  // gap: 10px;

  border-bottom: solid 1px theme("colors.border");
  padding: 10px 0;
  padding-right: 50px;

  width: fit-content;
  background-color: white;
  font-size: 16px;

  > div {
    text-align: center;
    background-color: inherit;
    padding: 0 10px;

    > input {
      width: 100%;
      border-bottom: solid 1px transparent;
    }
    > span {
      display: inline-block;
      border-bottom: solid 1px transparent;
      white-space: pre-wrap;
    }
  }

  &.enabled {
    input:not(.readOnly) {
      border-color: theme("colors.sub");
    }
  }
}

.thead {
  position: sticky;
  // top: $topBlockHeight;
  top: 0;
  z-index: 2;
  background-color: theme("colors.bgc01");
  // border-top: solid 1px theme("colors.border");
  font-weight: 500;
}

.btnPanel {
  display: flex;

  justify-content: center;
  align-items: center;
  .enable {
    color: red;
  }
}

.btnPanel {
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: inherit;
}
.billSerialNumber {
  position: sticky;
  left: 70px;
  z-index: 1;
  background-color: inherit;
}
