$topBlockHeight: 50px;

.main {
  // padding: 0 20px;
  // padding-bottom: 50px;
}

.tableWrapper {
  position: relative;
  // &::before {
  //   content: "";
  //   display: block;
  //   position: sticky;
  //   z-index: 2;
  //   top: 0px;
  //   width: 100%;
  //   height: $topBlockHeight;
  //   background-color: white;
  // }
}

.table {
  // border: solid 1px theme("colors.border");

  border-top: 0;
  border-bottom: 0;
}

.thead {
  position: sticky;
  // top: $topBlockHeight;
  top: 0;
  z-index: 3;
  background-color: theme("colors.bgc01");
  // border-top: solid 1px theme("colors.border");
  font-weight: 500;
}

.totalBar {
  position: sticky;
  bottom: 0;
  z-index: 3;
}
.total_receivablePayment {
  font-size: 18px;
  position: relative;
  &::before {
    content: "收款合計 : ";
    display: inline-block;
    width: max-content;
    position: absolute;
    right: 100%;
    top: 0;
  }
}
