.table {
  position: relative;
  max-height: 520px;
  max-width: 100%;
  width: fit-content;
  overflow: auto;
  .thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .tfoot {
    position: sticky;
    bottom: 0;
    z-index: 1;
  }
}
