@use "styles/theme01" as *;

.container {
  background-color: $bgc01;
  height: auto;
  padding: 25px;
  .sel {
    padding-left: 12px;
  }
  .inputWrapper {
    display: grid;
    grid-template-columns: auto fit-content(100%);
    align-items: center;
    padding-left: 12px;
    margin-top: 12px;
    border-bottom: solid 1px black;
    input {
      background-color: transparent;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .iconClose {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
