@use "styles/theme01" as *;

.container {
  height: 100%;
  padding: 3px;
  overflow: auto;
  scroll-behavior: smooth;
}

.groupHeader {
  padding: 10px 20px;
  background-color: $bgc01;
  > span {
    font-size: 16px;
    font-weight: 400;
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 27px;
  padding: 15px;
  padding-left: 65px;
  border-bottom: solid 1px $colorBorder01;
  cursor: pointer;

  > div {
    span {
      font-size: 16px;
      font-weight: 400;
    }
    &.chDate,
    &.chName {
      position: relative;
      top: 6px;
    }
    &.chName span {
      color: $colorMain;
    }
    &.reviewerList {
      display: flex;
      flex-wrap: wrap;
      gap: 27px;
      width: 100%;
    }
  }
}

.statuBtn {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  place-content: center;
  padding: 6px 16px 6px 13px;
  background-color: $bgc01;
  border-radius: 17px;
}
