@use "styles/theme01" as *;

.table {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  height: 100%;
  padding: 3px;
  .thead {
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%)) auto repeat(3, fit-content(100%));
    grid-template-rows: repeat(6, auto);
    height: 75px;
    > .cell {
      display: grid;
      background-color: $bgc01;
      border: solid 1px $colorBorder01;
      border-width: 0 1px 1px 0;
      > span {
        margin: auto;
        font-size: 14px;
        font-weight: 400;
      }
      &.rightEdge {
        border-right: 0;
      }
      &.textLeft {
        > span {
          margin-left: 20px;
        }
      }
    }
  } // thead

  .tbody {
    height: 100%;
    overflow: auto;
    border-top: solid 1px $colorBorder01;
    .row {
      display: grid;
      grid-template-columns: repeat(4, fit-content(100%)) auto repeat(3, fit-content(100%));
      width: 100%;
      border-bottom: solid 1px $colorBorder01;

      > .cell {
        display: grid;
        padding: 15px 20px;
        border: solid 1px $colorBorder01;
        border-width: 0 1px 1px 0;
        span,
        input {
          font-size: 16px;
        }
        &.rightEdge {
          border-right: 0;
        }
        &.textLeft {
          // margin-left: 20px;
        }
      }

      // > div {
      //   padding: 12px 10px;
      //   border-right: solid 1px $colorBorder01;
      //   > span {
      //     font-size: 16px;
      //     font-weight: 400;
      //     color: $colorMain;
      //     word-break: break-all;
      //     word-wrap: break-word;
      //   }
      //   &:nth-last-of-type(1) {
      //     border-right: none;
      //   }
      //   &.check {
      //     display: grid;
      //     > * {
      //       margin: auto;
      //     }
      //   }
      //   &.content {
      //     textarea {
      //       font-size: 16px;
      //     }
      //   }
      // }
    } // row
    .newReportBtn {
      border: none;
      background-color: transparent;
      padding: 0;
      margin-top: 15px;
      margin-left: 13px;
    }
  } // tbody
} // table
