.table {
  > div:nth-last-of-type(2) {
    border-bottom: 0;
  }
}

.thead {
  position: sticky;
  top: 0;
}

.bottomRow {
  position: sticky;
  bottom: 0;
  border-top: solid 1px theme("colors.border");
}
