@use "styles/theme01" as *;

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    right: 0;
    // z-index: 1000;
    // height: 712px;
}

.content {
    width: 100%;
    // overflow-y: auto;
    top: 0;
}

.body_content1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: auto;
    // margin-left: 20px;
    // margin-right: 20px;
    // overflow-x: hidden;
    // max-height: 500px; // 最大高度設定為300px
}

//#region 薪資維護
.thead1 {
    position: -webkit-sticky; /* 為兼容性增加前綴 */
    position: sticky;
    top: 0;
    z-index: 1000; /* 確保元素位於其他內容的上層 */
    display: grid;
    grid-template-columns: repeat(7, 150px)300px 10px; /* 設定列的寬度，使用 repeat 使得每一列大小一致 */
    gap: 5px;
    height: 40px;
    padding: 10px 20px;
    background-color: $bgc01; /* 設定背景顏色 */
}

.thead1 span {
    font-weight: 400;
    font-size: 16px;
    color: #979797;
    // padding: 0 10px; /* 添加內邊距來讓文字不會緊貼邊緣 */
}

.thead1 span:nth-child(2),
.thead1 span:nth-child(3),
.thead1 span:nth-child(4) {
    position: sticky;
    // background-color: $bgc01; /* 固定欄位的背景顏色 */
    z-index: 1001; /* 確保固定欄位在最上層 */
    // padding: 0 10px; /* 添加內邊距 */
    
}

.thead1 span:nth-child(1) {
    left: 20px;
    /* 第一欄固定 */
    background-color: $bgc01;
    // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
    // background-color: orange;
    // width: 100%;
}

.thead1 span:nth-child(2) {
    left: 125px;
    /* 第二欄固定 */
    background-color: $bgc01;
    // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
}

.thead1 span:nth-child(3) {
    left: 230px;
    /* 第三欄固定 */
    // background-color: $bgc01;
    // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
}
  
//#endregion

div.panelHeader1 {
    padding: 10px 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: repeat(7, 150px)300px 10px; /* 設定列的寬度，使用 repeat 使得每一列大小一致 */
        gap: 5px;
        position: relative;  /* 確保 sticky 定位可以參照這個容器 */
    }

    /* 設置前三欄為 sticky */
    .row01 span:nth-child(2),
    .row01 span:nth-child(3),
    .row01 span:nth-child(4) {
        position: sticky;
        // background-color: white; /* 固定欄位的背景顏色 */
        z-index: 1001; /* 確保這些欄位在其他欄位上層 */
        // padding: 0 10px; /* 增加內邊距，根據需要調整 */
        
    }

    .row01 span:nth-child(1) {
        left: 20px;
        /* 第一欄固定 */
    }

    .row01 span:nth-child(2) {
        left: 125px;
        /* 第二欄固定 */
    }

    .row01 span:nth-child(3) {
        left: 230px;
        /* 第三欄固定 */
        // border-right: solid 1px #ddd; /* 加邊框區分欄位 */
        // padding:0px;
    }
}

.longsquarebtn {
    height: 39px;
    width: 139px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.longredsquarebtn {
    height: 39px;
    width: 139px;
    // padding: 0px 40px;
    border: solid 1px #ea1833;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    ;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}



//#region 假別
.thead2 {
    position: -webkit-sticky; // 為兼容性增加前綴
    position: sticky;
    top: 0;
    z-index: 1000; // 確保元素位於其他內容的上層
    display: grid;
    grid-template-columns:50px 1fr 1fr 10px;
    gap: 5px;
    height: 50px;
    padding: 0px 30px;
    background-color: $bgc01;

    >* {
        margin: auto;
        margin-left: 0;

        &:nth-last-of-type(1) {
            margin-left: auto;
        }
    }

    >span {
        font-weight: 400;
        font-size: 18px;
        color: #404040;
        
    }
}

//#endregion

div.panelHeader2 {
    gap: 5px;
    height: 50px;
    padding:10px 30px;
    border-bottom: solid 1px $colorBorder01;
    background-color: #ffeeee;
    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 18px;
            
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns:50px 1fr 1fr 50px;
        // row-gap: 5px; /* 僅應用於行間距 */
        // column-gap: 5px; /* 僅應用於列間距 */
        gap: 5px;
        height: 50px;
        cursor: pointer;

    }
    &:hover {
        background-color: #ffeeee; // 設定粉紅色背景
    }
    
}


.minitabbtn {
    height: 47.7px;
    background-color: #f5f5f5;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);
    width: 122px;
    border: 1px solid #c1c1c1;

    &:hover {
        //   border: solid 1px #14256a;
        background-color: #14256a1b
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #14256a1b;
        color: #14256a;
    }
}

.minitabredbtn {
    height: 47.7px;
    background-color: #f5f5f5;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    transform: translateY(2px);
    width: 122px;
    border: solid 1px #ea1833;

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}


div.panelHeader3 {
    gap: 5px;
    height: 50px;
    padding:10px 30px;
    border-bottom: solid 1px $colorBorder01;
    // border-top:solid 3px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 18px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns:50px 1fr 1fr 10px;
        gap: 5px;
        height: 50px;
        cursor: pointer;
    }
}
