.collapse {
  width: fit-content;
  &.noTlrBorder {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
.panel.plus {
  :global(.ant-collapse-header) {
    display: block;
    padding: 0;
    background-color: #fff;
    cursor: auto;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
    background-color: #fff;
  }
}

.icon {
  cursor: pointer;
}
