.collspse {
  :global(.ant-collapse-item) {
    background-color: white;
    :global(.ant-collapse-header) {
      padding: 0;
      border-radius: unset;
    }

    :global(.ant-collapse-content) {
      :global(.ant-collapse-content-box) {
        padding: 0;
      }
    }
  }
}

.collspse_fong.collspse_fong {
  @extend .collspse;
  box-shadow: 0px 4px 4px 0px #00000040;

  overflow: hidden;
  :global(.ant-collapse-item) {
    :global(.ant-collapse-header) {
      padding: 12px;
      background-color: theme("colors.gray09");

      :global(.ant-collapse-header-text) {
        font-weight: 500;
      }
    }
    :global(.ant-collapse-content) {
      background-color: theme("colors.gray10");
      :global(.ant-collapse-content-box) {
        padding: 24px;
      }
    }
  }
}

.collapse_old {
  @extend .collspse;

  :global(.ant-collapse-item) {
    :global(.ant-collapse-header) {
      background-color: inherit;
    }
    :global(.ant-collapse-content) {
      background-color: inherit;
      :global(.ant-collapse-content-box) {
        background-color: inherit;
      }
    }
  }
}

.icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.active {
  transform: rotate(-180deg);
}
