.inputPassword {
  display: flex;
  align-items: center;

  //調整文字向上偏移的狀況
  > p {
    margin-top: 14px;
  }
}
.formBlock {
  display: flex;
  width: fit-content;
}

.customInput {
  ::placeholder {
    color: #909090; // ← 想要的 placeholder 顏色
    opacity: 1;     // 針對 Firefox 等瀏覽器
  }
}
