@use "styles/theme01" as *;
@use "styles/layout" as *;


.addButton {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  > img {
    margin-right: 5px;
  }
}

.mainContainer {
  padding: 0 4px;
}
