@use "styles/theme01" as *;
@use "./select.module.scss" as *;

.label {
  display: block;
  grid-template-columns: auto;
  gap: 0px;
}

.select {
  padding-right: 0px;

  [class$="placeholder"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $colorBorder01;
  }
  [class$="singleValue"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $colorText;
  }
  // [class$=]{
  // }
}
