@use "styles/pdf";
@use "components/page/worksDepartment/electronicSupplies/itemList/itemList.module.scss";

.container {
  position: relative;
}

.panel {
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: theme("colors.bgc01");
}

.pageContainer {
  padding: 20px;
}

.pageWrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.page {
  padding: 20px;

  // overflow: hidden;
}
.tempPage {
  height: 0;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 20px;
  > h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: theme("colors.main");
  }
  > span {
    font-size: 18px;
  }
}

.table {
  border: solid 1px theme("colors.border");
  border-top: 0;
  border-bottom: 0;
}
.thead {
  border-top-width: 1px;
}
