.table {
  overflow: auto;
}
.row {
  // background-color: pink;
  // .cell {
  //   background-color: inherit;
  // }
}

.checkBox.plus {
  cursor: unset;
  :global(.ant-checkbox-inner) {
    cursor: unset;
  }
  :global(.ant-checkbox) {
    cursor: unset;
  }
}

.cell.plus {
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre;
  word-break: break-all;
}

.itemName {
  position: sticky;
  left: 0px;
}
.itemNumber {
  position: sticky;
  left: 150px;
}
