.main {
  height: 100%;
  overflow: auto;
}

.panel.panel {
  :global(.ant-collapse-header) {
    display: block !important;
    padding: 0 !important;
    background-color: #fff;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
  }

  // :global(.){
  // }
}

.appendList {
  display: grid;
  // grid-template-columns: 50px 110px 90px auto;
  grid-template-columns: 110px 150px auto;
  gap: 16px 25px;
  padding: 23px 30px;
  background-color: theme("colors.bgc01");
  .linkBtn {
    margin: auto;
    margin-right: 0;
  }
  .noAppend {
    grid-column: span 3;
  }
}
