@use "styles/layout" as *;

.container {
  position: relative;
  height: 73px;
}

.pageTitle {
  position: absolute;
  left: 0;
  bottom: -1px;
  padding: 15px 48px;
  font-weight: 400;
  font-size: 18px;
  border-bottom: solid 2px $colorActive01;
}

.panel {
  width: fit-content;
  height: 100%;
  margin: auto;
  margin-right: 0;
}
