@use "styles/theme01" as *;
@use "./local" as *;

.container {
}

.title {
  display: grid;
  width: $cellWidth;
  height: $hederHeight;
  // padding: 14px 0 8px 0;
  margin: auto;
  > div {
    padding-bottom: 3px;
    border-bottom: solid 1px transparent;
    width: 100%;
    margin: auto;
    > span {
      display: block;
      width: calc(100% - 30px);
      margin: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      background-color: transparent;
    }
  }
}

.list {
  margin: auto;
  width: fit-content;
  > li {
    position: relative;
    width: $cellWidth;
    height: $cellHeight;
    padding: 14px 7px 10px 7px;
    margin-top: 4px;
    background-color: transparent;
    border: solid 1px transparent;
    > div {
      padding-bottom: 3px;
      border-bottom: solid 1px transparent;
      > span {
        display: block;
        width: 95px;
        margin: auto;
        text-align: center;
        background-color: transparent;
      }
    }
  }
}
