@use "styles/theme01" as *;

.label {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 40px;
  width: 100%;
  padding: 17px 4px 14px 4px;
  > * {
    margin: auto;
    margin-left: 0;
    // margin-top: 0;
  }
  > span {
    font-weight: 500;
    font-size: 20px;
    color: $colorText;
    margin-top: 0;
  }
  > textArea {
    width: 100%;
    margin-top: 1px;
    font-weight: 400;
    font-size: 18px;
    resize: none;
    &::placeholder {
      color: $colorBorder01;
    }
    &:focus ~ hr {
      border-color: $colorActive01;
    }
  }
  > hr {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-color: $colorMain;
  }
}

.label {
  > span {
  }
  textArea {
    background-color: transparent;
  }
  &.disabled {
    > hr {
      border-color: transparent;
    }
  }
  > hr {
    &.noUnderline {
      border-color: transparent;
    }
  }
  .colorMain {
    color: $colorMain;
  }
}
