@use "styles/theme01" as *;
@use "./input.module.scss" as *;

.label {
  display: block;
  input {
    background-color: transparent;
  }
  &.disabled {
    > hr {
      border-color: transparent;
    }
  }
}
