$width_quotationNumber: 110px;
$width_projectName: 200px;
$width_group01: 480px;
$width_builder: 147px;
$width_designer: 147px;
$width_total: 147px;
$width_group02: 357px;
$width_left: calc($width_group01 + $width_builder + $width_designer);

.quotationNumber {
  width: $width_quotationNumber;
}
.projectName {
  width: $width_projectName;
}
.builder {
  width: $width_builder;
}
.designer {
  width: $width_designer;
}
.total {
  width: $width_total;
}
.group02 {
  width: $width_group02;
}

.table {
  width: fit-content;
}

.group01 {
  display: flex;
  padding: 0px 30px;
  gap: 20px;
  width: $width_group01;
  background-color: inherit;
  position: sticky;
  left: 0;
}

.row {
  min-width: unset;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content !important;
  > div {
    display: flex;
    align-items: center;
    flex: none;
    padding: 0 20px;
    &:nth-of-type(1) {
      padding-left: 30px;
      padding-right: 20px;
    }
    border-right: solid 1px theme("colors.border");
  }
}

.thead {
  position: sticky;
  height: 70px;
  // top: 79px;
  top: 0;
  z-index: 2;
  border-top: solid 1px theme("colors.border");
  border-bottom: solid 1px theme("colors.sub");

  background-color: theme("colors.bgc01");

  .group01 {
    background-color: theme("colors.bgc01");
  }
  .group02 {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 38px auto;
    > div {
      display: flex;
      height: 100%;
      border-right: solid 1px theme("colors.border");
      > span {
        margin: auto;
      }
    }

    > div:nth-of-type(1) {
      grid-column: span 3;
      border-bottom: solid 1px theme("colors.border");
      border-right: 0;
    }
    > div:nth-last-of-type(1) {
      border-right: 0;
    }
  }
}

.tbody {
  .row {
    border-bottom: solid 1px theme("colors.border");
    background-color: white;
    &:hover {
      background-color: theme("colors.hoverBgc");
    }

    &:nth-last-of-type(1) {
      border-bottom: 0;
    }

    span {
      color: theme("colors.main");
      font-size: 16px;
    }

    height: 74px;
    .group01 {
      > div {
        span {
          display: block;
          &:nth-of-type(1) {
            margin-bottom: 5px;
            color: #979797;
            font-size: 14px;
          }
        }
      }
    }

    .group02 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
      > div {
        display: flex;
        height: 100%;
        border-right: solid 1px theme("colors.border");
        > span {
          margin: auto;
        }
        &:nth-last-of-type(1) {
          border-right: 0;
        }
      }
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  border-top: solid 1px theme("colors.sub");
  .bar01,
  .bar02 {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    border-right: solid 1px theme("colors.border");
    border-bottom: solid 1px theme("colors.border");
    background-color: white;

    > * {
      flex: none;
    }
    .left {
      position: sticky;
      left: calc(0px - $width_builder - $width_designer);
      width: $width_left;
      background-color: theme("colors.bgc01");

      > div {
        width: fit-content;
        padding: 11px 20px;
        margin: auto;
        margin-right: 0;
        border-left: solid 1px theme("colors.border");
        border-right: solid 1px theme("colors.border");
      }
    }
  }

  .bar01 {
  }
  .bar02 {
    width: 100%;
    &.bonusBar {
      .left {
        > div {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
      .bonusWraper {
        position: sticky;
        left: $width_group01;
        .bonus {
          padding: 10px;
        }
      }
    }
  }
  .group02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    > div {
      display: flex;
      height: 100%;
      border-right: solid 1px theme("colors.border");
      > span {
        margin: auto;
      }
    }
    &.total {
      position: sticky;
      left: $width_group01;
    }
  }
}
