.caption {
  margin-left: 35px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  color: theme("colors.main");
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 100px;
  margin: 0 100px;
}

// =========================================================

.inputSel_hr.plus {
  border-color: theme("colors.main");
}
