@use "styles/theme01" as *;

.container {
  padding: 0;
  margin: 0;
  > li {
    &:nth-last-of-type(1) {
      > div {
        border-color: transparent;
      }
    }
  }
}

.item {
  padding: 17px 42px;
  padding-bottom: 16px;
  border-bottom: solid 1px $colorBorder01;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
