@use "styles/theme01" as *;

.container {
  display: flex;
  flex-wrap: nowrap;
  // grid-template-columns: auto auto auto auto;
  // grid-template-columns: auto auto auto 65px;
  grid-gap: 19px;
  height: 100%;
  padding: 0 23px 0 33px;
  margin: auto;
  background-color: $bgc01;
  > * {
    margin: auto;
  }
}

.avatar {
  display: block;
  width: 64px;
  height: 64px;
}

.name {
  > p {
    margin: auto;
    &:nth-of-type(1) {
      font-size: 16px;
      font-weight: 600;
      // line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: $colorMain;
    }
    &:nth-of-type(2) {
      font-size: 16px;
      // font-weight: 500;
      // line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: $colorMain;
    }
  }
}
.changePw {
  cursor: pointer;
  > span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $colorMain;
  }
}

.line {
  width: 1px;
  height: 44px;
  margin-left: 4px;
  background-color: $colorActive01;
}

.logout {
  cursor: pointer;
  > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 19px;
  }
  > span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $colorMain;
    margin-left: 5px;
  }
}

.antdModalChangePw {
  .inputContainer {
    display: grid;
    gap: 20px;
    > label {
      > * {
        display: block;
      }
      > span {
        color: $colorMain;
        font-size: 16px;
      }
      input {
        width: 250px;
        padding: 5px;
        border: solid 1px $colorBorder01;
        &:focus {
          border: solid 1px $colorActive01;
        }
      }
    }
  }
}
