@use "styles/theme01" as *;

//#region 物料明細(請購帶入)
.thead1 {
    position: -webkit-sticky; // 為兼容性增加前綴
    position: sticky;
    top: 0;
    z-index: 1000; // 確保元素位於其他內容的上層
    display: grid;
    grid-template-columns: 60px 30px 150px 415px 415px 100px 100px 100px 65px;
    // gap: 5px;
    height: 40px;
    padding: 0px 20px;
    background-color: $bgc01;
  
    >* {
      margin: auto;
      margin-left: 0;
  
      &:nth-last-of-type(1) {
        margin-left: auto;
      }
    }
  
    >span {
      font-weight: 400;
      font-size: 18px;
      // color: #979797;
      color:#14256a;
    }
  }
  
  //#endregion