@use "styles/theme01" as *;

//#region 物料明細(請購帶入)
.thead1 {
    position: -webkit-sticky; // 為兼容性增加前綴
    position: sticky;
    top: 0;
    z-index: 1000; // 確保元素位於其他內容的上層
    display: grid;
    grid-template-columns: 100px 100px 150px 400px 400px 100px 100px 100px 150px 100px;
    gap: 15px;
    height: 40px;
      padding: 0px 30px;
    background-color: $bgc01;
  
    >* {
      margin: auto;
      margin-left: 0;
  
      &:nth-last-of-type(1) {
        margin-left: auto;
      }
    }
  
    >span {
      font-weight: 400;
      font-size: 18px;
      // color: #979797;
      color:#14256a;
    }
  }
  
  //#endregion


  div.panelHeader {
    // padding: 17px 30px;
    border-bottom: solid 1px $colorBorder01;
  
    //   background-color: rgb(245, 104, 69);
    .row01,
    .row02 {
      span {
        font-weight: 400;
        font-size: 16px;
      }
  
      .clientName,
      .country {
        color: $colorMain;
      }
    }
  
    .row01 {
      height:40px;
      display: grid;
      grid-template-columns: 100px 100px 150px 400px 400px 100px 100px 100px 150px 100px;
      gap: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 10px 30px;
    }
  
    .selectedRow {
      background-color: #ecf1ff;
      /* 當前選擇項目的背景顏色 */
    }
  }

  .body_content1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: auto;
    // margin-left: 20px;
    // margin-right: 20px;
    overflow-x: hidden;
    max-height: 350px; // 最大高度設定為300px
}


//#region 物料維護
div.panelHeader2 {
  border-bottom: solid 1px $colorBorder01;

  .row01,
  .row02 {
      padding-left: 20px;

      span {
          font-weight: 400;
          font-size: 16px;
      }

      .clientName,
      .country {
          color: $colorMain;
      }
  }

  .row01 {
      display: grid;
      grid-template-columns: 30px 150px 300px 400px 100px 100px 30px 50px 100px 100px 30px;
      gap: 15px;
      // border-bottom: 1px solid #ddd;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .selectedRow {
      background-color: #ecf1ff;
      /* 當前選擇項目的背景顏色 */
  }
}

//#endregion


.shortsquarebtn {
  display: inline-flex; // 確保內容水平垂直居中
  align-items: center;
  justify-content: center;
  height: 43.16px;
  min-width: 78px; // 避免過短導致內容擠壓
  padding: 0 12px; // 適量的左右間距
  border: solid 1px #c1c1c1;
  background-color: $bgc01;
  font-weight: 500;
  font-size: 16px;
  color: #14256a;
  text-align: center;
  white-space: nowrap; // 防止文字換行
  box-sizing: border-box; // 包括 padding 在內計算寬高
  transform: translateY(0px);

  &:hover {
      border: solid 1px #c1c1c1;
      background-color: #c1c1c17c;
  }

  &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
  }
}
