.wrapper {
  padding: 3px;
  padding-left: 0;
  padding-top: 0;
}

.table {
  display: flex;
  flex-wrap: nowrap;
}

.grid {
  display: grid;
  grid-template-rows: 38px 34px repeat(14, 54px);
  grid-auto-columns: 125px;
  grid-auto-flow: column;

  > div {
    display: grid;
    > span {
      margin: auto;
    }
    border: solid 1px theme("colors.border");
    border-width: 0 1px 1px 0;
  }
  .corner {
    grid-row: span 2;
  }
  .noBottom {
    border-bottom: 0;
  }
  .noRight {
    // border-right: 0;
  }
}

.left {
  @extend .grid;
  position: sticky;
  left: 0;
  border-left: 3px solid white;
  grid-auto-columns: 67px;
  background-color: theme("colors.bgc01");
  .corner {
    position: sticky;
    top: 0;
    background-color: theme("colors.bgc01");
  }
}
.main {
  @extend .grid;

  span {
    color: theme("colors.main");
    font-size: 16px;
    font-weight: 400;
  }

  .companyName,
  .year {
    background-color: theme("colors.bgc01");
  }
  .companyName {
    color: theme("colors.main");
    font-size: 14px;
    font-weight: 400;
    position: sticky;
    top: 0px;
  }
  .year {
    font-size: 14px;
    font-weight: 400;
    position: sticky;
    top: 38px;
  }
}
