.table {
  :global(.ant-table-container) {
    border: solid 1px #616161;
    border-radius: theme("border.radius.normal") !important;
    overflow: hidden;
    :global(.ant-table-cell) {
      padding: 0 12px;
      height: 40px;
      color: theme("colors.text02");
      border-color: #616161;
      font-weight: 500;
    }
  }

  :global(.ant-table-thead) {
    :global(.ant-table-cell) {
      height: 48px;
      background-color: #edf1f7;
      font-weight: 600;
      &::before {
        display: none;
      }
    }
  }

  :global(.ant-table-tbody) {
    :global(.ant-table-row):nth-last-of-type(1) {
      :global(.ant-table-cell) {
        border-bottom: none;
      }
    }
  }
}
