@use "styles/theme01" as *;

.profile {
  display: grid;
  height: fit-content;
  margin: 40px 50px 0;
  grid-template-columns: repeat(2, fit-content(100%));
  gap: 18px 105px;
  .input02 {
    padding: 0;
    > span {
      color: $colorMain;
    }
    > hr {
      border-color: $colorBorder01;
    }
  }
}

.sheet {
  margin: 40px 16px 130px;
  padding: 3px;
  border: solid 1px $colorBorder01;
  .thead,
  .tbody {
    display: grid;
    grid-template-columns: 2fr 2fr 7fr 1fr;
    > div {
      text-align: center;
      > span {
        font-weight: 400;
        font-size: 16px;
      }
      &:nth-of-type(3) {
        text-align: left;
        > span {
          margin-left: 20px;
        }
      }
    }
  }

  .thead {
    background-color: $bgc01;
    border-bottom: solid 1px $colorBorder01;
    margin-bottom: 3px;
    > div {
      // border: solid 1px black;
      > span {
        color: $colorMain;
      }
    }
  }

  .tbody {
    // border: solid 1px $colorBorder01;
    // border-width: 1px 0px 0px 1px;
    > div {
      > div {
        &:nth-last-of-type(1) {
          border-bottom: 0;
        }
      }
    }
    > div:nth-last-of-type(1) {
      > div {
        border-right: 0;
      }
    }
  }
}
