@use "styles/layout" as *;
@use "styles/theme01" as *;

// ==================================================
// 出庫單
.outboundOrder {
  padding: 17px;
  padding-top: 48px;

  .remark {
    margin-top: 40px;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      button {
        width: fit-content;
      }
    }

    .textarea {
      height: 175px;
      border: solid 1px $colorBorder01;
      padding: 15px 32px;
      > textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-weight: 400;
        font-size: 18px;
        background-color: transparent;
      }
    }
  }

  .title {
    margin-left: 31px;
    margin-bottom: 35px;
    > div {
      display: grid;
      grid-template-columns: 75px auto;
      align-items: center;
      gap: 20px;
      > span {
        font-weight: 400;
        font-size: 18px;
        &:nth-of-type(1) {
          color: $colorMain;
        }
      }
    }
    .btnBar {
      display: flex;
      gap: 20px;
    }
  }
}
// ==================================================
// 派工單列表
.dispatchList {
  padding: 40px 0 20px 0;
  background-color: #000;
  > hr {
    border-color: red;
  }
}
