@use "styles/layout" as *;
@use "styles/theme01" as *;

.sel {
  > * {
    margin: auto;
    margin-left: 0;
  }
}

.selSingleValue {
  text-align: center;
}
.selSingleValue_custom {
  img {
    // width: 60px;
    height: 54px;
  }
}

.selOption_custom {
  img {
    // width: 60px;
    height: 54px;
  }
}
