.form {
  .input {
    width: 320px;
  }
  .datePicker {
    width: 145px;
  }
}

.formItem {
  all: unset;
  :global(.ant-row) {
    all: unset;
    :global(.ant-col) {
      all: unset;
      :global(.ant-form-item-control-input) {
        all: unset;
        :global(.ant-form-item-control-input-content) {
          all: unset;
        }
      }
    }
  }
}
