@use "styles/theme01" as *;

.employeeList {
  padding: 4px;

  .thead {
    background-color: $bgc01;
    display: flex;
    gap: 30px;
    height: 40px;
    padding-left: 34px;
    padding-right: 20px;
    > * {
      flex: none;
    }
    .countBox {
      margin: auto;
      > span {
        font-size: 13px;
        font-weight: 400;
      }
      .numerator {
        margin-left: 5px;
        color: #ea1833;
      }
    }
  }

  .tbody {
    .row {
      display: flex;
      gap: 30px;
      min-height: 53px;
      padding-left: 34px;
      padding-right: 20px;
      border-bottom: solid 1px $colorBorder01;
      .column {
        flex: none;
        > span {
          font-size: 16px;
          color: $colorText;
        }
      }
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }
  }
  .column {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    > span {
      font-weight: 400;
      font-size: 14px;
      color: #979797;
    }

    &.departmentInfo {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px 35px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .btnRemove {
      width: 18px;
      stroke: $colorMain;
      &:hover {
        fill: #14256a20;
      }
    }
  }
}
