@use "styles/theme01" as *;
@use "./local.module" as *;

.container {
  position: relative;
  padding: 38px 45px;
}

// 客戶代號
.id {
  min-width: 300px;
  width: fit-content;
  padding: 20px $leftPadding_title;
  border: solid 1px $colorBorder01;
  > span {
    &:nth-of-type(1) {
      margin-right: 40px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $colorText;
    }
    &:nth-of-type(2) {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.form01 {
  display: grid;
  grid-template-columns: 318px auto 318px;
  justify-content: space-between;
  width: 702px;
  > label {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      grid-column: span 3;
    }
  }
}

.form02 {
  position: absolute;
  top: 30px;
  right: 37px;
  width: 238px;
  height: fit-content;
}

.form03 {
  margin-top: 36px;
}

.form04 {
  position: relative;
  display: inline-block;
  width: 340px;
  padding: 7px 16px 21px 16px;
  margin-right: 76px;
  margin-top: 40px;
  border: solid 1px $colorBorder01;
  > div {
    display: grid;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: calc(100% + 12px);
    transform: translateY(-50%);
  }
}

.vr {
  position: relative;
  top: 23px;
  background-color: #000;
  width: 1px;
  height: 151px;
}
