@use "styles/theme01" as *;

.top {
    @extend .grid;

    .address {
        grid-column: span 1;
    }

}

.grid {
    display: grid;
    grid-template-columns: 500px;
    justify-content: space-between;
    gap: 35px;
}

.container {
    display: flex;
    overflow-y: hidden;
    height: 712px;
}

.left {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid #c1c1c1;
    overflow-y: auto;
    height: 712px;
    // margin-right: 15px;
}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #c1c1c1;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 712px;
}


.content {
    width: 100%;
    overflow-y: auto;
    top: 0;
}

.head_head1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(214, 214, 214);

    div {
        margin-right: 2px;
    }

    // background-color: gray;
}

.head_content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 2px;
    }
}

.head_content2 {
    display: grid;
    grid-template-columns: 597px 1fr 1fr;
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 2px;
    }
}

.head_content3 {
    display: grid;
    grid-template-columns: 600px 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 2px;
    }
}

.head_content4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

    div {
        margin-right: 2px;
    }
}

.head_foot1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

}

.head_foot2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-top: 1px solid #c1c1c1;
}

.head_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    // background-color: gray;
}


.addBtn {
    position: sticky;
    left: 0;
    z-index: 1;
    text-align: center;
    border: none;
    background-color: white;

}


.content_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;

    // background-color: gray;
}

.body_content1 {
    display: grid;
    grid-template-columns: 1fr; // 左右兩邊比例，可以調整
    gap: 0px;
    width: auto;
    // margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
    // border-top:1px solid rgb(168, 168, 168);
    overflow-x: hidden;
    // background-color: gray;
}

.body_foot1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    // background-color: gray;
}
.body_foot2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #c1c1c1;
  }
.count_table {
    font-size: 16px;
    color: #1b2d5a;
    text-align: right;

    tr {
        td {
            // border: 1px solid gray;
            text-align: right;
            width: 80px;
        }
    }
}


.foot_head1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 15px;
    width: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.foot_content1 {
    display: grid;
    grid-template-columns: 1fr; // 左右兩邊比例，可以調整
    gap: 0px;
    width: auto;
    // margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
    // border-top:1px solid rgb(168, 168, 168);
    overflow-x: hidden;
    // background-color: gray;
}


// .mytitle {
//     padding-top: 5px;
//     font-size: 16px;
//     color: #1b2d5a;
//     text-align: left;
// }

//#region 採購單明細
div.panelHeader11 {
    padding-left: 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 30px 150px 415px 415px 50px 50px 40px 60px 80px 30px 200px;
        gap: 5px;
    }
}

div.panelHeader13 {
    padding-left: 20px;
    border-bottom: solid 1px $colorBorder01;

    .row01,
    .row02 {
        span {
            font-weight: 400;
            font-size: 16px;
        }

        .clientName,
        .country {
            color: $colorMain;
        }
    }

    .row01 {
        display: grid;
        grid-template-columns: 30px 150px 300px 80px 80px 60px 80px 80px 250px 60px;
        gap: 5px;
    }
}



// #按鈕
.greenbutton {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #2e9619;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #2e9619;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #2e9619;
        background-color: #2e96192c;
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #2e9619;
    }
}

.bluebutton {
    height: 28.28px;
    // padding: 0px 40px;
    // border: solid 1px gray;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    // padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #14256a;
        background-color: #14256a1b
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #14256a;
    }
}

.tabbutton {
    height: 40px;
    // padding: 0px 40px;
    // border: solid 1px #14256a;
    background-color: $bgc01;
    padding-left: 22px;
    padding-right: 22px;
    // padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    // color: #14256a;
    color: gray;
    transform: translateY(2px);

    &:hover {
        //   border: solid 1px #14256a;
        background-color: #14256a1b
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #14256a1b;
        color: #14256a;
    }
}

.redbtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #ea1833;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}

.graybtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c121
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}


.minibtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #14256a;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #c1c1c1;
        background-color: #c1c1c17c
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #c1c1c1;
    }
}

.miniredbtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #ea1833;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ea1833;
    transform: translateY(2px);

    &:hover {
        border: solid 1px #ea1833;
        background-color: #ea18341d
    }

    &:focus {
        background-color: $bgc01;
        border: solid 1px #ea1833;
    }
}

.minidisabledbtn {
    height: 28.28px;
    // width: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        background-repeat: no-repeat;
        background-position: center right 10px;
        /* 調整圖標位置 */
        cursor: not-allowed;
        /* 添加這行使滑鼠顯示禁止符號 */
    }
}

.disabledbtn {
    height: 36px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    ;
    background-color: $bgc01;
    padding: 4px 22px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #5b5a5ad6;
    transform: translateY(2px);

    &:hover {
        background-repeat: no-repeat;
        background-position: center right 10px;
        /* 調整圖標位置 */
        cursor: not-allowed;
        /* 添加這行使滑鼠顯示禁止符號 */
    }

}

.modal_head_head1 {
    display: grid;
    grid-template-columns: 390px 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    margin-left: 10px;
    // margin-right: 20px;  


}

.modal_head_content1 {
    display: grid;
    grid-template-columns: 390px 1fr; // 左右兩邊比例，可以調整
    // gap: 15px;
    width: auto;
    // margin-top: 5px;
    // margin-left: 20px;
    // margin-right: 20px;


}

.squarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #14256a;
    transform: translateY(2px);
  
    &:hover {
      border: solid 1px #c1c1c1;
      background-color: #c1c1c17c
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }
  
  .redsquarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #14256a;
    transform: translateY(2px);
  
    &:hover {
      border: solid 1px #c1c1c1;
      background-color: #c1c1c17c
    }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }
  
  .disablesquarebtn {
    height: 50px;
    width: 50px;
    // padding: 0px 40px;
    border: solid 1px #c1c1c1;
    background-color: $bgc01;
    padding: 0px 8px;
    // padding-top: 4px;
    // padding-bottom: 4px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #5b5a5ad6;
    transform: translateY(2px);
  
    &:hover {
      background-repeat: no-repeat;
      background-position: center right 10px;
      /* 調整圖標位置 */
      cursor: not-allowed;
      /* 添加這行使滑鼠顯示禁止符號 */
  }
  
    &:focus {
      background-color: $bgc01;
      border: solid 1px #c1c1c1;
    }
  }

//判斷字串是否過長
.truncate {
    display: inline-block;
    max-width: 200px; /* 設定你希望的最大寬度 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle; /* 可選，根據需要對齊文本 */
  }


  

  .head_body {
    display: grid;
    grid-template-columns: 75% 1fr;
    // gap: 15px;
    // width: auto;
    // margin-top: 5px;
    // margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

//#region 採購單
div.panelHeader10 {
    border-bottom: solid 1px $colorBorder01;
    
    .row01,
    .row02 {
      padding-left: 20px;
      span {
        font-weight: 400;
        font-size: 16px;
      }
  
      .clientName,
      .country {
        color: $colorMain;
      }
    }
  
    .row01 {
      display: grid;
      grid-template-columns: 30px 100px 80px 50px 200px;
      gap: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .selectedRow {
      background-color: #ecf1ff;
      /* 當前選擇項目的背景顏色 */
    }
  }
  
  //#endregion