.main {
  padding: 0 17px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.checkBar01 {
  margin-top: 21px;
  margin-left: 32px;
  margin-right: 30px;
}
.checkBar02 {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 32px;
  margin-right: 30px;
}

.checkActive {
  span {
    color: red;
  }
}

.cleanPeriodBar {
  display: grid;
  grid-template-columns: auto auto auto;
  // width: 196px;
  height: 53px;
  border: solid 1px theme("colors.border");

  > div {
    display: grid;
    width: 196px;
    height: 100%;
    cursor: pointer;
    > * {
      margin: auto;
    }
  }

  .right {
    position: relative;
    background-color: #fee;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 3px;
      height: 49px;
      left: 0;
      top: 1px;
      background-color: red;
    }
  }
}

.addInvoiceModal {
  display: grid;
  gap: 17px;
  margin-top: 42px;
  margin-bottom: 48px;
  input {
    border-bottom: solid 1px black;
    text-align: center;
  }
  :global(.ant-picker-input) {
    border-bottom: solid 1px black;
    input {
      border: none;
    }
  }
}
