.main {
  padding: 0 17px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.checkBar01 {
  margin-top: 21px;
  margin-left: 32px;
  margin-right: 30px;
}

.checkActive {
  span {
    color: red;
  }
}
