.body {
  padding: 0 3px;
}

.cover {
  width: 100%;
  height: 22px;
  background-color: pink;

  &::before {
    content: "cover";
    display: block;
  }
}

.tabBar {
  width: 100%;
  background-color: pink;

  .tab {
    width: fit-content;
    padding: 15px 45px;
    background-color: #fff;
    border: solid 1px theme("colors.border");
    font-size: 16px;
    font-weight: 700;
    color: theme("colors.main");
  }
}

.row {
  display: flex;
  gap: 10px;
  border: solid 1px black;
  > * {
    flex: none;
  }
}

.thead {
  background-color: theme("colors.bgc01");
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.cell_btn {
  .active {
    color: red;
  }
}
