@use "styles/theme01" as *;

form.container {
  display: flex;
  border-bottom: solid 1px $colorText;
  padding: 4px 12px;
  // margin-right: 7px;
  > * {
    padding: 6px 0;
  }
}

.selectBox {
  margin-left: 27px;
  width: 120px; //預設120px
  &:nth-of-type(1) {
    margin-left: 0px;
  }
  .select {
    padding: 0;
    hr {
      display: none;
    }
    [class$="placeholder"] {
      // font-weight: 500;
      font-weight: 400;
    }
    [class$="singleValue"] {
      // font-weight: 500;
      font-weight: 400;
    }
  }
}

.selSinglevalue,
.selPlaceholder {
  font-weight: 400;
  font-size: 16px;
}
div.selOption {
  font-weight: 400;
  font-size: 16px;
}

.pilar {
  width: 1px;
  margin: 0 15px;
  background-color: $colorBorder01;
  &:nth-child(1) {
    display: none;
  }
}

.label {
  input {
    width: 200px; //預設200px
    // font-weight: 500;
    font-weight: 400;
    font-size: 16px;
    &::placeholder {
      color: $colorBorder01;
      font-weight: 400;
    }
  }
}

svg.iconSearch {
  padding: 0;
  margin: auto;
  margin-left: 25px;
}
