.dropdown {
  cursor: pointer;
}

.label {
  padding: 10px 22px;
  background-color: theme("colors.bgc01");
  color: theme("colors.main");
  height: fit-content;
  font-size: 16px;
}

.menu {
  // display: grid;
  // gap: 10px;
  // padding: 10px;
}

.item {
  // background-color: pink;
  background-color: inherit;
  :global(.ant-dropdown-menu-title-content) {
    display: grid;
  }
}
