@use "styles/theme01" as *;
@use "styles/layout" as *;

// .mainContainer {
//   height: fit-content;
// }

.dailyReport {
  :global(.rbc-month-view) {
    height: fit-content;
    :global(.rbc-header) {
      &:not(:nth-of-type(1)) {
        border-left-width: 2px;
      }

      border-bottom-width: 2px;
      font-size: 20px;
    }
  }
  :global(.rbc-month-row) {
    display: inline-table;
    height: fit-content;
    min-height: 150px;
    overflow: visible;

    :global(.rbc-row-bg) {
      overflow: visible;
      :global(.rbc-off-range-bg) {
        background-color: unset;
      }
    }

    &:not(:nth-of-type(2)) {
      border-top-width: 2px;
    }
    :global(.rbc-today) {
      background-color: unset;
    }
    :global(.rbc-day-bg):not(:nth-of-type(1)) {
      border-left-width: 2px;
    }

    :global(.ant-badge-status-dot) {
      width: 8px;
      height: 8px;
    }

    :global(.rbc-date-cell) {
      > button {
        display: block;
        margin: auto;
        margin-left: 10px;
        font-weight: 600;
        font-size: 24px;
        cursor: auto;
      }
    }

    // :global(.rbc-row) {    }
  }

  :global(.rbc-month-view) {
    border-width: 2px;
    border-left:0;
    border-right:0;
  }

  // :global(.rbc-event) {
  //   background-color: unset;
  // }
  // :global(.rbc-event:focus) {
  //   outline: unset;
  // }
}

.toolBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 20px 17px;
  .left {
  }
  .center {
    display: flex;
    gap: 28px;
    align-items: center;
    > span {
      font-size: 18px;
      color: $colorMain;
    }
    .arrow {
      display: inline-grid;
      width: 38px;
      height: 38px;
      padding: 0;
      > img {
        margin: auto;
      }
    }
  }
  .right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
    width: fit-content;
    margin: auto;
    margin-right: 0;
  }
}

.dateHeader {
  .isCurrentMonth {
    color: $colorBorder01;
  }
}

.eventWrapper {
  &:hover {
    background-color: $hoverBgc01;
  }
}

.dateCellWrapper {
  position: relative;
  &.isToday {
    .border {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-sizing: content-box;
      width: calc(100%);
      height: calc(100%);
      border: solid 2px red;
      z-index: 1;
    }
  }
}
