@use "styles/theme01" as *;

.container {
  position: relative;
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
  @screen laptop {
    max-width: 640px;
    margin: auto;
  }
  .body {
    position: relative;
    border: solid 1px $colorBorder01;
    overflow: auto;
    scroll-behavior: smooth;
    // > div {
    //   height: 100%;
    //   overflow: auto;
    //   scroll-behavior: smooth;
    // }
  }
}
