@use "styles/theme01" as *;

.antdTable {
  :global(.ant-table) {
    th {
      padding: 12px 10px;
      // padding: 12px 31px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #979797;
    }
    td {
      padding: 17px 10px;
      // padding: 17px 31px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #404040;
    }
  }
  // ant-table-cell就是th跟td
  :global(.ant-table-cell) {
    border: none;
    border-bottom: solid 1px #c1c1c1;

    // border:solid 1px black;

    &::before {
      display: none;
    }
    &:nth-of-type(1) {
      padding-left: 46px;
    }
  }

  :global(.ant-table-thead) {
  }

  // :global(.){
  // }
}

.infoSpan {
  &::after {
    content: "/";
    margin: 0 3px;
  }
  &:nth-last-of-type(1)::after{
    display: none;
  }
}

.iconDelete {
  display: block;
  margin:auto;
  cursor: pointer;
}
