@use "styles/theme01" as *;

$colorRed: #ea1833;
$colorLightPink: #ffeeee;

svg.svg {
  color: $colorMain;
  cursor: pointer;
  &.active {
    color: $colorActive01;
  }
  &:hover {
    color: $colorActive01;
  }
}

.cursorAuto {
  cursor: auto;
}

.circle {
  stroke: $colorRed;
  &:hover {
    fill: $colorLightPink;
  }
}
