$colorMain: #14256a;
$colorSub: #404040;
$colorText: #404040;

$colorActive01: #ea1833;

$colorBorder01: #c1c1c1;

$bgc01: #f5f5f5;
$bgc02: #fcfcfc;

$hoverBgc01: #ecf1ff;
$chosenBgc01: #ffeeee;

:export {
  colorMain: $colorMain;
  colorText: $colorText;
  colorBorder01: $colorBorder01;
  bgc01: $bgc01;
}
