@use "styles/theme01" as *;

// 改為在pages/_document.tsx匯入字體
/* 字體 Inter */
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 字體 Noto sans */
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

// tailwind的css設定會使 html2canvas 跑版
// 為了使html2canvas產生的canvas不跑版，所以這樣設定
@layer base {
  img {
    @apply inline-block;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: noto sans tc;
  // font-family: inter, noto sans tc;
  height: 100%;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
textarea,
input {
  font-family: noto sans tc;
  // font-family: inter, noto sans tc;
  color: $colorText;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// 出現404頁面的時候，把css蓋掉
// 不然被bod的bgc會被設定成#000
@media (prefers-color-scheme: dark) {
  html > body {
    background-color: #fff;
  }
}
