@use "styles/theme01" as *;

// 改為在pages/_document.tsx匯入字體
/* 字體 Inter */
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 字體 Noto sans */
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

// @tailwind base;
@tailwind components;
@tailwind utilities;

// tailwind的css設定會使 html2canvas 跑版
// 為了使html2canvas產生的canvas不跑版，所以這樣設定
@layer base {
  img {
    @apply inline-block;
  }
  svg {
    vertical-align: unset;
  }
}
// 變量字體，有些瀏覽器或舊版瀏覽器不支援
// @font-face {
//   font-family: "Noto Sans TC";
//   src: url("../public/fontFamily/NotoSansTC-VariableFont_wght.ttf") format("truetype");
// }

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    // noto sans tc,
    Microsoft JhengHei;
  // font-family: inter, noto sans tc;

  // font-family: Microsoft JhengHei;
  height: 100%;
  font-size: 14px;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
textarea,
input {
  font-family:
    // noto sans tc,
    Microsoft JhengHei;
  // font-family: inter, noto sans tc;
  // font-family: Microsoft JhengHei;
  color: $colorText;
  outline: none;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::placeholder {
  // color: $colorBorder01;
  color: #c1c1c1;
}

// ==========================================================================
// MARK: ANTD
.ant-modal {
  .ant-btn {
    > span {
      font-size: 16px;
    }
  }
}

// 在Radio或Checkbox的className加入originalDisabledStyle就可以取消以下的自訂樣式
.ant-checkbox-wrapper:not(.originalDisabledStyle),
.ant-radio-wrapper:not(.originalDisabledStyle) {
  &.ant-checkbox-wrapper.ant-checkbox-wrapper-disabled {
    cursor: auto;
    .ant-checkbox-disabled {
      cursor: auto;
      & + span {
        cursor: auto;
      }
    }
  }

  &.ant-radio-wrapper-disabled {
    cursor: auto;

    .ant-radio-disabled {
      cursor: auto;
      & + span {
        cursor: auto;
      }
      .ant-radio-inner,
      .ant-radio-input {
        cursor: auto;
      }
    }
  }

  .ant-checkbox-disabled + span,
  .ant-radio-disabled + span {
    color: theme("colors.sub");
  }

  .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: theme("colors.sub");
  }

  .ant-radio-disabled .ant-radio-inner::after {
    background-color: theme("colors.sub");
  }
}

// ==========================================================================

// 出現404頁面的時候，把css蓋掉
// 不然被bod的bgc會被設定成#000
@media (prefers-color-scheme: dark) {
  html > body {
    background-color: #fff;
  }
}

// 用來把input type="number"元素右邊的上下箭頭隱藏
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
input:focus-visible {
  outline: none;
}

.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}

.f400 {
  font-weight: 400;
}
.f500 {
  font-weight: 500;
}
.f600 {
  font-weight: 600;
}
.f700 {
  font-weight: 700;
}

.cmain {
  color: theme("colors.main");
}
.csub {
  color: theme("colors.sub");
}
.ctext {
  color: theme("colors.text");
}
.cactive {
  color: theme("colors.active");
}

::-webkit-scrollbar {
  // width: 7px;
  // height: 7px;
  width: 12px;
  height: 12px;
  background-color: theme("colors.bgc01");
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  // background-color: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #555;
  background: #ddd;
}

.global_absoluteRightTop {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.global_absoluteRightTopRight {
  position: absolute;
  top: 0;
  right: -15px;
  transform: translate(50%, -50%);
}

.global_tip_must {
  position: relative;
  &:before {
    content: "*";
    font-size: 30px;
    color: red;
    position: absolute;
    top: -5px;
    left: -15px;
  }
}

.global_container01 {
  padding: 20px;
  border: solid 1px theme("colors.border");
}

.global_grid01 {
  @extend .global_container01;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
