$pdfWidth: calc(595px * 2);
$pdfHeight: calc(842px * 2);

.antdModalWrapper {
  margin-top: 40px;
}

.standardPdf {
  width: $pdfWidth;
  height: $pdfHeight;
  padding: 60px 40px;
  * {
    font-family: Microsoft JhengHei;
    color: black;
  }
}
