.antdSwitch {
  &:global(.ant-switch) {
    background-image: unset;
    background: theme("colors.pass");
    height: 30px;
    span {
      font-size: 14px;
    }

    :global(.ant-switch-handle) {
      top: 5px;
      width: 20px;
      height: 20px;
    }
  }
  &:global(.ant-switch-checked) {
    background: theme("colors.antdBlue.primary");
  }
}

.mySwitch {
  display: flex;
  align-items: center;
  height: 48px;
}
