.antd_checkbox {
  * {
    transition: none !important;
  }
}

.reviewing {
  background-color: theme("colors.chosenBgc");
}
.reviewed {
  background-color: theme("colors.ok");
}

.cell_check {
  position: sticky;
  left: 0;
  background-color: inherit;
  border-right: solid 1px theme("colors.border");
}
.cell_detail {
  position: sticky;
  right: 0;
  background-color: inherit;
  border-left: solid 1px theme("colors.border");
}
