.container {
  padding: 50px;
}

.info {
  width: 1000px;
  display: grid;
  grid-template-columns: 230px auto;
  gap: 20px 134px;
}

.selectBar {
  display: flex;
  gap: 20px;
  align-items: center;

  margin-top: 20px;
}

.antd_usedOption {
  background-color: theme("colors.chosenBgc");
}
