.container {
  padding: 50px;
}

.info {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 134px;
}

.row {
  display: grid;
  grid-template-columns: fit-content(100%) 100px 300px 50px;
  gap: 20px;
  input {
    border-bottom: solid 1px black;
  }
}
