.container {
  padding: 50px;
}

.table {
  width: 100%;
  max-height: 380px;
  overflow: auto;
}

.checkBox.plus {
  cursor: unset;
  :global(.ant-checkbox-inner) {
    cursor: unset;
  }
  :global(.ant-checkbox) {
    cursor: unset;
  }
}
