.container {
  padding: 50px;
}

.table {
  width: 100%;
  max-height: 380px;
  overflow: auto;
}

.info {
  display: grid;
  grid-template-columns: 230px auto;
  gap: 20px 134px;
}

.supplyStatus {
  color: theme("colors.danger");
  &.isDone {
    color: theme("colors.pass");
  }
}

.checkBox.plus {
  cursor: unset;
  :global(.ant-checkbox-inner) {
    cursor: unset;
  }
  :global(.ant-checkbox) {
    cursor: unset;
  }
}
