.container {
  padding: 50px;
}

.info {
  display: grid;
  grid-template-columns: 230px auto;
  gap: 20px 134px;
}

.supplyStatus {
  color: theme("colors.danger");
  &.isDone {
    color: theme("colors.pass");
  }
}
