// 派工單列表

.body {
  padding: 40px 50px 20px 50px;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
}

.profile {
  display: grid;
  grid-template-columns: min-content 300px;
  justify-content: space-between;
  .left {
    display: grid;
    gap: 20px;
  }
}
