.bodyWrapper {
  margin-top: 20px;
  border: solid 1px theme("colors.border");
}
.body {
  // width: 600px;
  // width: auto;
  // height: fit-content;
  aspect-ratio: 176/250;
  padding: 40px;

  overflow: hidden;
  // background-color: #eee;
  * {
    color: black;
  }
  span,
  p,
  h1,
  div {
    white-space: pre-wrap;
  }
}

.title {
  font-size: 25px;
  > p {
    text-align: center;
  }
  > p:nth-of-type(1) {
    letter-spacing: 5px;
  }
  > p:nth-of-type(2) {
    letter-spacing: 15px;
  }
}

.dateAndIndex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  > div {
    display: flex;
    gap: 10px;
  }
}

.form {
  border: solid 1px #000;
  border-width: 1px 0 0 1px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 1px #000;
  border-width: 0 1px 1px 0;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 18px;
}

.c01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 50px;
  // padding: 10px 5px;
  padding-left: 20px;
  padding-right: 20px;
}
// .c03 {
//   display: flex;
//   align-items: center;
// }

// .c04 {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.c05 {
  justify-content: flex-start;
}

.c07 {
  justify-content: flex-start;
}

.cell_09-10 {
  display: grid;
  grid-template-columns: max-content max-content;
}

.row_content {
  // max-height: 532px;
  // height: fit-content;
  // max-height: 532px;
}

.wrapper_cell_12-8-9 {
  // max-height: 100%;
  // overflow: hidden;
  position: relative;
}

.cell_12-8-9_head {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  // background-color: white;
  display: grid;
  grid-template-columns: max-content max-content;
  // grid-template-rows: repeat(8, minmax(38px, max-content));
  grid-auto-rows: 38px;
  align-content: space-between;

  // max-height: 532px;
  height: 100%;
  > .cell:nth-of-type(1) {
    grid-column: span 2;
  }
  .latest {
    position: sticky;
    bottom: 0;
    background-color: inherit;
    background-color: white;
  }

  overflow: hidden;
}
.cell_12-8-9 {
  @extend .cell_12-8-9_head;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: white;

  > .cell:nth-of-type(1) {
    grid-column: unset;
  }
  // .latest {
  //   position: sticky;
  //   bottom: 0;
  //   background-color: inherit;
  // }
}

.cell_08_warranty {
  padding: 0;
  font-size: 12px;
}

.c00_center {
  // height: 265px;
  display: grid;
  align-content: space-evenly;
}

.c00_bottom {
  display: grid;
  grid-template-areas:
    "a b "
    "c d";
  align-content: space-evenly;
  justify-content: space-evenly;

  gap: 20px 0;
}

.c11_content {
  // display: block;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 16;
  // overflow: hidden;



  white-space: pre-wrap;

  line-height: unset;
  font-size: 20px;
  letter-spacing: 1px;
  min-height: 310px;
  max-height: 532px;
  overflow: hidden;
  // height:fit-content;
  // font-size: 20px;
  // letter-spacing: 2px;
}

.cell_time {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  .left {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px 50px;
  }
  .right {
    position: relative;
    right: -20px;
  }
}

.c08_customerSign {
  writing-mode: vertical-lr;
  > span {
    letter-spacing: 10px;
    // &:not(:nth-last-of-type(1)) {
    //   letter-spacing: 10px;
    // }
  }
}

.signBar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 20px;
  font-size: 18px;
  > div {
    display: grid;
    align-content: space-between;
  }
}

.noPaddingY {
  padding-top: 0;
  padding-bottom: 0;
}

.noPadding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
