.btnBar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: solid 1px theme("colors.border");
}

.profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  border: solid 1px theme("colors.border");
}

.table {
  max-height: 380px;
  overflow: auto;
  width: fit-content;
  max-width: 100%;
}
